@use '../admin/variables';
@use '../admin/mixins--focus' as focusMixins;
@use '../admin/mixins--general' as generalMixins;

code,
kbd {
  border-radius: variables.$border-radius-small;
  padding: .1em .1em .05em;
}

code {
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
  margin-right: .1em; // For when immediately followed by punctuation
  background-color: variables.$colour-code-background;
  background-color: light-dark(
    variables.$colour-code-background,
    variables.$colour-dark-mode-code-background
  );
  @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
    background-color: variables.$colour-dark-mode-high-contrast-code-background;
  }
}

kbd {
  font-family: system-ui, sans-serif;
  margin-right: .2em;
  margin-left: .2em;
  box-shadow: 0 0 0 1px variables.$colour-light-mode-neutral, 0 2px 0 1px variables.$colour-light-mode-neutral;
  box-shadow: 0 0 0 1px light-dark(
    variables.$colour-light-mode-neutral,
    variables.$colour-dark-mode-neutral
  ), 0 2px 0 1px light-dark(
    variables.$colour-light-mode-neutral,
    variables.$colour-dark-mode-neutral
  );
}

code {
  font-family: 'Operator Mono', menlo, monaco, 'Lucida Console', monospace;
  font-weight: inherit;
  font-size-adjust: .53;
}

pre code,
pre {
  color: variables.$colour-light-mode-foreground;
  color: light-dark(
    variables.$colour-light-mode-foreground,
    variables.$colour-dark-mode-foreground
  );
}

pre {
  background-color: variables.$colour-code-background;
  background-color: light-dark(
    variables.$colour-code-background,
    variables.$colour-dark-mode-code-background
  );
  padding: 1em;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  border-radius: variables.$border-radius-default;
  margin-top: 1em;
  margin-bottom: 1em;
  overflow: auto;
  @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
    background-color: variables.$colour-dark-mode-high-contrast-code-background;
  }
  @include focusMixins.scroll-container;

  @media (min-width: variables.$l) {
    @include generalMixins.overspill;

    li & {
      @include generalMixins.overspill-reset;
    }
  }

  code {
    display: block;
    padding: 0;
    width: auto;
    text-wrap: nowrap;
    margin-right: 0;
  }
}

// For syntax highlighting, see ../../components/_syntax-highlighting.scss
