@use '../admin/variables';
@use '../admin/mixins--modes' as modeMixins;
@use '../admin/mixins--links' as linksMixins;

summary {
  margin-top: 1em;
  color: variables.$colour-primary-darker;
  @include linksMixins.text-link;
  @include modeMixins.dark-mode($colour: variables.$colour-primary);
  @include modeMixins.high-contrast($colour: variables.$colour-dark-mode-primary-light);

  @media (min-width: variables.$l) {
    text-indent: -.8em;
  }

  &::marker {
    font-size: .7em;
  }
}

details {

  + p {
    margin-top: 1em;
  }
}
