@use '../admin/variables';
@use '../admin/mixins--links' as linksMixins;

summary {
  margin-top: 1em;
  color: variables.$colour-primary-darker;
  color: light-dark(
    variables.$colour-primary-darker,
    variables.$colour-primary
  );
  @include linksMixins.text-interaction;
  @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
    color: variables.$colour-dark-mode-primary-light;
  }

  @media (min-width: variables.$l) {
    text-indent: -.8em;
  }

  &::marker {
    font-size: .7em;
  }
}

details {

  + p {
    margin-top: 1em;
  }
}
