@use '../admin/variables';
@use '../admin/mixins--links' as linksMixins;

summary {
  margin-top: 1em;
  color: variables.$colour-light-mode-accent-text;
  color: light-dark(
    variables.$colour-light-mode-accent-text,
    variables.$colour-dark-mode-accent-text
  );
  @include linksMixins.text-interaction;
  @media screen and (prefers-contrast: more) {
    color: variables.$colour-light-mode-high-contrast-accent-text;
    color: light-dark(
      variables.$colour-light-mode-high-contrast-accent-text,
      variables.$colour-dark-mode-high-contrast-accent-text
    );
  }

  @media (min-width: variables.$l) {
    text-indent: -.8em;
  }

  &::marker {
    font-size: .7em;
  }
}

details {

  + p {
    margin-top: 1em;
  }
}
