@use '../admin/variables';
@use '../admin/mixins--buttons' as buttonsMixins;
@use '../admin/mixins--modes' as modeMixins;

form {
  margin-bottom: 1em;
}

label {
  font-weight: bold;
  margin-top: 1em;
  display: inline-block;
  @include modeMixins.high-contrast($colour: variables.$colour-dark-mode-primary-light);
}

input,
textarea {
  background-color: variables.$colour-main;
  border: 3px solid variables.$colour-primary;
  border-radius: variables.$border-radius-default;
  display: block;
  padding: .5em .75em;
  width: 100%;
  line-height: 1.2;
  @include modeMixins.dark-mode(variables.$colour-dark-mode-main, variables.$colour-dark-mode-white);
  @include modeMixins.high-contrast($background: variables.$colour-high-contrast-main) {
    border-color: variables.$colour-dark-mode-primary-light;
  }

  &:focus {
    outline: solid 3px variables.$colour-black;
    outline-offset: 0px;
    @include modeMixins.dark-mode() {
      outline: solid 3px variables.$colour-white;
    }
  }
}

[type="submit"] {
  display: block;
  font-size: inherit;
  line-height: 1.2;
  @include buttonsMixins.button;
}


.form-error  {
  border-left: .15em solid variables.$colour-red;
  padding: .25em 0 .25em .85em;

  input {
    border-color: variables.$colour-red;
    @include modeMixins.dark-mode() {
      border-color: variables.$colour-red;
    }
  }
}
