@use '../admin/variables';
@use '../admin/mixins--buttons' as buttonsMixins;
@use '../admin/mixins--general' as generalMixins;

form {
  margin-top: 1em;
  margin-bottom: 1em;
}

[name="contact"] {
  @include generalMixins.boxout;
}

.input-group + .input-group {
  margin-top: 1em;
}

label {
  font-weight: bold;
  display: inline-block;
  @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
    color: variables.$colour-dark-mode-high-contrast-accent-text;
  }
}

input,
textarea {
  background-color: variables.$colour-light-mode-background;
  background-color: light-dark(
    variables.$colour-light-mode-background,
    variables.$colour-dark-mode-background
  );
  border: 3px solid variables.$colour-light-mode-accent;
  border-color: light-dark(
    variables.$colour-light-mode-accent,
    variables.$colour-dark-mode-accent
  );
  border-radius: variables.$border-radius-default;
  display: block;
  padding: .5em .75em;
  width: 100%;
  line-height: 1.2;
  color: variables.$colour-light-mode-foreground;
  color: light-dark(
    variables.$colour-light-mode-foreground,
    variables.$colour-dark-mode-foreground
  );
  @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
    background-color: variables.$colour-dark-mode-high-contrast-background;
    border-color: variables.$colour-dark-mode-high-contrast-accent;
  }

  &:focus {
    outline: solid 3px currentColor;
    outline-offset: 0;
  }
}

[type="submit"],
button {
  @include buttonsMixins.button;
}

.form-error  {
  border-left: .15em solid variables.$colour-light-mode-error;
  padding: .1em 0 .45em .85em;

  input,
  textarea {
    border-color: variables.$colour-light-mode-error;
  }

  :target {
    scroll-margin-block-start: 3.5em;
  }

  [id$="hint"] ~ :target {
    scroll-margin-block-start: 5em;
  }
}

.error-summary {
  scroll-margin-block-start: 1.5em;
  margin-bottom: 2em;

  h2 {
    margin-top: .25em;
  }

  ul {
    padding-left: 1em;
  }

  a {

    &:link,
    &:visited {
      color: variables.$colour-light-mode-accent-text;
      color: light-dark(
        variables.$colour-light-mode-accent-text,
        variables.$colour-dark-mode-high-contrast-accent-text
      );
      @media screen and (prefers-color-scheme: light) and (prefers-contrast: more) {
        color: variables.$colour-light-mode-high-contrast-accent-text;
      }
    }

    &:hover {
      color: variables.$colour-light-mode-accent-strong;
      color: light-dark(
        variables.$colour-light-mode-accent-strong,
        variables.$colour-dark-mode-high-contrast-accent-strong
      );
      @media screen and (prefers-color-scheme: light) and (prefers-contrast: more) {
        color: variables.$colour-light-mode-high-contrast-accent-strong;
      }
    }
  }

  &:focus-visible {
    outline: none;
  }

  li::marker {
    color: variables.$colour-light-mode-error;
  }
}
