@use '../admin/variables';
@use '../admin/mixins--general' as generalMixins;

img {
  @include generalMixins.embedded-media;

  a & {
    display: inline;
  }

  p & {
    margin-top: 0;
    margin-bottom:  0;
  }
}

figcaption {
  margin-top: -.5em;
  font-style: italic;
}

figure {

  @media (min-width: variables.$l) {
    @include generalMixins.overspill;

    img {
      @include generalMixins.overspill-reset;
    }
  }
}

.thumbnail {
  max-width: 300px;
  margin-left: 0;
}
