@use '../admin/mixins--links' as linksMixins;
@use '../admin/variables';

a {
  @include linksMixins.text-link;

  p & {
    padding-top: .25em;
  }

  > code {
    padding: 0;
    margin-right: 0;
  }

  @media (min-width: variables.$m) {

    h2 & {
      text-decoration-thickness: .06em;
    }
  }
}
