@use '../admin/variables';
@use '../admin/mixins--general' as generalMixins;

body {
  background-color: variables.$colour-main;
  background-color: light-dark(
    variables.$colour-main,
    variables.$colour-dark-mode-main
  );
  color: variables.$colour-black;
  color: light-dark(
    variables.$colour-black,
    variables.$colour-dark-mode-white
  );
  @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
    background-color: variables.$colour-dark-mode-high-contrast-main;
    color: variables.$colour-dark-mode-white;
  }
}

.wrapper {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  @include generalMixins.container;
}

html {
  scrollbar-color: light-dark(
    variables.$colour-primary,
    variables.$colour-dark-mode-primary-light
  ) light-dark(
    variables.$colour-main,
    variables.$colour-dark-mode-main
  );
}
