@use '../admin/variables';
@use '../admin/mixins--general' as generalMixins;

body {
  background-color: variables.$colour-light-mode-background;
  background-color: light-dark(
    variables.$colour-light-mode-background,
    variables.$colour-dark-mode-background
  );
  color: variables.$colour-light-mode-foreground;
  color: light-dark(
    variables.$colour-light-mode-foreground,
    variables.$colour-dark-mode-foreground
  );
  @media (prefers-contrast: more) {
    background-color: light-dark(
      variables.$colour-light-mode-background,
      variables.$colour-dark-mode-high-contrast-background
    );
  }
}

.wrapper {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  @include generalMixins.container;
}

html {
  scrollbar-color: light-dark(
    variables.$colour-light-mode-accent,
    variables.$colour-dark-mode-accent-strong
  ) light-dark(
    variables.$colour-light-mode-background,
    variables.$colour-dark-mode-background
  );
  @media screen and (prefers-color-scheme: light) and (prefers-contrast: more) {
    scrollbar-color:
      variables.$colour-light-mode-high-contrast-accent
      variables.$colour-light-mode-background;
  }
}
