@use '../admin/mixins--general' as generalMixins;

.visually-hidden {
  @include generalMixins.visually-hidden;
}

img,
video {

  &.natural-dimensions {
    @include generalMixins.overspill-reset;
    max-width: 100%;
    width: auto;
  }
}
