.date {
  @include font-bold;
}

.tags,
.years {

  ul {
    padding-left: 0;
  }

  li {
    display: inline;
  }
}

.post-details {
  @include top-divider;

  .tags {
    display: inline;
    padding-left: 0;
  }
}