<perch:before>
    <section class="teaser">
        <h2>From the blog</h2>
        <ul class="index-list">
</perch:before>
    <li>
        <h3><a href="/blog/<perch:blog id="postSlug" />" class="entry-title"><perch:blog id="postTitle" /></a></h3>
        <p class="description entry-summary"><perch:blog id="excerpt" type="textarea" encode="false" /></p>
        <div class="read-more">
            <a href="/blog/<perch:blog id="postSlug" />" aria-label="Read article about <perch:blog id="postTitle" />">Read article</a>
        </div>
    </li>
<perch:after>
        </ul>
        <div class="read-more">
            <a href="/blog">View more posts</a>
        </div>
    </section>
</perch:after>

