<perch:if id="postAllowComments" value="1">
    <div class="comments-form">
        <h2>Leave a comment:</h2>
        <perch:form id="comment" method="post" app="perch_blog" class="comment-form" action="/blog/commented">
            <perch:label for="commentName">Name</perch:label>
                <perch:input type="text" id="commentName" placeholder="name" required="true" label="Name" antispam="name" />
                <perch:error for="commentName" type="required">Required</perch:error>
            <perch:label for="commentEmail">Email</perch:label>
                <perch:input type="email" id="commentEmail" placeholder="email" required="true" label="Email" antispam="email" />
                <perch:error for="commentEmail" type="required">Required</perch:error>
                <perch:error for="commentEmail" type="format">Check format of address</perch:error>
            <perch:label for="commentURL">Website</perch:label>
                <perch:input type="url" id="commentURL" placeholder="website" label="URL" antispam="url" />
            <perch:label for="commentHTML">Comment</perch:label>
                <perch:input type="textarea" id="commentHTML" placeholder="comment" required="true" label="Message" antispam="body" />
                <perch:error for="commentHTML" type="required">Required</perch:error>
            <perch:input type="hidden" id="postID" value="<perch:blog id="postID" />" />
            <perch:input type="submit" id="submitComment" value="Submit" />
        </perch:form>
    </div>
</perch:if>
