<perch:before><ul class="hfeed"></perch:before>

  <li class="hentry">

    <h3><a href="/blog/<perch:blog id="postSlug" />" class="entry-title"><perch:blog id="postTitle" /></a></h3>
    <p class="entry-published date"><perch:blog id="postDateTime" format="jS F Y" /></p>

    <perch:if exists="image"><img src="<perch:blog id="image" type="image" width="110" height="110" quality="100" density="2" crop="true" />"" alt="<perch:blog id="postTitle" />" /></perch:if>

    <p><perch:blog id="excerpt" class="description entry-summary" type="textarea" encode="false" /></p>

    <a href="/blog/<perch:blog id="postSlug" />" class="go-to">Read article</a>

  </li>

<perch:after></ul></perch:after>