

<!DOCTYPE html>
<html style="padding-top: 0 !important; padding-bottom: 0 !important; background-color: white;">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width" />
        <title>tempertemper</title>
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/icons/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/icons/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/icons/apple-touch-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="167x167" href="/assets/img/icons/apple-touch-icon-167x167.png" />
        <link rel="n -touch-icon" sizes="180x180" href="/assets/img/icons/apple-touch-icon-180x180.png" />
        <link rel="icon" href="/assets/img/icons/favicon.png">
        <!--[if IE]><link rel="shortcut icon" href="/assets/img/icons/favicon.ico"><![endif]-->
        <link rel="mask-icon" href="/assets/img/icons/evaluagent.svg" color="black">
        <meta name="theme-color" content="#0097DB">
        <script>
            {% include 'html5shiv.min.js' %}
            {% include 'responsive-nav.min.js' %}
            var root = document.getElementsByTagName('html')[0];
            root.className += ' scripts ';
        </script>
        <style>
            @media screen and (max-width: 60em) {
                .scripts .nav-collapse {
                  display: none;
                }
            }
        </style>
        <link media="all" rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body>
        <ul class="index-list">
        <li><h2>
    <a href="#">Jane Doe</a>
</h2>
<blockquote>
    &#8220;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos dolor alias accusamus blanditiis sunt maiores, expedita facilis placeat natus, nesciunt architecto, voluptates quidem itaque explicabo, assumenda necessitatibus quod nobis ut.&#8221;
</blockquote>
<div class="read-more">
    <a href="#" aria-label="View full testimonial from Jane Doe">View full testimonial</a>
</div>

</li>
        <li><h2>
    <a href="#">Dr. Makebelieve</a>
</h2>
<blockquote>
    &#8220;Quos dolor alias accusamus blanditiis sunt maiores, expedita facilis placeat natus, nesciunt architecto, voluptates quidem itaque explicabo, assumenda necessitatibus quod nobis ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit.&#8221;
</blockquote>
<div class="read-more">
    <a href="#" aria-label="View full testimonial from Dr. Makebelieve">View full testimonial</a>
</div>

</li>
        <li><h2>
    <a href="#">Mr. Pretend</a>
</h2>
<blockquote>
    &#8220;Cras ornare posuere nisl, eu viverra enim dapibus vel. Morbi egestas, arcu non sollicitudin pellentesque, nibh lorem tristique sapien, nec facilisis mi nulla et nisi.&#8221;
</blockquote>
<div class="read-more">
    <a href="#" aria-label="View full testimonial from Mr. Pretend">View full testimonial</a>
</div>

</li>
        <li><h2>
    <a href="#">John Doe</a>
</h2>
<blockquote>
    &#8220;Maecenas est magna, imperdiet in dui in, tempor elementum massa. Fusce sit amet tortor mauris. Ut libero magna, efficitur at ante eu, dictum dictum dolor.&#8221;
</blockquote>
<div class="read-more">
    <a href="#" aria-label="View full testimonial from John Doe">View full testimonial</a>
</div>

</li>
        <li><h2>
    <a href="#">Ms. Example</a>
</h2>
<blockquote>
    &#8220;Ut quis turpis rutrum, blandit metus et, accumsan velit. Etiam lacus risus, mollis quis finibus vel, sagittis a justo. Quos dolor alias accusamus blanditiis sunt maiores.&#8221;
</blockquote>
<div class="read-more">
    <a href="#" aria-label="View full testimonial from Ms. Example">View full testimonial</a>
</div>

</li>
</ul>

    </body>
</html>

