{%- if tags.length >= 1 and tags.includes('post') %}
    {%- set post = true %}
{%- elif tags.length >= 1 and tags.includes('resource') %}
    {%- set resource = true %}
{%- elif tags.length >= 1 and tags.includes('testimonial') %}
    {%- set testimonial = true %}
{%- elif tags.length >= 1 and tags.includes('case-study') %}
    {%- set caseStudy = true %}
{%- endif %}
<section aria-labelledby="ctaLabel" class="call-to-action">
    {% if resource or testimonial or caseStudy %}
        <h2 id="ctaLabel">Hire me</h2>
        <p>If you like what you’ve read and think we’d work well together, I’d love to hear from you.</p>
        <a href="/contact">Contact me now</a>
    {% else %}
        <h2 id="ctaLabel">Accessibility in your inbox</h2>
        <p>I send an accessibility-centric newsletter on the last day of every month, containing:</p>
        <ul>
            <li>A roundup of the articles I’ve posted</li>
            <li>A hot pick from my archives</li>
            <li>Some interesting posts from around the web</li>
        </ul>
        {% include "newsletter-signup.html" %}
    {% endif %}
</section>
