{%- if tags.length >= 1 and tags.includes('post') %}
    {%- set post = true %}
{%- elif tags.length >= 1 and tags.includes('resource') %}
    {%- set resource = true %}
{%- elif tags.length >= 1 and tags.includes('skills') %}
    {%- set skill = true %}
{%- elif tags.length >= 1 and tags.includes('testimonial') %}
    {%- set testimonial = true %}
{%- elif tags.length >= 1 and tags.includes('caseStudy') %}
    {%- set caseStudy = true %}
{%- elif tags.length >= 1 and tags.includes('newsletter') %}
    {%- set newsletter = true %}
{%- elif tags.length >= 1 and tags.includes('speaking') %}
    {%- set speaking = true %}
{%- endif %}
{%- set sponsorship = page.url == '/sponsors.html' %}

{%- set other = not (home or post or contact or newsletter) %}
<section aria-labelledby="ctaLabel" class="call-to-action{% if other %} highlight{% endif %}">
    {% if home or post or contact or newsletter %}
        <h2 id="ctaLabel">Accessibility in your inbox</h2>
        {% if home or post or contact %}
            <p>I send an accessibility-centric newsletter on the last day of every month, containing:</p>
            <ul>
                <li>A roundup of the articles I’ve posted</li>
                <li>A hot pick from my archives</li>
                <li>Some interesting posts from around the web</li>
            </ul>
            {% include "newsletter-signup.html" %}
        {% else %}
            <p>If you enjoyed reading that newsletter, why not sign up for more?</p>
            {% include "newsletter-signup.html" %}
        {% endif %}
    {% else %}
        <h2 id="ctaLabel">Let’s chat!</h2>
        {% if speaking %}
            <p>If you’d like me to speak at your conference or meetup, I’d love to hear from you.</p>
        {% elif sponsorship %}
            I run a single-sponsor model, with bookings on a first-come basis. If you'd like to sponsor an upcoming month, <a href="/contact">get in touch</a> with the details you'd like to include.
        {% else %}
            <p>If you’re looking for ongoing accessibility support or a longer-term partnership to meet legal requirements like the Equality Act and the European Accessibility Act, I’d love to hear from you.</p>
        {% endif %}
        {% if not sponsorship %}
            <p><a href="/contact">Get in touch</a> or drop me a message on <a href="https://www.linkedin.com/in/tempertemper/">LinkedIn</a>.</p>
        {% endif %}
    {% endif %}
</section>
