<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    {%- if heading %}
        {%- set pageTitle = heading | smart | safe %}
    {%- elif category %}
        {%- set pageTitle = category | smart | safe %}
    {%- else %}
        {%- set pageTitle = title | smart | safe %}
    {%- endif %}
    <title>{{ pageTitle }} – tempertemper</title>
    {%- if description %}
        {%- set description = description | smart | safe %}
    {%- elif intro %}
        {%- set description = intro | markdown | safe | striptags(true) | escape %}
    {%- else %}
        {%- if category %}
            {%- set description = "Articles and resources in the " + category + " category." %}
        {%- else %}
            {%- set description = content | striptags(true) | escape | truncate(150) %}
        {%- endif %}
    {%- endif %}
    <meta name="description" content="{{ description }}" />
    {% set imageType = 'image/png' %}
    {%- if summaryImage %}
        {%- set cardType = "summary_large_image" %}
        {%- if (tags.length >= 1) and tags.includes('resource') %}
            {%- set imgDir = 'resources/' %}
        {%- elif (tags.length >= 1) and tags.includes('case_study') %}
            {%- set imgDir = 'case-studies/' %}
        {%- elif (tags.length >= 1) and tags.includes('post') %}
            {%- set imgDir = 'blog/' %}
        {%- else %}
            {%- set imgDir = '' %}
        {%- endif %}
        {%- set cardImage = site.url + "/assets/img/" + imgDir + summaryImage %}
        {%- set imageAlt = summaryImageAlt %}
        {%- if summaryImageType == "jpg" %}
            {%- set imageType = 'image/jpg' %}
        {%- endif %}
        {%- set imageWidth = 1024 %}
        {%- set imageHeight = 576 %}
    {%- else %}
        {%- set cardType = "summary" %}
        {%- set cardImage = site.url + "/assets/img/summary.png" %}
        {%- set imageAlt = "tempertemper’s icon – a blue square with a white rectangle/underscore in the bottom-right corner" %}
        {%- set imageWidth = 512 %}
        {%- set imageHeight = 512 %}
    {%- endif %}
    <meta property="og:site_name" content="tempertemper Web Design" />
    <meta property="og:url" content="{{ site.url }}{{ page.url | replace('.html', '') }}" />
    <meta property="og:title" content="{{ pageTitle }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="{{ cardImage }}" />
    <meta property="og:image:type" content="{{ imageType }}" />
    {%- if (tags.length >= 1) and (tags.includes('post') or tags.includes('resource')) %}
        <meta property="og:image:width" content="{{ imageWidth }}" />
        <meta property="og:image:height" content="{{ imageHeight }}" />
    {%- endif %}
    <meta property="og:image:alt" content="{{ imageAlt }}" />
    {%- if tags.length >= 1 and (tags.includes('post') or tags.includes('resource')) %}
        {%- set type = "article" %}
    {%- else %}
        {%- set type = "website" %}
    {%- endif %}
    <meta property="og:type" content="{{ type }}" />
    <meta property="article:author" content="{{ site.author.name }}" />

    <meta name="twitter:card" content="{{ cardType }}" />
    <meta name="twitter:site" content="{{ site.author.twitter }}" />
    <meta name="twitter:creator" content="{{ site.author.twitter }}" />
    <meta name="twitter:title" content="{{ pageTitle }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:url" content="{{ site.url }}{{ page.url | replace('.html', '') }}" />
    <meta name="twitter:image" content="{{ cardImage }}" />
    <meta name="twitter:image:alt" content="{{ imageAlt }}" />

    <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover" />
    <meta name="disabled-adaptations" content="watch" />
    <meta name="format-detection" content="telephone=no">

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace('.html', '') }}">

    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/icons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/icons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/img/icons/apple-touch-icon-167x167.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/icons/apple-touch-icon-180x180.png" />
    <link rel="icon" href="/assets/img/icons/favicon.png">
    <!--[if IE]><link rel="shortcut icon" href="/assets/img/icons/favicon.ico"><![endif]-->
    <link rel="mask-icon" href="/assets/img/icons/tempertemper.svg" color="#0097DB">
    <meta name="theme-color" content="#0097DB">
    <script>
        {% include "html5shiv.min.js" %}
    </script>
    <link rel="stylesheet" href="/assets/css/style.css?v={{ site.version }}">
    <script type="application/ld+json">
        {
            "@context" : "https://schema.org",
            "@type" : "WebSite",
            "name" : "{{ site.title }}",
            "alternateName" : "{{ site.company }}",
            "url" : "{{ site.url }}"
        }
    </script>
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/feeds/main.xml" />
    <link rel="alternate" type="application/json" href="{{ site.url }}/feeds/main.json" />
    <link rel="author" href="{{ site.url }}/humans.txt" />
</head>
