<header class="header">
    <a href="/" class="logo">
        {% include "svg/logo.svg" %}
        <span class="visually-hidden">tempertemper by Martin Underhill (go to homepage)</span>
    </a>
    {%- set nav = [
        { title: 'Blog', url: '/blog/' },
        { title: 'About', url: '/about' },
        { title: 'Services', url: '/services/' },
        { title: 'Portfolio', url: '/portfolio/' },
        { title: 'Search', url: '/search' },
        { title: 'Contact', url: '/contact' }
    ] %}
    {% set navLabel = "Main" %}
    {% include "nav.html" %}
</header>
