{%- if tags.includes('post') %}
    {%- set blogPost = true %}
    {%- set typeOfThing = 'posts' %}
    {%- set linkToList = '/blog/' %}
    {%- set items = collections.post %}
{%- elif tags.includes('resource') %}
    {%- set resource = true %}
    {%- set typeOfThing = 'resources' %}
    {%- set linkToList = '/resources/' %}
    {%- set items = collections.resource %}
{%- elif tags.includes('case_study') %}
    {%- set caseStudy = true %}
    {%- set typeOfThing = 'case studies' %}
    {%- set linkToList = '/portfolio/' %}
    {%- set items = collections.case_study %}
{%- endif %}
<section aria-label="Further reading" class="teaser">
    <h2>More {{ typeOfThing }}</h2>
    <p>Here are a couple more {{ typeOfThing }} for you to enjoy. If that's not enough, have a look at <a href="{{ linkToList }}">the full list</a>.</p>
    <ol class="hfeed index-list" reversed>
        {%- set limit = 2 %}
        {%- for post in items | reverse %}
            {%- if title === post.data.title %}
                {%- set limit = 3 %}
            {%- else %}
                {%- if loop.index <= limit %}
                    {% include "post-in-list.html" %}
                {%- endif %}
            {%- endif %}
        {%- endfor %}
    </ol>
</section>
