{%- if tags.includes('post') %}
    {%- set blogPost = true %}
    {%- set typeOfThing = 'posts' %}
    {%- set linkToList = '/blog/' %}
    {%- set items = collections.post %}
{%- elif tags.includes('resource') %}
    {%- set resource = true %}
    {%- set typeOfThing = 'resources' %}
    {%- set linkToList = '/resources/' %}
    {%- set items = collections.resource %}
{%- elif tags.includes('case-study') %}
    {%- set caseStudy = true %}
    {%- set typeOfThing = 'case studies' %}
    {%- set linkToList = '/portfolio/' %}
    {%- set items = collections['case-study'] %}
{%- endif %}
<section aria-labelledby="further-reading-heading" class="teaser">
    <h2 id="further-reading-heading">More {{ typeOfThing }}</h2>
    <p>Here are a couple more {{ typeOfThing }} for you to enjoy. If that’s not enough, have a look at <a href="{{ linkToList }}">the full list</a>.</p>
    <ol class="hfeed index-list" reversed>
        {%- for post in collections.post | reverse | removeCurrent(title) | promoteRelated(related) | limit(2) %}
            {% include "post-in-list.html" %}
        {%- endfor %}
    </ol>
</section>
