<ul>
    {% set nav = [
        { title: 'Home', url: '/' },
        { title: 'Categories', url: '/categories' },
        { title: 'Skills', url: '/skills/' },
        { title: 'Testimonials', url: '/testimonials' },
        { title: 'Resources', url: '/resources' },
        { title: 'Subscribe', url: '/subscribe' },
        { title: 'Colophon', url: '/colophon' }
    ] %}
    {% for item in nav %}
        <li {% if item.url == page.url %}class="active"{% endif %}>
            <a href="{{ item.url | url }}">{{ item.title }}</a>
        </li>
    {% endfor %}
</ul>
