<form class="subscribe" id="subscribe" name="newsletter" action="/newsletter/confirm-email" method="POST" data-netlify="true" netlify-honeypot="bot-field">
    <div hidden>
        <label>
            Don’t fill this out if you’re human:
            <input name="bot-field" tabindex="-1" />
        </label>
    </div>
    <div class="input-group">
        <label for="email">Email address</label>
        <input type="text" inputmode="email" name="email" id="email" autocomplete="email" required />
    </div>
    <button type="submit">Subscribe</button>
</form>

<p><small><a href="/privacy-policy#newsletter">I don’t collect any data</a> on when, where or if people open the emails I send them. Your email will only be used to send you newsletters and will never be passed on. You can <a href="/newsletter/unsubscribe">unsubscribe</a> at any time.</small></p>
