<form class="subscribe" id="subscribe" name="newsletter" action="/newsletter/confirm-email" method="POST" data-netlify="true" netlify-honeypot="bot-field" novalidate>
    <div hidden aria-hidden="true">
        <label>
            Don’t fill this out if you're human:
            <input name="bot-field" />
        </label>
    </div>
    <div class="input-group">
        <label for="email">Your email address</label>
        <input type="email" name="email"  id="email" required />
    </div>
    <input type="submit" value="Subscribe now" />
</form>

<p><small><a href="/privacy-policy#newsletter">I don’t collect any data</a> on when, where or if people open the emails I send them. Your email will <strong>only</strong> be used to send you newsletters and will <strong>never</strong> be passed on. You can unsubscribe at any time.</small></p>
