<li>
    {% if home %}<h3>{% else %}<h2 class="entry-title">{% endif %}
        {{ post.data.title | smart }}
    {% if home %}</h3>{% else %}</h2>{% endif %}
    {% if not home %}
    <p class="details">
        Posted {{ post.data.date | date }}
        {% include "post-categories.html" %}
    </p>
    {% endif %}
    <div class="description entry-summary">
        {{ post.data.intro  | markdown | safe }}
    </div>
    <div class="read-more">
        <a href="{{ post.url  | replace(".html", "") }}">Read ‘{{ post.data.title | smart }}’</a>
    </div>
</li>
