{%- if tags %}
    {%- set categories = tags | tagsOnPage %}
{%- else %}
    {%- set categories = post.data.tags | tagsOnPage %}
{% endif %}
{%- if categories.length >= 1 %}
    in
    {% for category in categories %}
        {%- if loop.length >= 2 %}
            {%- if not loop.last %}
                {%- if not loop.first -%}
                    ,
                {% endif %}
            {%- else %}
                and&nbsp;
            {%- endif -%}
        {%- endif -%}
        <a href="/category/{{ category | slugify }}">{{ category }}</a>
    {%- endfor %}
{%- endif -%}
