body {
  color: black;
  font-size: 90%;
  @include font-body;

  @media (min-width: $s) {
    font-size: 120%;
  }

  @media (min-width: $m) {
    font-size: 140%;
  }
}

blockquote {
  border-left: 0.75em solid $colour-primary-light;
  padding: 0.5em 0 0.5em 1em;
  margin-right: 0;
  margin-left: 0;
  padding-right: 1.25em;

  p {
    display: inline;
  }
}

cite {
  display: block;
  margin-top: 1em;
  @include font-heading-regular;
}

strong {
  font-weight: bold;

  em {
    font-style: italic;
  }
}

em {
  font-style: italic;

  strong {
    font-weight: bold;
  }
}

p {
  hyphens: auto;
}

ul,
ol {

  @media (max-width: $l) {
    padding-left: 1.5em;
  }
}

code {
  font-family: menlo, monaco, "Lucida Console", monospace;
  font-size: 0.8em;
}

.index-list {
  @include remove-list-styling;

  .go-to,
  h2 a {

    &:visited {
      color: $colour-primary-darkest;
    }
  }
}