@mixin text-link {
  transition: color .2s ease;

  &:link,
  &:visited {
    text-decoration: none;
  }

  &:link,
  &:visited {
    color: $colour-primary;
  }

  &:hover,
  &:active,
  &:focus {
    color: $black;
  }
}

a {
  @include text-link;

  > img {
    border: 3px solid $colour-primary;
    display: block;

    &:visited {
      border-color: $colour-primary-darker;
    }

    &:hover,
    &:active,
    &:focus {
      border-color: $black;
    }
  }
}
