$ms-base: $font-size;
$ms-ratio: $major-third;

@mixin font-heading-regular {
  font-family: 'FS Me Web Regular', sans-serif;
  font-size-adjust: .53;
  font-style: normal;
  font-weight: 400;
}

@mixin font-heading-light {
  font-family: 'FS Me Web Light', sans-serif;
  font-size-adjust: .53;
  font-style: normal;
  font-weight: 200;
}

@mixin heading-style {
  @include font-heading-light;
  line-height: 1.05;
  margin-bottom: .25em;
  margin-top: 1.414em;
}

@mixin font-body {
  font-family: georgia, serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

@mixin heading-xl {
  font-size: ms(4);

  @media (min-width: $m) {
    font-size: ms(6);
  }
}

@mixin heading-l {
  font-size: ms(3);

  @media (min-width: $m) {
    font-size: ms(5);
  }
}

@mixin heading-m {
  font-size: ms(2);

  @media (min-width: $m) {
    font-size: ms(4);
  }
}

@mixin heading-s {
  font-size: ms(1);

  @media (min-width: $m) {
    font-size: ms(3);
  }
}

@mixin heading-xs {
  font-size: ms(1);

  @media (min-width: $m) {
    font-size: ms(2);
  }
}

@mixin heading-xxs {
  font-size: ms(1);

  @media (min-width: $m) {
    font-size: ms(1);
  }
}

@mixin remove-list-styling {
  list-style: none;
  padding-left: 0;

  ul {
    list-style-type: disc;

    ul {
      padding-left: 1.5em;
    }
  }
}
