[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{css,scss,yaml,yml,json,js,sublime-project}]
indent_size = 2

[*.svg]
insert_final_newline = false
