/*** uncss> filename: http://tempertemper.local/cms/addons/feathers/tempertemper/css/style.css?4.5.2 ***/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:link,
:visited {
  text-decoration: none;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ul {
  padding-left: 0;
}

body,
html,
input {
  margin: 0;
  padding: 0;
}

address,
cite {
  font-style: normal;
}

a:focus {
  outline: none;
}

a img,
img {
  border: 0;
}

input {
  margin: 0;
  padding: 1px;
  font-size: 100%;
  font-family: inherit;
}

:focus {
  outline: none;
}

[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
}

[type="search"] {
  -webkit-appearance: none;
  border-radius: 5px;
  box-shadow: none;
}

button {
  background-image: none;
}

nav .selected {
  cursor: default;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  padding-left: .5em;
  padding-right: .5em;
}

body:after {
  content: " ";
  display: block;
  clear: both;
}

@media (min-width: 57em) {
  [role="main"] {
    margin-left: 17.2413793103%;
    width: 65.5172413793%;
  }
}

section,
aside {
  margin-top: 5em;
  margin-bottom: 5em;
}

[role="contentinfo"] {
  margin-top: 5em;
}

form {
  margin-top: 2em;
  margin-bottom: 2em;
}

body {
  font-family: Georgia, serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  color: #000;
  font-size: 90%;
}

@media (min-width: 31em) {
  body {
    font-size: 120%;
  }
}

@media (min-width: 43em) {
  body {
    font-size: 140%;
  }
}

blockquote {
  border-left: 0.75em solid #eaf9ff;
  padding: 0.5em 0 0.5em 1em;
  margin-right: 0;
  margin-left: 0;
  padding-right: 1.25em;
}

cite {
  font-family: 'FS Me Web Regular', sans-serif;
  font-size-adjust: .53;
  font-weight: normal;
  font-style: normal;
  display: block;
  margin-top: 1em;
}

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

@media (max-width: 57em) {
  ul {
    padding-left: 1.5em;
  }
}

.index-list {
  list-style: none;
  padding-left: 0;
}

.index-list .go-to:visited,
.index-list h2 a:visited {
  color: #00628e;
}

h1,
h2 {
  font-family: 'FS Me Web Light', sans-serif;
  font-size-adjust: .53;
  font-weight: 200;
  font-style: normal;
  margin-top: 1.414em;
  margin-bottom: .25em;
  line-height: 1.05;
}

h1 {
  font-size: 219.7265625%;
  text-align: center;
}

@media (min-width: 43em) {
  h1 {
    font-size: 343.322753906%;
  }
}

h2 {
  font-size: 175.78125%;
}

@media (min-width: 43em) {
  h2 {
    font-size: 274.658203125%;
  }
}

section h1,
aside h1 {
  font-size: 175.78125%;
}

@media (min-width: 43em) {
  section h1,
  aside h1 {
    font-size: 274.658203125%;
  }
}

section h2 {
  font-size: 140.625%;
}

@media (min-width: 43em) {
  section h2 {
    font-size: 219.7265625%;
  }
}

a {
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

a:link,
a:visited {
  text-decoration: none;
}

a:link,
a:visited {
  color: #0097db;
}

a:hover,
a:active,
a:focus {
  color: #000;
}

label {
  font-family: 'FS Me Web Regular', sans-serif;
  font-size-adjust: .53;
  font-weight: normal;
  font-style: normal;
  color: #0097db;
}

input {
  display: block;
  width: 100%;
  border: 3px solid #0097db;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-family: Georgia, serif;
}

input:focus {
  border-color: #000;
}

input {
  line-height: 1.2;
}

[type="submit"] {
  text-align: center;
  display: inline-block;
  width: auto;
  border-radius: 5px;
  padding: 0.5em 2em;
  border-style: solid;
  border-width: 3px;
  margin-top: 1em;
  margin-bottom: 1em;
  border-color: #0097db;
  background-color: transparent;
  color: #0097db;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: 'FS Me Web Regular', sans-serif;
  font-size-adjust: .53;
  font-weight: normal;
  font-style: normal;
  clear: both;
  background-color: #0097db;
  color: #fff;
  display: block;
}

[type="submit"]:hover,
[type="submit"]:focus,
[type="submit"]:active {
  text-decoration: none;
  border-color: #000;
  color: #000;
}

[type="submit"]:link,
[type="submit"]:visited {
  color: #fff;
}

[type="submit"]:hover,
[type="submit"]:focus,
[type="submit"]:active {
  background-color: #000;
  color: #fff;
}

html,
body {
  overflow-x: hidden;
}

::-moz-selection {
  background: #0097db;
  color: #fff;
}

::selection {
  background: #0097db;
  color: #fff;
}

[role="main"] section,
[role="main"] aside {
  margin-bottom: 3em;
}

.go-to {
  font-family: 'FS Me Web Regular', sans-serif;
  font-size-adjust: .53;
  font-weight: normal;
  font-style: normal;
  clear: both;
  display: inline-block;
}

.go-to:hover:after,
.go-to:active:after,
.go-to:focus:after {
  text-decoration: none;
}

.go-to:after {
  content: '\00a0\203A';
  display: inline-block;
}

img {
  border-radius: 5px;
}

img,
address {
  margin-top: 1em;
  margin-bottom: 1em;
}

a img {
  margin-top: 0;
  margin-bottom: 0;
  display: inline;
}

.wistia_embed {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #eaf9ff;
}

.wistia_embed>div {
  width: 100% !important;
}

[role="banner"] {
  clear: both;
  padding-top: 1em;
}

[role="banner"] h1 {
  clear: both;
  margin-top: 0;
  text-align: center;
  padding-top: 1em;
  margin-bottom: 1em;
}

@media (min-width: 31em) {
  [role="banner"] h1 {
    clear: none;
    padding-top: 0;
    margin-top: 2em;
  }
}

.logo {
  display: block;
  -webkit-transition: none;
  transition: none;
  float: left;
}

@media (min-width: 57em) {
  .logo {
    margin-top: .25em;
  }
}

.logo .tt {
  width: 56px;
  height: 40px;
}

@media (min-width: 31em) {
  .logo .tt {
    display: none;
  }
}

.logo .tempertemper {
  width: 270px;
  height: 38px;
  display: none;
}

@media (min-width: 31em) {
  .logo .tempertemper {
    display: block;
  }
}

@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

.underscore {
  -webkit-animation: blink 5s steps(20, start) infinite;
  animation: blink 5s steps(20, start) infinite;
}

.nav-toggle {
  float: right;
}

nav {
  font-family: 'FS Me Web Regular', sans-serif;
  font-size-adjust: .53;
  font-weight: normal;
  font-style: normal;
}

nav .selected a:link,
nav .selected a:visited {
  color: #00628e;
}

nav .selected a:hover,
nav .selected a:active,
nav .selected a:focus {
  color: #000;
}

[role="navigation"] {
  width: 100%;
}

[role="navigation"] ul {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

[role="navigation"] li:first-child a {
  padding-top: .75em;
}

[role="navigation"] li:last-child a {
  padding-bottom: .9em;
}

[role="navigation"] a {
  display: block;
  padding-top: .25em;
  padding-bottom: .25em;
}

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-toggle {
  -webkit-tap-highlight-color: #000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: .4em;
  border: 3px solid #0097db;
  border-radius: 5px;
}

.nav-toggle:hover,
.nav-toggle:active,
.nav-toggle:focus {
  border-color: #000;
}

.nav-toggle:hover path,
.nav-toggle:active path,
.nav-toggle:focus path {
  fill: #000 !important;
}

.nav-toggle button {
  border: 0;
  background-color: transparent;
  padding: 0;
  display: block;
  outline: none;
  height: 2em;
  width: 2em;
}

@media screen and (min-width: 31em) {
  .nav-toggle button {
    height: 2.8em;
    width: 2.8em;
  }
}

.nav-toggle .icon-close {
  display: none;
}

@media screen and (min-width: 57em) {
  .nav-toggle {
    display: none;
  }
}

@media screen and (min-width: 57em) {
  .js .nav-collapse {
    position: relative;
  }

  .js .nav-collapse.closed {
    max-height: none;
  }

  [role="navigation"] {
    float: right;
    width: auto;
    position: relative;
  }

  [role="navigation"] ul {
    width: auto;
    float: left;
    margin-top: .2em;
    padding-bottom: .3em;
  }
}

@media screen and (min-width: 57em) and (min-width: 57em) {
  [role="navigation"] ul {
    padding-right: 3em;
  }
}

@media screen and (min-width: 57em) {
  [role="navigation"] li {
    display: inline-block;
    width: auto;
  }

  [role="navigation"] li:before {
    content: '/';
    display: inline-block;
  }

  [role="navigation"] li:first-child:before {
    content: none;
  }

  [role="navigation"] li a {
    display: inline-block;
    padding-right: .1em;
    padding-left: .1em;
  }

  [role="navigation"] li:first-child a {
    padding-top: 0;
  }

  [role="navigation"] li:last-child a {
    padding-bottom: 0;
  }
}

.call-to-action {
  text-align: center;
}

.call-to-action h1 {
  font-size: 112.5%;
}

@media (min-width: 43em) {
  .call-to-action h1 {
    font-size: 175.78125%;
  }
}

.call-to-action .primary {
  text-align: center;
  display: inline-block;
  width: auto;
  border-radius: 5px;
  padding: 0.5em 2em;
  border-style: solid;
  border-width: 3px;
  margin-top: 1em;
  margin-bottom: 1em;
  border-color: #0097db;
  background-color: transparent;
  color: #0097db;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: 'FS Me Web Regular', sans-serif;
  font-size-adjust: .53;
  font-weight: normal;
  font-style: normal;
  clear: both;
}

.call-to-action .primary:hover,
.call-to-action .primary:focus,
.call-to-action .primary:active {
  text-decoration: none;
  border-color: #000;
  color: #000;
}

.call-to-action .supplementary {
  font-family: 'FS Me Web Regular', sans-serif;
  font-size-adjust: .53;
  font-weight: normal;
  font-style: normal;
  margin-top: 0;
}

[role="search"] {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}

[role="search"] path {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

[role="search"]:hover .icon-search,
[role="search"]:active .icon-search,
[role="search"]:focus .icon-search {
  fill: #000 !important;
}

[role="search"] label {
  position: absolute;
  display: block;
  top: .55em;
  left: .6em;
  height: 1.4em;
  width: 1.4em;
}

[role="search"] label:hover,
[role="search"] label:active,
[role="search"] label:focus {
  cursor: pointer;
}

[role="search"] [type="search"] {
  padding-left: 2.2em;
  padding-right: .5em;
}

[role="search"] [type="submit"] {
  display: none;
}

@media (min-width: 57em) {
  [role="navigation"] [role="search"] label {
    left: auto;
    right: .5em;
  }
}

@media (min-width: 31em) and (max-width: 57em) {
  [role="navigation"] [role="search"] {
    margin-left: 17.2413793103%;
    width: 65.5172413793%;
  }
}

@media (min-width: 57em) {
  [role="navigation"] [role="search"] {
    position: absolute;
    right: 0;
  }
}

[role="navigation"] [role="search"]:hover input,
[role="navigation"] [role="search"]:active input,
[role="navigation"] [role="search"]:focus input {
  border-color: #000;
}

[role="navigation"] [role="search"] [type="search"] {
  margin-bottom: 0;
}

@media (min-width: 57em) {
  [role="navigation"] [role="search"] [type="search"] {
    width: 2.45em;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    float: right;
    text-align: right;
    padding-right: 1.2em;
    padding-left: .5em;
    color: transparent;
  }

  [role="navigation"] [role="search"] [type="search"]:focus {
    width: 100%;
    padding-right: 2.2em;
    color: #000;
  }
}

[role="contentinfo"] {
  font-family: 'FS Me Web Regular', sans-serif;
  font-size-adjust: .53;
  font-weight: normal;
  font-style: normal;
  clear: both;
  padding-bottom: 1em;
  text-align: center;
}

[role="contentinfo"]:before {
  content: '';
  display: block;
  height: 3px;
  background-color: #000;
  width: 10em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3em;
}

[role="contentinfo"] address {
  margin-top: 0;
  margin-bottom: 0;
}

[role="contentinfo"] .copyright {
  margin-top: 2em;
  text-align: center;
  font-size: 57.6%;
}

[role="contentinfo"] .copyright p {
  display: inline;
}

[role="contentinfo"] .copyright li {
  display: inline;
}

.useful-links ul {
  padding-left: 0;
  margin-top: .25em;
  margin-bottom: .25em;
}

.useful-links li {
  display: inline-block;
  width: auto;
}

.useful-links li:before {
  content: '/';
  display: inline-block;
}

.useful-links li:first-child:before {
  content: none;
}

.useful-links li a {
  display: inline-block;
  padding-right: .1em;
  padding-left: .1em;
}

.useful-links path {
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}

.useful-links a:hover path,
.useful-links a:active path,
.useful-links a:focus path {
  fill: #000 !important;
}

.useful-links .icon-twitter {
  display: inline-block;
  width: 1.5em;
  margin-bottom: -.2em;
}

@media (min-width: 57em) {
  .teaser {
    text-align: center;
  }
}

@media (min-width: 57em) {
  .teaser .index-list {
    margin-left: -26.3157894737%;
    width: 152.631578947%;
  }
}

@media (min-width: 57em) {
  .teaser .index-list li {
    width: 31.0344827586%;
    float: left;
    margin-right: 3.4482758621%;
    margin-bottom: 3em;
    text-align: left;
  }

  .teaser .index-list li:last-of-type {
    width: 31.0344827586%;
    float: right;
    margin-right: 0;
  }
}

@media print {
  body {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    font-size: 10pt !important;
  }

  .nav-toggle,
  [role="search"],
  .useful-links,
  .copyright ul,
  form,
  .go-to {
    display: none;
  }

  [role="banner"] {
    border-top: 0;
  }

  [role="contentinfo"] {
    border-bottom: 0;
  }

  .logo {
    width: 240px !important;
    padding-left: 0 !important;
  }

  a:link,
  a:visited {
    color: inherit;
  }

  h1,
  h2 {
    page-break-after: avoid;
  }

  ul,
  img,
  blockquote {
    page-break-inside: avoid;
  }
}

/*# sourceMappingURL=style.css.map */

