.call-to-action {

  @media (min-width: $m) {
    text-align: center;
  }

  h2 {
    @include heading-l;

    @media (min-width: $l) {
      font-size: ms(5);
    }
  }

  form {
    margin-top: 1em;
    margin-bottom: 1em;

    @media (min-width: $l) {
      display: flex;
      align-items: flex-end;
    }

    div {
      text-align: left;
    }
  }
}
