@use '../admin/mixins--general' as generalMixins;

.call-to-action {
  margin: 2em 0;

  &:not(.highlight) {
    @include generalMixins.divider;
  }
}

.highlight {
  @include generalMixins.boxout;
}
