.call-to-action {

  @media (min-width: $m) {
    text-align: center;
  }

  h2 {
    @include heading-xl;
  }

  form {

    @media (min-width: $m) {
      text-align: left;
    }

    @media (min-width: $l) {
      display: flex;
      align-items: flex-end;
    }
  }
}
