.contact-form {
  @include boxout;

  @media (min-width: $m) {

    div {
      width: span(2 of 4);
      margin-right: gutter();

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  @media (min-width: $l) {

    div {
      width: span(4 of 8);

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
