@use '../admin/variables--colour' as colourVariables;
@use '../admin/variables--general' as generalVariables;
@use '../admin/variables--layout' as layoutVariables;
@use '../admin/mixins--general' as generalMixins;
@use '../admin/mixins--typography' as typographyMixins;
@use '../admin/mixins--modes' as  modeMixins;

.footer {
  clear: both;
  padding-bottom: 1em;
  margin-top: generalVariables.$section-spacing;

  address {
    margin-bottom: 0;
    margin-top: 0;
  }

  .company-details {
    margin-top: 0;
  }

  .org {
    display: block;
  }

  a {
    min-height: 48px;
    display: inline-flex;
    align-items: flex-start;
  }

  nav {

    ul {
      margin-top: 0;
    }

    @media (min-width: layoutVariables.$xxs) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      column-gap: 1em;

      & > ul:nth-child(1) { grid-column: 1 / -1; }
    }

    @media (min-width: layoutVariables.$m) {
      grid-template-columns: repeat(4, 1fr);

      & > ul:nth-child(1) { grid-column: 1 / span 2; }
      & > ul:nth-child(2) { grid-column: 3; }
      & > ul:nth-child(3) { grid-column: 4; }
    }
  }

  ul {
    @include typographyMixins.remove-list-styling;
  }
}

.social {

  svg {
    $icon-width: 1.5em;
    width: $icon-width;
    height: auto;
    flex: 0 0 $icon-width;
    align-self: flex-start;
    display: block;
    margin-right: .5em;
  }
}
