.footer {
  clear: both;
  font-family: $font--heading;
  padding-bottom: 1em;
  margin-top: $section-spacing * 2;

  @media (max-width: $xxs) {
    margin-top: $section-spacing / 2;
  }

  @media (min-width: $m) {
    text-align: center;
  }

  &:before {
    background-color: $colour-black;
    content: '';
    display: block;
    height: 3px;
    margin-bottom: $section-spacing;
    width: 10em;
    @include dark-mode($background: $colour-dark-mode-primary);
    @include high-contrast($background: $colour-dark-mode-primary-lighter);

    @media (max-width: $xxs) {
      margin-bottom: $section-spacing / 2;
    }

    @media (min-width: $m) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  address {
    margin-bottom: 0;
    margin-top: 0;
  }

  .copyright {
    margin-top: $section-spacing / 2;
  }

  .utility {
    @include remove-list-styling;

    li {
      @include inline-nav;
    }
  }
}

.social {
  margin-top: 1em;

  a {
    display: inline-flex;
    align-items: center;

    @media (min-width: $m) {
      justify-content: center;
    }
  }
}
