[role="banner"] {
  clear: both;
  padding-top: 1em;

  h1 {
    clear: both;
    margin-bottom: 1em;
    margin-top: 0;
    padding-top: 1em;
    text-align: center;

    @media (min-width: $s) {
      clear: none;
      margin-top: 2em;
      padding-top: 0;
    }
  }
}

.logo {
  display: inline-block;

  @media (min-width: $l) {
    margin-top: .25em;
  }

  .tt {
    display: block !important;
    height: 40px;
    width: auto;

    @media (min-width: $s) {
      display: none !important;
    }
  }

  .tempertemper {
    display: none;
    height: 40px;
    width: auto;

    @media (min-width: $s) {
      display: block;
    }
  }

  @media screen and (prefers-color-scheme: dark) {

    .mark,
    .trademark {
      fill: $white;
    }
  }
}

@keyframes blink {

  to {
    visibility: hidden;
  }
}

.underscore {
  animation: blink 2s steps(20, start) infinite;
}

.nav-toggle {
  float: right;
}
