[role="banner"] {
  clear: both;
  padding-top: 1em;

  h1 {
    clear: both;
    margin-bottom: 1em;
    margin-top: 0;
    padding-top: 1em;
    text-align: center;

    @media (min-width: $s) {
      clear: none;
      margin-top: 2em;
      padding-top: 0;
    }
  }
}

.logo {
  display: inline-block; // no flexbox fallback
  margin-right: .5em;
  max-width: 100%;

  svg {
    max-width: 100%;
  }

  @media screen and (prefers-color-scheme: dark) {

    .mark,
    .trademark {
      fill: $colour-dark-mode-white;
    }
  }
}

@keyframes blink {

  to {
    visibility: hidden;
  }
}

.underscore {
  animation: blink 2s steps(20, start) infinite;

  @media screen and (prefers-reduced-motion: reduce) {
    animation: none;
  }
}
