@use '../admin/mixins--modes' as modeMixins;
@use '../admin/variables--layout' as layoutVariables;
@use '../admin/variables--colour' as colourVariables;

.logo {

  svg {
    display: block;
    color: colourVariables.$colour-black;

    @include modeMixins.dark-mode() {
      color: colourVariables.$colour-dark-mode-white;
    }
  }
}
