.logo {
  display: inline-block;
  margin-right: .5em;
  max-width: 9em;
  margin-bottom: .5em;

  @media (min-width: $xs) {
    margin-bottom: 0;
  }

  svg {
    display: block;
  }

  .mark path,
  .trademark {
    fill: $colour-black;
    @include dark-mode() {
      fill: $colour-dark-mode-white;
    }
  }

  .underscore {
    fill: $colour-primary;
  }
}

@keyframes blink {

  to {
    visibility: hidden;
  }
}

.underscore {
  @media screen and (prefers-reduced-motion: no-preference) {
    animation: blink 2s steps(20, start) infinite;
  }
}
