.logo {
  display: inline-block;
  margin-right: .5em;
  margin-bottom: .5em;

  @media (min-width: $xs) {
    margin-bottom: 0;
  }

  svg {
    display: block;
  }

  .mark path,
  .trademark {
    fill: $colour-black;
    @include dark-mode() {
      fill: $colour-dark-mode-white;
    }
  }
}
