.post-details {
  font-family: $font--heading;
  margin-top: $section-spacing;
  margin-bottom: $section-spacing;

  @media (max-width: $xxs) {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  @media (min-width: $m) {
    text-align: center;
  }
}
