.post-details {
  font-style: italic;

  .date {

    @media (min-width: $m) {
      text-align: center;
    }
  }

  p {
    margin-bottom: 0;
    margin-top: 0;

    + p {
      text-indent: 0;
    }
  }
}
