.post-details {
  margin-top: $section-spacing;
  margin-bottom: $section-spacing;
  font-style: italic;

  p + p {
    margin-top: 0;
  }

  @media (max-width: $xxs) {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  @media (min-width: $m) {
    text-align: center;
  }
}
