.skip-to-content {
  @include visually-hidden;

  &:focus {
    top: .5em;
    left: .25em;
    overflow: visible;
    clip: initial;
    height: auto;
    width: auto;
    margin: 0;
    box-shadow: 0 0 0 3px $colour-black, 0 0 .4em .0em $colour-dark-mode-black;
    padding: 0.5em .5em;

    @include dark-mode() {
      box-shadow: 0 0 0 3px $colour-white, .2em .2em .4em .1em $colour-dark-mode-black;
    }
  }
}

main:focus {
  outline: none;
}
