@use '../admin/placeholders' as placeholders;
@use '../admin/variables';
@use '../admin/mixins--modes' as modeMixins;

.skip-to-content {
  @include placeholders.visually-hidden;

  &:focus {
    top: .5em;
    left: .25em;
    overflow: visible;
    clip: initial;
    height: auto;
    width: auto;
    margin: 0;
    box-shadow: 0 0 0 3px variables.$colour-black, 0 0 .4em .0em variables.$colour-dark-mode-black;
    padding: 0.5em .5em;

    @include modeMixins.dark-mode() {
      box-shadow: 0 0 0 3px variables.$colour-white, .2em .2em .4em .1em variables.$colour-dark-mode-black;
    }
  }
}

main:focus {
  outline: none;
}
