.skip-to-content {
  @extend %visually-hidden;
  font-family: $font--heading;

  &:focus {
    border-radius: 0;
    top: 0;
    left: 0;
    overflow: visible;
    clip: initial;
    height: auto;
    width: auto;
    margin: 0;
    box-shadow: 0 0 .4em .2em $colour-dark-mode-black;
    padding: 0.5em .5em;

    @include dark-mode() {
      box-shadow: .2em .2em .4em .2em $colour-dark-mode-black;
    }
  }
}
