.subscribe {
  @include boxout;

  @media (min-width: $m) {
    display: flex;
    align-items: flex-end;

    .input-group {
      @include layout($wide-layout);
      width: span(6 of 8);
      margin-right: gutter();
    }
  }
}
