.teaser {

  li {
    @include highlight-box;

    + li {
      margin-top: 1em;

      @media (min-width: $m) {
        margin-top: 0;
      }
    }
  }

  h3 {
    margin-top: 0;
  }

  .index-list {
    max-width: none;

    @media (min-width: $m) {
      max-width: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 0em 1em;
      grid-auto-flow: row;
      grid-template-areas:
      ". .";

      @media (min-width: $l) {
        @include overspill;
      }
    }
  }
}
