.teaser {

  @media (min-width: $m) {

    .index-list {
      @include full-width;
      display: flex;
      flex-wrap: wrap;
    }

    li {
      @include layout($wide-layout);
      @include span(3 of 6);
      @include highlight-box;

      & > :first-child {
        margin-bottom: 0;
        margin-top: 0;
      }

      &:nth-of-type(2n) {
        @include span(last 3 of 6);
      }

      + li {
        margin-top: 0;
      }
    }
  }

  .index-list {
    margin-bottom: 0;
  }
}
