.teaser {

  @media (min-width: $m) {

    .index-list {
      display: flex;
      flex-wrap: wrap;
      max-width: none;
      @include overspill;
    }

    li {
      width: span(3 of 6);
      margin-right: gutter();
      @include highlight-box;

      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }

    h3 {
      margin-top: 0;
    }
  }
}
