.youtube-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: $border-radius-default;

    @media (min-width: $l) {
      max-width: calc(100% + 2em);
      margin-left: -1em;
      margin-right: -1em;
    }

    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
