@media print {

  body {
    font-size: 10pt !important;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  }

  .nav-toggle,
  [role="search"],
  .useful-links,
  .copyright ul,
  .keep-in-touch,
  form,
  .read-more,
  .button,
  .subscribe,
  .paging {
    display: none;
  }

  [role="banner"] {
    border-top: 0;
  }

  [role="contentinfo"] {
    border-bottom: 0;
  }

  .logo {
    padding-left: 0 !important;
    width: 240px !important;
  }

  a {

    &:link,
    &:visited {
      color: inherit;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }

  ul,
  img,
  blockquote,
  pre {
    page-break-inside: avoid;
  }

  p,
  ul,
  ol {

    [href^=http] {
      font-weight: bold;

      &:after {
        content: ' <' attr(href) '> ';
      }
    }
  }
}
