.repeater {
	margin-left: 240px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	position: relative;
}

.main h3.repeater-heading,
.repeater-heading {
	width: 230px;
	padding: 10px 0 0 0;
	text-align: right;
	display: block;
	float: left;
	color: rgb(127,127,127);
	text-transform: none;
	font-weight: normal;
	font-size: 100%;
	margin: 0;
	clear: none;
}

.repeated-item {
	display: table-row;
	width: 100%;
}

form .repeater .field,
form .repeater .helper .field {
	clear: none;
	border: 0;
	margin: 0;
	padding: 0;
	border-bottom: 0;
	background-color: rgb(255, 255, 255);
	display: table;
	width: 100%;
	position: relative;
}

form .repeater .helper {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

form .repeater .sorting .field,
form .repeater .sorting .field input,
form .repeater .sorting .field textarea {
	background-color: rgb(250, 250, 250);
	color: rgb(127,127,127);
}

form .repeater .index {
	background-color: rgb(247, 247, 249);
	display: table-cell;
	text-align: center;
	border-bottom: 1px solid rgb(216, 216, 217);
	border-right: 1px solid rgb(216, 216, 217);
	width: 26px;
	min-width: 26px;
	color: rgb(127,127,127);
	position: relative;
	padding-top: 10px;
}

.js form .repeater .index {
	cursor: ns-resize;
}

form .repeater .index span {
	display: block;
}

form .repeater .ui-sortable-helper .index span,
.js form .repeater .index:hover span {
	display: none;
}

form .repeater .ui-sortable-helper .index span.icon,
.js form .repeater .index:hover span.icon {
	background-position: 5px -1335px;
	width: 24px;
	height: 16px;
	margin: -4px 0 0 0;
	padding: 0;
	display: inline-block;
}

form .repeater .rm {
	background-color: rgb(247, 247, 249);
	display: table-cell;
	text-align: center;
	border-bottom: 1px solid rgb(216, 216, 217);
	border-left: 1px solid rgb(216, 216, 217);
	width: 26px;
	min-width: 26px;
	text-align: center;
	padding-top: 7px;
}

form .repeater .rm a span {
	position: absolute;
	left: -99999em;
}

form .repeater .rm a:link,
form .repeater .rm a:visited  {
	background-position: 3px -509px;
	background-color: #999;
	width: 16px;
	height: 16px;
	display: inline-block;
	border-radius: 16px;
}

form .repeater .rm a:hover,
form .repeater .rm a:active  {
	background-color: #666;
}

form .repeater .repeated-fields {
	display: table-cell;
	border-bottom: 1px solid rgb(216, 216, 217);
	vertical-align: top;
}

form .repeater .field .fieldlbl {
	vertical-align: top;
	border-right: 1px solid rgb(216, 216, 217);
	display: table-cell;
	height: 100%;
	background-color: rgb(247, 247, 249);
}

form .repeater .field label {
	width: 80px;
	font-size: 0.923em;
	padding: 10px;
	min-height: 1em;
	margin-top: 0;
}

.repeater .fieldtbl {
	display: table-row;
	vertical-align: top;
	margin: 0;
	padding: 0;
	width: 100%;
}

.repeater .field-wrap {
	display: table-cell;
	vertical-align: bottom;
	text-align: left;
	margin: 0;
	padding: 8px 0 2px 10px;
	width: 100%;
}

.repeater .plusone {
	font-size: 0.846em;
	color: rgb(61, 61, 61);
	text-decoration: none;
	position: absolute;
	top: 8px;
	left: 10px;
	display: block;
	text-shadow: 1px 1px 0 #fff;
}

.repeater .plusone.disabled {
	color: rgba(61, 61, 61, 0.5);
}

.repeater .add:before {
	content: "";
	width: 14px;
	height: 14px;
	margin-left: -4px;
	display: block;
	float: left;
	background-position: 0 -790px;
}

.repeater .repeated {
	overflow: scroll;
	max-height: 300px;
	display: table;
	width: 100%;
}

.repeater-footer {
	position: relative;
	min-height: 30px;
	background-image: -ms-linear-gradient(top, #FAFAFA 0%, #C9D4D3 100%);
	background-image: -moz-linear-gradient(top, #FAFAFA 0%, #C9D4D3 100%);
	background-image: -o-linear-gradient(top, #FAFAFA 0%, #C9D4D3 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FAFAFA), color-stop(1, #C9D4D3));
	background-image: -webkit-linear-gradient(top, #FAFAFA 0%, #C9D4D3 100%);
	background-image: linear-gradient(to bottom, #FAFAFA 0%, #C9D4D3 100%);
}

.repeater .required {
	padding: 0 5px;
}

form .repeater div.field .preview {
	float: right;
	width: 26px;
	height: 26px;
	margin: -3px 10px 0 10px;
}

form .repeater div.field .preview:hover {
	bottom: 0;
	right: 0;
	width: auto;
	height: auto;
	position: absolute;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	background-image: url(data:image/gif;base64,R0lGODlhEAAQAIAAAN/f3////yH5BAAHAP8ALAAAAAAQABAAAAIfhG+hq4jM3IFLJhoswNly/XkcBpIiVaInlLJr9FZWAQA7); 
	background-repeat: repeat;
	z-index: 10;
}

form .repeater div.field .remove {
	float: right;
	margin: 0 10px 0 0;
}

form .repeater div.field .remove label {
	display: inline-block;
	background-color: transparent;
	padding: 5px 0 0 0;
	margin: 0;
	border: 0;
}

form .repeater div.field .file {
	float: right;
	display: block;
	margin: 0 15px 0 11px;
	width: 0;
	height: 20px;
	overflow: hidden;
}

form .repeater div.field .file:hover {
	bottom: 8px;
	right: 0;
	width: auto;
	height: auto;
	position: absolute;
	background-color: rgba(255, 255, 255, 1);
	padding-bottom: 1px;
}


form .repeater div.field .asset-badge {
	margin-left: 0;
}

form .repeater div.field .ft-choose-asset {
	margin-left: 0;
}


form .repeater .hint {
	margin: 0;
	padding: 0 0 0 1em;
	display: inline;
}

form .repeater .map {
	margin: 10px 0 10px 0;
}

form .repeater div.field .preview iframe {
	height: 100%;
	width: 100%;
}



@media screen and (max-width: 1060px) {
	.sidebar-open form .repeater-heading {
		float: none;
		display: block;
		margin: 0 0 10px 10px;
		width: auto;
		text-align: left
	}
	
	.sidebar-open form .repeater {
		margin-left: 10px;
	}

	.sidebar-open form .repeater label {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 840px) {
	.main h3.repeater-heading {
		float: none;
		display: block;
		margin: 0 0 10px 10px;
		width: auto;
		text-align: left
	}
	
	form .repeater {
		margin-left: 10px;
	}

	form .repeater label {
		margin-bottom: 0;
	}
}