[role="contentinfo"] {
  clear: both;
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
  @include top-divider;
  @include font-heading-regular;

  .copyright {
    margin-top: 2em;
    text-align: center;
    font-size: ms(0);

    p {
      display: inline;
    }

    li {
      display: inline;
    }
  }
}

.useful-links {

  li {
    display: inline;
  }
}