[role="contentinfo"] {
  @include font-heading-regular;
  clear: both;
  padding-bottom: 1em;
  text-align: center;

  &:before {
    content: '';
    display: block;
    height: 3px;
    background-color: $black;
    width: 10em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3em;
  }

  address {
    margin-top: 0;
    margin-bottom: 0;
  }

  .copyright {
    margin-top: 2em;
    text-align: center;
    font-size: ms(-2);

    p {
      display: inline;
    }

    li {
      display: inline;
    }
  }
}

.useful-links {

  ul {
    padding-left: 0;
    margin-top: .25em;
    margin-bottom: .25em;
  }

  li {
    @include inline-nav;
  }

  path {
    transition: fill .2s ease;
  }


  a:hover,
  a:active,
  a:focus {

    path {
      fill: $black !important;
    }
  }

  .icon-twitter {
    display: inline-block;
    width: 1.5em;
    margin-bottom: -.2em;
  }
}
