[role="banner"] {
  clear: both;
  padding-top: 1em;

  h1 {
    clear: both;
    margin-top: 0;
    text-align: center;
    padding-top: 1em;
    margin-bottom: 1em;

    @media (min-width: $s) {
      clear: none;
      padding-top: 0;
      margin-top: 2em;
    }
  }
}

.logo {
  display: block;
  transition: none;
  float: left;

  @media (min-width: $l) {
    margin-top: .25em;
  }

  .tt {
    width: 56px;
    height: 40px;

    @media (min-width: $s) {
      display: none;
    }
  }

  .tempertemper {
    width: 270px;
    height: 38px;
    display: none;

    @media (min-width: $s) {
      display: block;
    }
  }
}

@keyframes blink {

  to {
    visibility: hidden;
  }
}

.underscore {
  animation: blink 5s steps(20, start) infinite;
}


.nav-toggle {
  float: right;
}
