[role="banner"] {
  clear: both;
  padding-top: 1em;

  h1 {
    clear: both;
    margin-top: 0;
    text-align: center;
    padding-top: 1em;
    margin-bottom: 1em;

    @media (min-width: $s) {
      clear: none;
      padding-top: 0;
      margin-top: 2em;
    }
  }
}

.logo {
  max-width: 12em;
  display: block;
  transition: none;
  float: left;

  @media (min-width: $l) {
    margin-top: 0.25em;
  }

  img {
    width: 100%;
    border: none;
    margin-top: 0;
  }

  @media (max-width: $s) {
    padding-left: 56px;
    width: 56px;
    height: 40px;
    background-image: url(../img/tempertemper-web-design-abbreviated-logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.nav-toggle {
  float: right;
}