nav {
  @include font-heading-regular;

  li {

    &.selected a,
    &.ancestor a {

      &:link,
      &:visited {
        color: $colour-primary-darkest;
      }

      &:hover,
      &:active,
      &:focus {
        color: black;
      }
    }
  }
}

[role="navigation"] {
  width: 100%;

  ul {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }

  li:first-child a {
    padding-top: 0.75em;
  }

  li:last-child a {
    padding-bottom: 0.9em;
  }

  a {
    display: block;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
}

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
  position: relative;
  overflow: hidden;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  $svg-height: 3em;
  -webkit-tap-highlight-color: black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 0.4em;
  border: 3px solid $colour-primary;
  border-radius: $border-radius-default;

  &:hover,
  &:active,
  &:focus {
    border-color: black;

    path {
      fill: black !important;
    }
  }

  button {
    border: none;
    background-color: transparent;
    padding: 0;
    display: block;
    outline: none;
    height: $svg-height;
  }

  svg {
    height: $svg-height;
  }

  .icon-close {
    display: none;
  }

  &.active {

    .icon-menu {
      display: none;
    }

    .icon-close {
      display: block;
    }
  }
}

@media screen and (min-width: $l) {

  .js .nav-collapse {
    position: relative;
  }

  .js .nav-collapse.closed {
    max-height: none;
  }

  .nav-toggle {
    display: none;
  }

  [role="navigation"] {
    float: right;
    width: auto;
    position: relative;

    ul {
      width: auto;
      float: left;
      margin-top: 0.2em;
      padding-bottom: 0.3em;

      @media (min-width: $l) {
        padding-right: 3em;
      }
    }

    li {
      @include inline-nav;

      &:first-child {

        a {
          padding-top: 0;
        }
      }

      &:last-child {

        a {
          padding-bottom: 0;
        }
      }
    }
  }
}