[role="search"] {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;

  &:hover,
  &:active,
  &:focus {

    .icon-search {
      fill: black !important;
    }
  }

  input {

    &:hover,
    &:active,
    &:focus {

      & + label {
        background-color: hotpink !important;
      }
    }
  }

  label {
    position: absolute;
    display: block;
    top: 0.5em;
    left: 0.5em;
    transition: color .2s ease;

    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
    }
  }

  [type="search"] {
    padding-left: 2.2em;
    padding-right: 0.5em;
  }

  svg {
    height: 1.4em;
    width: 1.4em;
  }

  [type="submit"] {
    display: none;
  }
}

[role="navigation"] {

  [role="search"] {

    label {

      @media (min-width: $l) {
        left: auto;
        right: 0.5em;
      }
    }

    // narrows width of search box at medium sized screens
    @media (min-width: $s) and (max-width: $l) {
      @include layout($susy);
      width: span(4 of 6);
      @include pre(1 of 6);
    }

    @media (min-width: $l) {
      position: absolute;
      right: 0;
    }

    &:hover,
    &:active,
    &:focus {

      input {
        border-color: black;
      }
    }

    [type="search"] {
      margin-bottom: 0;

      @media (min-width: $l) {
        width: 2.45em;
        transition: width .4s ease;
        float: right;
        text-align: right;
        padding-right: 1.2em;
        padding-left: 0.5em;
        color: transparent;

        &:focus {
          width: 100%;
          padding-right: 2.2em;
          color: black;
        }
      }
    }
  }
}