[role="search"] {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;

  path {
    transition: all .4s ease;
  }

  &:hover,
  &:active,
  &:focus {

    .icon-search {
      fill: $black !important;
    }
  }

  label {
    position: absolute;
    display: block;
    top: .55em;
    left: .6em;
    $svg-height: 1.4em;
    height: $svg-height;
    width: $svg-height;

    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
    }
  }

  [type="search"] {
    padding-left: 2.2em;
    padding-right: .5em;
  }

  [type="submit"] {
    display: none;
  }
}

[role="navigation"] {

  [role="search"] {

    label {

      @media (min-width: $l) {
        left: auto;
        right: .5em;
      }
    }

    @media (min-width: $s) and (max-width: $l) {
      @include layout($susy);
      @include pre(1 of 6);
      width: span(4 of 6);
    }

    @media (min-width: $l) {
      position: absolute;
      right: 0;
    }

    &:hover input,
    &:active input,
    &:focus input {
      border-color: $black;
    }

    [type="search"] {
      margin-bottom: 0;

      @media (min-width: $l) {
        width: 2.45em;
        transition: all .4s ease;
        float: right;
        text-align: right;
        padding-right: 1.2em;
        padding-left: .5em;
        color: transparent;

        // Nesting needs to be this deep, unfortunately. I'll maybe add a class to the header search box at one point
        // scss-lint:disable NestingDepth
        &:focus {
          width: 100%;
          padding-right: 2.2em;
          color: $black;
        }
      }
    }
  }
}
