[role="search"] {
  margin-bottom: 0;
  margin-top: 0;
  position: relative;

  path {
    transition: all .4s ease;
  }

  .icon-search {
    fill: $colour-primary;
  }

  &:hover,
  &:active,
  &:focus {

    .icon-search {
      fill: $black;
    }
  }

  label {
    $svg-height: 1.4em;
    display: block;
    height: $svg-height;
    left: .6em;
    position: absolute;
    top: .55em;
    width: $svg-height;

    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
    }
  }

  [type="search"] {
    padding-left: 2.2em;
    padding-right: .5em;
  }

  [type="submit"] {
    display: none;
  }
}

[role="navigation"] [role="search"] {

  @media (min-width: $s) and (max-width: $l) {
    @include layout($default);
    @include pre(1 of 6);
    width: span(4 of 6);
  }

  @media (min-width: $l) {

    label {
      left: auto;
      right: .5em;
      z-index: 1;
    }

    input {
      position: absolute;
      right: 0;
      z-index: .9;
    }
  }

  &:hover input,
  &:active input,
  &:focus input {
    border-color: $black;
  }

  [type="search"] {
    margin-bottom: 0;

    @media (min-width: $l) {
      color: transparent;
      float: right;
      padding-left: .5em;
      padding-right: 1.2em;
      text-align: right;
      transition: all .4s ease;
      width: 2.45em;

      &:focus {
        color: $black;
        padding-right: 2.2em;
        width: 100%;
      }
    }
  }
}
