.teaser {

  @media (min-width: $m) {

    .index-list {
      @include full-width;
      display: flex;
    }

    li {
      @include layout($wide-layout);
      @include span(3 of 6);
      @include highlight-box;
      margin-bottom: gutter();

      &:last-of-type {
        @include span(last 3 of 6);
      }
    }

    ul {
      margin-bottom: 0;
    }

    h2 {
      margin-top: 0;
    }

    .read-more {
      text-align: center;
    }
  }
}
