.teaser {

  @media (min-width: $l) {
    text-align: center;
  }

  .index-list {
    @include full-width;

    @media (min-width: $l) {
      @include clearfix;

      h2 {
        margin-top: 0;
      }

      li {
        @include highlight-box;
        @include layout($wide-layout);
        @include span(2 of 6);
        text-align: left;

        &:last-of-type {
          @include span(last 2 of 6);
        }
      }
    }
  }
}