form {
  width: 100%;
}

label {
  color: $colour-primary;
  font-family: $font--heading;
}

input,
textarea {
  border: 3px solid $colour-primary;
  border-radius: $border-radius-default;
  display: block;
  font-family: georgia, serif;
  margin-bottom: 1em;
  padding: .5em 1em;
  width: 100%;

  &:focus {
    border-color: $black;
  }
}

input {
  line-height: 1.2;
}

textarea {
  height: 10em;
}

[type="submit"] {
  @include button-primary;
  display: block;
}
