<ul>

  <li>

    <h2>Telephone</h2>

    <a href="tel:<perch:content divider-before="Phone number" size="m" id="phone_number1" type="text" label="Area code" html="false" required="true" default="0044" help="Must start with 0044, eg. 004420 for London" /><perch:content size="s" id="phone_number2" type="text" label="Phone number part 2" html="false" required="true" /><perch:content size="s" id="phone_number3" type="text" label="Phone number part 3" html="false" required="true" />" class="tel phone">
      <perch:content id="phone_number" type="composite" for="phone_number1 phone_number2 phone_number3" replace="0044|0" />
    </a>

  </li>

  <li>

    <h2>Email</h2>

    <a href="mailto:<perch:content divider-before="Email" id="email_address" type="text" label="Email address" html="false" required="true" />" class="email">
      <perch:content id="email_address" />
    </a>

  </li>

  <li>

    <h2>Twitter</h2>

    <a href="http://twitter.com/<perch:content divider-before="Twitter" size="m" id="twitter" type="text" label="Twitter username" help="Drop the @" html="false" required="true" />">
      @<perch:content id="twitter" />
    </a>

  </li>

  <li>

    <h2>Facebook</h2>

    <a href="<perch:content divider-before="Facebook" id="facebook" type="text" label="Facebook address" html="false" required="true" />">
      <perch:content id="facebook" />
    </a>

  </li>

</ul>