<perch:before><section class="portfolio-teaser">

  <h1>Examples of my work</h1>

<ul></perch:before>

  <li>

    <h2><perch:content id="title" type="text" /></h2>

    <a href="/work/<perch:content id="slug" type="slug" />">
      <img src="<perch:content id="image" bucket="portfolio" label="Image" type="image" width="700" height="440" density="2" quality="80" crop="true" />" alt="<perch:content id="alt" type="text" />" />
    </a>

    <p><perch:content id="excerpt" type="textarea" striptags="true" chars="150" append="…" /></p>

    <a href="/work/<perch:content id="slug" type="slug" />" class="go-to">View full case study</a>

  </li>

<perch:after></ul>

</section>

<a href="/work/" class="button">View all work</a></perch:after>