<perch:before><ul class="portfolio-list"></perch:before>

  <li>

    <h2><a href="/portfolio/<perch:content id="slug" type="slug" />"><perch:content id="title" type="text" /></a></h2>

    <perch:categories id="Work" label="Type of work" set="work" required="true" display-as="checkboxes" divider-before="Categories">
      <perch:before>
        <p>Work on this project included
      </perch:before>
        <a href="/portfolio/category/<perch:category id="catSlug" />"><perch:category id="catTitle" /></a><perch:if exists="perch_item_last"><perch:else />, </perch:if>
      <perch:after>
        </p>
      </perch:after>
    </perch:categories>

    <div class="project-info">

      <a href="/portfolio/<perch:content id="slug" type="slug" />" >
        <img src="<perch:content id="image" bucket="portfolio" label="Image" type="image" width="700" height="440" density="2" quality="80" crop="true" />" alt="<perch:content id="alt" type="text" />" />
      </a>

      <p><perch:content id="excerpt" type="textarea" markdown="true" /></p>

    </div>

    <div class="testimonial">

      <blockquote>

        &ldquo;<perch:content id="testimonial" type="textarea" striptags="true" chars="350" append="…" />&rdquo;

        <cite>

          <perch:if exists="website">

            <a href="<perch:content id="website" type="text" />" rel="nofollow">
              </perch:if><perch:content id="citation" type="text" />, <perch:content id="title" type="text" /><perch:if exists="website">
            </a>

          </perch:if>

        </cite>

      </blockquote>

    </div>

    <a href="/portfolio/<perch:content id="slug" type="slug" />" class="button">View full case study</a>

  </li>

<perch:after>

</ul>

<perch:template path="pagination/portfolio.html" rescope="parent" />

</perch:after>