<perch:categories id="Work" label="Type of work" set="work" required="true" display-as="checkboxes" divider-before="Categories">
  <perch:before>
    <p>Work on this project included
  </perch:before>
    <a href="/portfolio/category/<perch:category id="catSlug" />"><perch:category id="catTitle" /></a><perch:if exists="perch_item_last"><perch:else />, </perch:if>
  <perch:after>
    </p>
  </perch:after>
</perch:categories>

<img src="<perch:content divider-before="Headline image" id="image" bucket="portfolio" label="Headline image" type="image" width="700" height="440" help="image will be cropped to 700 x 440 (x2)" density="2" quality="80" crop="true" />" alt="<perch:content id="alt" type="text" html="false" label="Headline image alt" />" />

<perch:content id="case-study" type="textarea" label="Case study" bucket="portfolio" order="3" size="xxl" editor="markitup" required="true" markdown="true" textile="false" html="true" imagewidth="740" imagequality="90" imagecrop="true" />

<perch:content id="excerpt" type="textarea" label="Excerpt" order="4" size="s" required="true" markdown="true" html="false" suppress="true" />

<perch:if exists="website">
  <a href="<perch:content id="website" order="2" type="text" label="Website" default="http://" html="false" />" rel="nofollow" class="go-to">Visit the website for a look</a>
</perch:if>

<blockquote>

  <perch:content id="testimonial" type="textarea" label="Testimonial" markdown="true" html="false" size="m" divider-before="Testimonial" />

  <cite>

    <perch:if exists="website">

      <a href="<perch:content id="website" order="2" type="text" label="Website" default="http://" html="false" />" rel="nofollow">
        </perch:if><perch:content id="citation" type="text" label="Citation" required="true" html="false" />, <perch:content id="title" type="text" label="Title" html="false" order="1" title="true" /><perch:if exists="website">
      </a>

    </perch:if>

  </cite>

</blockquote>

<perch:content id="slug" for="title" type="slug" suppress="true" />

<a href="/portfolio/" class="back">Head back to Portfolio page</a>