<perch:blog id="og_title" label="Social title" type="text" escape="true" help="Title for this document with no branding or site name" divider-before="Facebook Open Graph Tags" />"
<perch:blog id="og_description" label="Social description" type="textarea" size="s" escape="true" />
<perch:blog id="og_image" label="Image when shared" help="Should be at least 1200x630" type="image" width="1200" />
<perch:blog id="og_type" label="Facebook type" type="select" options="article,book,profile,website,video,music" allowempty="true" />