code,
kbd {
  background-color: $colour-code-background;
  font-family: $code--font;
  font-size: .8em;
  border-radius: $border-radius-default/2;
  padding: .1em .1em .05em;
  @include dark-mode($colour-dark-mode-code-background);
  @include high-contrast($colour-high-contrast-code-background,);
}

pre code,
pre {
  color: $colour-black;
  @include dark-mode($colour: $colour-dark-mode-white);
}

pre {
  background-color: $colour-code-background;
  @include dark-mode($background: $colour-dark-mode-code-background);
  @include high-contrast($background: $colour-high-contrast-code-background);
  padding: 1em;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  border-radius: $border-radius-default;
  margin-top: 1em;
  margin-bottom: 1em;

  @media (min-width: $l) {
    margin-left: -1em;
    margin-right: -1em;
  }

  code {
    display: block;
    padding: 0;
  }
}

.token {

  &.comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: $colour-code-grey;
    @include dark-mode($colour: $colour-dark-mode-code-grey);
  }

  &.punctuation {
    color: inherit;
  }

  &.property,
  &.tag,
  &.constant,
  &.symbol,
  &.deleted,
  &.keyword {
    color: $colour-code-magenta;
    @include dark-mode($colour: $colour-dark-mode-code-magenta);
    @include high-contrast($colour: $colour-high-contrast-code-magenta);
  }

  &.boolean,
  &.number {
    color: $colour-code-purple;
    @include dark-mode($colour: $colour-dark-mode-code-purple);
    @include high-contrast($colour: $colour-high-contrast-code-purple);
  }

  &.selector,
  &.attr-name,
  &.string,
  &.char,
  &.builtin,
  &.inserted,
  &.operator,
  &.entity,
  &.url,
  .language-css &.string,
  .style &.string,
  &.variable {
    color: $colour-code-cyan;
    @include dark-mode($colour: $colour-dark-mode-code-cyan);
  }

  &.atrule,
  &.attr-value,
  &.function,
  &.regex,
  &.important {
    color: $colour-code-yellow;
    @include dark-mode($colour: $colour-dark-mode-code-yellow);
  }

  &.important,
  &.bold {
    font-weight: bold;
  }

  &.italic {
    font-style: italic;
  }

  &.entity {
    cursor: help;
  }
}
