code,
kbd,
pre {
  background-color: $colour-dark-mode-white;

  @include dark-mode() {
    @include dark-mode ($colour-dark-mode-black, $colour-dark-mode-white);
  }
}

code,
kbd {
  font-family: $code--font;
  font-size: .8em;
  border-radius: $border-radius-default/2;
  padding: 0.1em;
}

pre {
  padding: 1em;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  border-radius: $border-radius-default;
  margin-top: 1em;
  margin-bottom: 1em;

  @media (min-width: $l) {
    margin-left: -1em;
    margin-right: -1em;
  }

  code {
    padding: 0;
  }
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $colour-code-grey;

  @include dark-mode() {
    color: $colour-dark-mode-code-grey;
  }
}

.token.punctuation {
  color: inherit;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #fc608d;
}

.token.boolean,
.token.number {
  color: #9587e3;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #5bd4e6;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #5bd4e6;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #fce766;
}

.token.keyword {
  color: #fc608d;
}

.token.regex,
.token.important {
  color: #fce766;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
