@font-face {
  font-family: 'FS Me Web';
  font-size-adjust: .53;
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/FSMeWeb-Italic.woff2') format('woff2'),
       url('../fonts/FSMeWeb-Italic.woff') format('woff');
  font-display: swap;
}
