::selection {
  background: $colour-primary;
  @include dark-mode($colour: $colour-black);
  @include high-contrast($background: $colour-dark-mode-primary-light);
  color: $colour-white;
}

blockquote {
  border-left: .15em solid $colour-primary;
  font-style: italic;
  margin-left: 0;
  margin-right: 0;
  padding: .25em 0 .25em .85em;

  @media (min-width: $l) {
    margin-left: -1em;

    blockquote {
      margin-left: 0;
    }
  }


  @include high-contrast() {
    border-left-color: $colour-dark-mode-primary-light;
  }

  ul,
  ol {
    padding-left: 1em;
  }

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  img:last-child {
    margin-bottom: .5em;
  }
}

ul,
ol {

  @media (max-width: $l) {
    padding-left: 1.5em;
  }

  ul {
    padding-left: 1em;
  }

  ol {
    padding-left: 1.25em;
  }

  ul {
    list-style-type: disc;
  }
}

li {

  &::marker {
    color: $colour-primary;
    @include high-contrast($colour: $colour-dark-mode-primary-light);
  }

  ul &::marker {
    font-size: 1.5em;
    line-height: 1;
  }

  ul ol &::marker {
    font-size: 1em;
  }
}

dt {
  font-weight: 700;
}

hr {
  border-top: 2px solid $colour-black;
  margin: 1em 0;
  max-width: 10em;
  @include dark-mode() {
    border-color: $colour-dark-mode-white;
  }
}

small {
  display: block;
  font-size: 100%;
  font-style: italic;
}
