html {
  font-family: 'FS Me Web', sans-serif;
  @include font-body;
  color: $colour-black;
  font-size: 120%;
  font-feature-settings: "liga";

  @media (max-width: $xxs) {
    font-size: 100%;
    line-height: 1.2;
  }

  @media (min-width: $s) {
    font-size: 130%;
  }

  @media (min-width: $m) {
    font-size: 150%;
  }

  @media (min-width: $xl) {
    font-size: 180%;
  }
}

p,
ul,
ol,
blockquote {
  max-width: 30em;
}
