@use '../../admin/variables--colour' as colourVariables;
@use '../../admin/variables--layout' as layoutVariables;
@use '../../admin/mixins--typography' as typographyMixins;

html {
  font-family: 'FS Me Web', sans-serif;
  color: colourVariables.$colour-black;
  font-size: 120%;
  font-feature-settings: "liga";
  font-synthesis-weight: none;
  @include typographyMixins.font-body;

  @media (max-width: layoutVariables.$xxs) {
    font-size: 100%;
    line-height: 1.2;
  }

  @media (min-width: layoutVariables.$m) {
    font-size: 150%;
  }

  @media (min-width: layoutVariables.$xl) {
    font-size: 180%;
  }
}

p,
ul,
ol,
blockquote {
  max-width: 30em;
}
