::selection {
  background: $colour-primary-lighter;
  @include dark-mode($background: $colour-dark-mode-primary, $color: $colour-dark-mode-main);
  color: $white;
}

html {
  @include font-body;
  color: $black;
  font-size: 120%;

  @media (min-width: $s) {
    font-size: 130%;
  }

  @media (min-width: $l) {
    font-size: 150%;
  }

  @media (min-width: $xl) {
    font-size: 180%;
  }
}

blockquote {
  border-left: .75em solid $colour-primary-light;
  margin-left: 0;
  margin-right: 0;
  padding: .5em 0 .5em 1em;

  @include dark-mode() {
    border-left-color: $colour-dark-mode-highlight;
  }

  p {
    display: inline;
  }
}

cite {
  display: block;
  font-family: $font--heading;
  margin-top: 1em;
}

strong {
  font-weight: 700;

  em {
    font-style: italic;
  }
}

em {
  font-style: italic;

  strong {
    font-weight: 700;
  }
}

ul,
ol {

  @media (max-width: $l) {
    padding-left: 1.5em;
  }

  ul,
  ol {
    padding-left: 1em;
  }

  ul {
    list-style-type: disc;
  }

  .details {
    font-family: $font--heading;
  }
}

li {

  &::marker {
    color: $colour-primary;
    font-family: $font--heading;
    @include dark-mode($color: $colour-dark-mode-primary);
  }
}

hr {
  border-top: 2px solid $colour-primary;
  margin: 1em 0;
  @include dark-mode () {
    border-color: $colour-primary;
  }
}

small {
  display: block;
  font-size: ms(0);
  font-style: italic;
}
