::selection {
  background: $colour-primary;
  @include dark-mode($colour: $colour-black);
  @include high-contrast($background: $colour-dark-mode-primary-lighter);
  color: $colour-white;
}

html {
  @include font-body;
  color: $colour-black;
  font-size: 120%;

  @media (max-width: $xxs) {
    font-size: 100%;
    line-height: 1.2;
  }

  @media (min-width: $s) {
    font-size: 130%;
  }

  @media (min-width: $m) {
    font-size: 150%;
  }

  @media (min-width: $xl) {
    font-size: 180%;
  }
}

blockquote {
  border-left: .15em solid $colour-primary;
  font-style: italic;
  margin-left: 0;
  margin-right: 0;
  padding: .25em 0 .25em .85em;

  @media (min-width: $l) {
    margin-left: -1em;
  }

  @include dark-mode() {
    border-left-color: $colour-dark-mode-primary;
  }
  @include high-contrast() {
    border-left-color: $colour-dark-mode-primary-lighter;
  }

  ul,
  ol {
    padding-left: 1em;
  }
}

cite {
  display: block;
  font-family: $font--heading;
  margin-top: 1em;
}

strong {
  font-weight: 700;

  em {
    font-style: italic;
  }
}

em {
  font-style: italic;

  strong {
    font-weight: 700;
  }
}

ul,
ol {

  @media (max-width: $l) {
    padding-left: 1.5em;
  }

  ul,
  ol {
    padding-left: 1em;
  }

  ul {
    list-style-type: disc;
  }

  .details {
    font-family: $font--heading;
  }
}

li {

  &::marker {
    color: $colour-primary;
    font-family: $font--heading;
    @include dark-mode($colour: $colour-dark-mode-primary);
    @include high-contrast($colour: $colour-dark-mode-primary-lighter);
  }
}

hr {
  border-top: 2px solid $colour-primary;
  margin: 1em 0;
  @include dark-mode() {
    border-color: $colour-primary;
  }
  @include high-contrast() {
    border-color: $colour-dark-mode-primary-lighter;
  }
}

small {
  display: block;
  font-size: ms(0);
  font-style: italic;
}
