@use '../../admin/variables' as variables;
@use '../../admin/mixins--modes' as modeMixins;

::selection {
  background: variables.$colour-primary;
  color: variables.$colour-white;
  @include modeMixins.dark-mode($colour: variables.$colour-black);
  @include modeMixins.high-contrast($background: variables.$colour-dark-mode-primary-light);
}

blockquote {
  border-left: .15em solid variables.$colour-primary;
  margin-left: 0;
  margin-right: 0;
  padding: .25em 0 .25em .85em;

  @media (min-width: variables.$l) {
    margin-left: -1em;

    blockquote {
      margin-left: 0;
    }
  }

  @include modeMixins.high-contrast() {
    border-left-color: variables.$colour-dark-mode-primary-light;
  }

  ul,
  ol {
    padding-left: 1em;
  }

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  img:last-child {
    margin-bottom: .5em;
  }
}

ul,
ol {

  @media (max-width: variables.$l) {
    padding-left: 1.5em;
  }

  ul {
    padding-left: 1em;
  }

  ol {
    padding-left: 1.25em;
  }

  ul {
    list-style-type: disc;
  }
}

li {

  &::marker {
    color: variables.$colour-primary;
    @include modeMixins.high-contrast($colour: variables.$colour-dark-mode-primary-light);
  }

  ul &::marker {
    font-size: 1.5em;
    line-height: 1;
  }

  ul ol &::marker {
    font-size: 1em;
  }
}

dt {
  font-weight: 700;

  kbd {
    font-weight: 400;
  }
}

small {
  display: block;
  font-size: 100%;
  font-style: italic;
}

mark {
  background-color: variables.$colour-primary;
  // color: variables.$colour-white;
  @include modeMixins.dark-mode(
    $colour: variables.$colour-white,
    $background: variables.$colour-dark-mode-primary-darker
  );
  @include modeMixins.high-contrast(
    $colour: variables.$colour-black,
    $background: variables.$colour-dark-mode-primary-light
  );

  // background-color: variables.$colour-dark-mode-primary;
}
