@use '../../admin/variables--colour' as colourVariables;
@use '../../admin/variables--layout' as layoutVariables;
@use '../../admin/mixins--general' as generalMixins;

::selection {
  background: colourVariables.$colour-primary;
  color: colourVariables.$colour-white;
  @include generalMixins.dark-mode($colour: colourVariables.$colour-black);
  @include generalMixins.high-contrast($background: colourVariables.$colour-dark-mode-primary-light);
}

blockquote {
  border-left: .15em solid colourVariables.$colour-primary;
  margin-left: 0;
  margin-right: 0;
  padding: .25em 0 .25em .85em;

  @media (min-width: layoutVariables.$l) {
    margin-left: -1em;

    blockquote {
      margin-left: 0;
    }
  }

  @include generalMixins.high-contrast() {
    border-left-color: colourVariables.$colour-dark-mode-primary-light;
  }

  ul,
  ol {
    padding-left: 1em;
  }

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  img:last-child {
    margin-bottom: .5em;
  }
}

ul,
ol {

  @media (max-width: layoutVariables.$l) {
    padding-left: 1.5em;
  }

  ul {
    padding-left: 1em;
  }

  ol {
    padding-left: 1.25em;
  }

  ul {
    list-style-type: disc;
  }
}

li {

  &::marker {
    color: colourVariables.$colour-primary;
    @include generalMixins.high-contrast($colour: colourVariables.$colour-dark-mode-primary-light);
  }

  ul &::marker {
    font-size: 1.5em;
    line-height: 1;
  }

  ul ol &::marker {
    font-size: 1em;
  }
}

dt {
  font-weight: 700;

  kbd {
    font-weight: 400;
  }
}

small {
  display: block;
  font-size: 100%;
  font-style: italic;
}
