html {
  @include font-body;
  color: $black;
  font-size: 120%;

  @media (min-width: $s) {
    font-size: 130%;
  }

  @media (min-width: $l) {
    font-size: 150%;
  }

  @media (min-width: $xl) {
    font-size: 180%;
  }
}

blockquote {
  border-left: .75em solid $colour-primary-light;
  margin-left: 0;
  margin-right: 0;
  padding: .5em 1.25em .5em 1em;

  p {
    display: inline;
  }
}

cite {
  display: block;
  font-family: $font--heading;
  margin-top: 1em;
}

strong {
  font-weight: 700;

  em {
    font-style: italic;
  }
}

em {
  font-style: italic;

  strong {
    font-weight: 700;
  }
}

p {
  hyphens: auto;
}

ul,
ol {

  @media (max-width: $l) {
    padding-left: 1.5em;
  }
}

li + li {
  margin-top: .5em;
}

code {
  font-family: menlo, monaco, 'Lucida Console', monospace;
  font-size: .8em;
  background-color: $colour-primary-light;
}

.index-list {
  @include remove-list-styling;

  h2,
  .read-more {

    a:visited {
      color: $colour-primary-darkest;
    }
  }
}

hr {
  border-top: 2px solid $colour-primary;
  margin: 1em 0;
}
