h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-style;

  a {

    &:link,
    &:visited {
      text-decoration: none;
    }
  }
}

h1 {
  @include heading-xl;
  hyphens: auto;

  @media (min-width: $m) {
    text-align: center;
  }
}

h2 {
  @include heading-l;
}

h3 {
  @include heading-m;
}

h4 {
  @include heading-s;
}

h5 {
  @include heading-xs;
}

h6 {
  @include heading-xxs;
}

h5,
h6 {
  font-weight: 400;
}
