h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-style;
}

h1 {
  @include heading-xl;
  margin-bottom: 3rem;

  @media (min-width: $m) {
    text-align: center;
  }
}

h2 {
  @include heading-l;
}

h3 {
  @include heading-m;
}

h4,
h5,
h6 {
  @include heading-s;
}
