@mixin text-link {

  &:link,
  &:visited {
    color: $colour-primary;
    @include dark-mode($color: $colour-dark-mode-primary);
  }

  &:hover,
  &:active {
    color: $colour-primary-darker;
    @include dark-mode($color: $colour-dark-mode-primary-darker);
  }

  &:focus {
    background-color: $colour-primary-lighter;
    color: $white;
    text-decoration: none;
    @include dark-mode($background: $colour-dark-mode-primary, $color: $white);
  }
}

a {
  @include text-link;

  > img {
    border: 3px solid $colour-primary;
    display: block;

    &:hover,
    &:active,
    &:focus {
      border-color: $black;
    }
  }
}
