@mixin text-link {

  &:link,
  &:visited {
    color: $colour-primary;
    @include dark-mode($color: $colour-dark-mode-primary);
  }

  &:hover,
  &:active {
    color: $colour-primary-darker;
    @include dark-mode($color: $colour-dark-mode-primary-darker);

    > code {
      color: $colour-dark-mode-primary;
      @include dark-mode($color: $colour-dark-mode-primary-darker);
    }
  }

  &:focus {
    background-color: $colour-primary-lighter;
    color: $white;
    text-decoration: none;
    @include dark-mode($background: $colour-dark-mode-primary, $color: $white);

    > code {
      background-color: $colour-primary-lighter;
      color: $white;
      @include dark-mode($background: $colour-dark-mode-primary);
      padding-bottom: 0;
    }
  }
}

a {
  @include text-link;

  > img {
    border: 3px solid $colour-primary;
    display: block;

    &:hover,
    &:active,
    &:focus {
      border-color: $black;
    }
  }

  > code {
    @include dark-mode($color: $colour-dark-mode-primary);
    color: $colour-dark-mode-primary-lighter;
  }
}
