@mixin text-link {

  &:link,
  &:visited {
    color: $colour-primary;
    text-decoration: underline;
  }

  &:hover,
  &:active,
  &:focus {
    color: $colour-primary-darker;
  }
}

a {
  @include text-link;

  &:focus {
    outline: none;
    background-color: $colour-primary-light;
    border-radius: .1em;
    @include dark-mode($colour-dark-mode-highlight);
  }

  > img {
    border: 3px solid $colour-primary;
    display: block;

    &:hover,
    &:active,
    &:focus {
      border-color: $black;
    }
  }
}
