$modularscale: (
  base: 1em,
  ratio: $major-third
);

@font-face {
  font-family: 'FS Me Web';
  font-size-adjust: .53;
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/FSMeWeb-Light.woff2') format('woff2'),
       url('../fonts/FSMeWeb-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'FS Me Web';
  font-size-adjust: .53;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/FSMeWeb-Regular.woff2') format('woff2'),
       url('../fonts/FSMeWeb-Regular.woff') format('woff');
  font-display: swap;
}

$font--heading: 'FS Me Web', sans-serif;

@mixin heading-style {
  font-family: $font--heading;
  line-height: 1.2;
  margin-top: 1em;
  margin-bottom: .25em;
  hyphens: auto;

  @media (min-width: $xs) {
    margin-top: 1.414em;
    line-height: 1.05;
  }

  @media (min-width: $s) {
    hyphens: none;
  }
}

@mixin font-body {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;

  @include dark-mode () {
    line-height: 1.7;
    word-spacing: .05em;
  }
}

@mixin heading-xl {
  font-size: ms(3);

  @media (max-width: $xxs) {
    font-size: ms(1);
    font-weight: 400;
  }

  @media (min-width: $m) {
    font-size: ms(4);
    font-weight: 200;
  }

  @media (min-width: $l) {
    font-size: ms(5);
  }
}

@mixin heading-l {
  font-size: ms(2);

  @media (max-width: $xxs) {
    font-size: ms(0);
    font-weight: 400;
  }

  @media (min-width: $m) {
    font-size: ms(2);
    font-weight: 200;
  }

  @media (min-width: $l) {
    font-size: ms(4);
  }
}

@mixin heading-m {
  font-size: ms(1);
  font-weight: 400;

  @media (max-width: $xxs) {
    font-size: ms(0);
    font-weight: 200;
  }

  @media (min-width: $m) {
    font-size: ms(2);
  }
}

@mixin heading-s {
  font-size: ms(0);
  font-weight: 400;

  @media (max-width: $xxs) {
    font-size: ms(-1);
  }

  @media (min-width: $m) {
    font-size: ms(1);
  }
}

@mixin remove-list-styling {
  list-style: none;
  padding-left: 0;

  li:before {
    content: "\200B";
    position: absolute;
  }

  ul {
    list-style-type: disc;

    ul {
      padding-left: 1.5em;
    }
  }
}
