@mixin button {
  background-color: $colour-primary;
  border: 3px solid $colour-primary;
  border-radius: $border-radius-default;
  color: $white;
  display: inline-block;
  display: inline-flex;
  align-items: center;
  font-family: $font--heading;
  font-weight: 400;
  margin-top: 1em;
  padding: .5em 2em;
  text-align: center;
  width: auto;
  text-decoration: none;
  @include dark-mode($colour-dark-mode-primary, $colour-dark-mode-main) {
    border-color: $colour-dark-mode-primary;
  }

  @media (max-width: $xs) {
    padding: .25em;
  }

  svg {
    margin-right: .3em;
    margin-top: -.3em;
  }

  &:link,
  &:visited {
    color: $white;
    text-decoration: none;
    @include dark-mode($colour: $colour-dark-mode-main);
  }

  &:hover {
    border-color: $colour-primary-darker;
    background-color: $colour-primary-darker;
    @include dark-mode($background: $colour-dark-mode-primary-lighter) {
      border-color: $colour-dark-mode-primary-lighter;
    }
  }

  &:active {
    position: relative;
    top: 2px;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px $colour-black;
    text-decoration: none;
    border-color: $colour-primary;

    @include dark-mode() {
      box-shadow: 0 0 0 3px $white;
      border-color: $colour-dark-mode-primary;
    }
  }

  &:focus:hover {
    border-color: $colour-primary-darker;
    @include dark-mode() {
      border-color: $colour-dark-mode-primary-lighter;
    }
  }

  &:focus:active {
    box-shadow: none;
  }
}
