@use '../admin/variables';
@use '../admin/mixins--general' as generalMixins;
@use '../admin/mixins--modes' as modeMixins;

code,
kbd {
  border-radius: variables.$border-radius-small;
  padding: .1em .1em .05em;
}

code {
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
  margin-right: .1em; // For when immediately followed by punctuation
  background-color: variables.$colour-code-background;
  @include modeMixins.dark-mode(variables.$colour-dark-mode-code-background);
  @include modeMixins.high-contrast(variables.$colour-high-contrast-code-background,);
}

kbd {
  font-family: system-ui, sans-serif;
  margin-right: .2em;
  margin-left: .2em;
  box-shadow: 0 0 0 1px variables.$colour-grey, 0 2px 0 1px variables.$colour-grey;
  @include modeMixins.dark-mode() {
    box-shadow: 0 0 0 1px variables.$colour-dark-mode-grey, 0 2px 0 1px variables.$colour-dark-mode-grey;
  }
}

code {
  font-family: 'Operator Mono', menlo, monaco, 'Lucida Console', monospace;
  font-weight: inherit;
  font-size-adjust: .53;
}

pre code,
pre {
  color: variables.$colour-black;
  @include modeMixins.dark-mode($colour: variables.$colour-dark-mode-white);
}

pre {
  background-color: variables.$colour-code-background;
  padding: 1em;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  border-radius: variables.$border-radius-default;
  margin-top: 1em;
  margin-bottom: 1em;
  @include modeMixins.dark-mode($background: variables.$colour-dark-mode-code-background);
  @include modeMixins.high-contrast($background: variables.$colour-high-contrast-code-background);

  @media (min-width: variables.$l) {
    @include generalMixins.overspill;

    li & {
      @include generalMixins.overspill-reset;
    }
  }

  code {
    display: block;
    padding: 0;
  }
}

pre {
  overflow: auto;
}

pre code {
  width: auto;
  text-wrap: nowrap;
  margin-right: 0;
}

// For syntax highlighting, see ../../components/_syntax-highlighting.scss
