code,
kbd {
  background-color: $colour-code-background;
  border-radius: $border-radius-small;
  padding: .1em .1em .05em;
  @include dark-mode($colour-dark-mode-code-background);
  @include high-contrast($colour-high-contrast-code-background,);
}

code {
  font-family: $code--font;
  font-size: .9em;
  font-weight: inherit;
}

pre code,
pre {
  color: $colour-black;
  @include dark-mode($colour: $colour-dark-mode-white);
}

pre {
  background-color: $colour-code-background;
  @include dark-mode($background: $colour-dark-mode-code-background);
  @include high-contrast($background: $colour-high-contrast-code-background);
  padding: 1em;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  border-radius: $border-radius-default;
  margin-top: 1em;
  margin-bottom: 1em;

  @media (min-width: $l) {
    @include overspill;

    li & {
      @include overspill-reset;
    }
  }

  code {
    display: block;
    padding: 0;
  }
}

// For syntax highlighting, see ../../components/_syntax-highlighting.scss
