form {
  width: 100%;
  margin-bottom: 2em;
  margin-top: 2em;
}


label {
  color: $colour-primary;
  font-family: $font--heading;
}

input,
textarea {
  @include dark-mode($background: $colour-dark-mode-main, $color: $colour-dark-mode-white);
  border: 3px solid $colour-primary;
  border-radius: $border-radius-default;
  display: block;
  font-family: georgia, serif;
  margin-bottom: 1em;
  padding: .5em 1em;
  width: 100%;

  &:focus {
    border-color: $black;

    @include dark-mode() {
      border-color: $white;
    }
  }
}

input {
  line-height: 1.2;
}

textarea {
  height: 10em;
}

[type="submit"] {
  @include button;
  display: block;
}
