form {
  width: 100%;
  margin-bottom: 1em;
  margin-top: 1em;
}

label {
  @include dark-mode($colour: $colour-dark-mode-white);
}

input {
  background-color: $colour-main;
  border: 3px solid $colour-primary;
  border-radius: $border-radius-default;
  display: block;
  margin-bottom: 1em;
  padding: .5em .75em;
  width: 100%;
  line-height: 1.2;
  @include dark-mode($colour-dark-mode-main, $colour-dark-mode-white);
  @include high-contrast($background: $colour-high-contrast-main) {
    border-color: $colour-dark-mode-primary-light;
  }

  &:focus {
    outline: solid 3px $colour-black;
    outline-offset: 0px;
    @include dark-mode() {
      outline: solid 3px $colour-white;
    }
  }
}

[type="submit"] {
  @include button;
  display: block;
  font-size: inherit;
  line-height: 1.2;
}
