@use '../admin/variables';
@use '../admin/mixins--buttons' as buttonsMixins;
@use '../admin/mixins--modes' as modeMixins;

form {
  margin-bottom: 1em;
  margin-top: 1em;
}

label {
  @include modeMixins.dark-mode($colour: variables.$colour-dark-mode-white);
}

input {
  background-color: variables.$colour-main;
  border: 3px solid variables.$colour-primary;
  border-radius: variables.$border-radius-default;
  display: block;
  padding: .5em .75em;
  width: 100%;
  line-height: 1.2;
  @include modeMixins.dark-mode(variables.$colour-dark-mode-main, variables.$colour-dark-mode-white);
  @include modeMixins.high-contrast($background: variables.$colour-high-contrast-main) {
    border-color: variables.$colour-dark-mode-primary-light;
  }

  &:focus {
    outline: solid 3px variables.$colour-black;
    outline-offset: 0px;
    @include modeMixins.dark-mode() {
      outline: solid 3px variables.$colour-white;
    }
  }
}

[type="submit"] {
  display: block;
  font-size: inherit;
  line-height: 1.2;
  @include buttonsMixins.button;
}
