form {
  width: 100%;
  margin-bottom: 1em;
  margin-top: 1em;
}

label {
  font-family: $font--heading;
  @include dark-mode($color: $colour-dark-mode-white);
}

input {
  @include dark-mode($background: $colour-dark-mode-main, $color: $colour-dark-mode-white);
  border: 3px solid $colour-primary;
  border-radius: $border-radius-default;
  display: block;
  font-family: georgia, serif;
  margin-bottom: 1em;
  padding: .5em 1em;
  width: 100%;
  @include dark-mode() {
    border-color: $colour-dark-mode-primary-lighter;
  }

  &:focus {
    border-color: $black;

    @include dark-mode() {
      border-color: $white;
    }
  }
}

input {
  line-height: 1.2;
}

[type="submit"] {
  @include button;
  display: block;
}
