html,
body {
  overflow-x: hidden;
}

::selection {
  background: $colour-primary;
  color: $white;
}

[role="main"],
[role="complementary"] {

  section,
  aside {
    margin-bottom: 3em;
  }
}

.read-more {

  a {
    @include link-marker;
    display: inline-block;
    font-family: $font--heading;
    margin-top: 0;
  }
}

img {
  border-radius: $border-radius-default;
}

.back {
  @include reverse-link-marker;
  display: inline-block;
  font-family: $font--heading;
  margin-bottom: 1em;
  margin-top: 1em;
}

.button {
  @include button-primary;
}

pre {
  background-color: $colour-dark-mode-main;
  color: $colour-dark-mode-white;
  padding: 1em;

  @include dark-mode ($colour-dark-mode-highlight);

  code {
    background-color: transparent;
    outline: 2px solid transparent;

    @include dark-mode () {
      color: $colour-dark-mode-white;
    }
  }
}

img,
address,
pre,
.map {
  margin-bottom: 1em;
  margin-top: 1em;
}

a img {
  display: inline;
}

.wistia_responsive_padding {
  background-color: $colour-primary-light;
  @include dark-mode($background: $colour-dark-mode-highlight);
}

ul,
ol {

  .details {
    font-family: $font--heading;
  }
}

small {
  display: block;
  font-size: ms(-1);
}
