html,
body {
  overflow-x: hidden;
  background-color: $colour-primary;
}

body {
  padding-top: .1em;
  padding-bottom: .1em;
}

.canvas {
  @include dark-mode($background: $colour-dark-mode-main, $color: $colour-dark-mode-white);
  background-color: $white;
  min-height: 100%;
  min-width: 100%;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.page-wrapper {
  @extend %container;
}

::selection {
  background: $colour-primary;
  color: $white;
}

[role="main"],
[role="complementary"] {

  section,
  aside {
    margin-bottom: 3em;
  }
}

.read-more {

  a {
    @include link-marker;
    display: inline-block;
    font-family: $font--heading;
    margin-top: 0;
  }
}

img {
  border-radius: $border-radius-default;
}

.back {
  @include reverse-link-marker;
  display: inline-block;
  font-family: $font--heading;
  margin-bottom: 1em;
  margin-top: 1em;
}

.button {
  @include button-primary;
}

img,
address,
pre,
.map {
  margin-bottom: 1em;
  margin-top: 1em;
}

a img {
  display: inline;
}

.wistia_responsive_padding {
  background-color: $colour-primary-light;
  @include dark-mode($background: $colour-dark-mode-highlight);
}

ul,
ol {

  .details {
    font-family: $font--heading;
  }
}

small {
  display: block;
  font-size: ms(-1);
}
