img {
  border-radius: $border-radius-default;
  box-shadow: 0 0 .25em lighten($black, 85%);
  display: block;
  background-color: $colour-primary-light;

  @include dark-mode() {
    background-color: $colour-dark-mode-highlight;
  }

  @media (min-width: $l) {
    width: calc(100% + 2em);
    margin-left: calc(-1em);
    margin-right: calc(-1em);
  }

  @include dark-mode() {
    box-shadow: 0 0 .25em $colour-dark-mode-black;
  }

  a & {
    display: inline;
  }

  p & {
    margin-top: 0;
    margin-bottom:  0;
  }
}
