@use '../admin/variables';
@use '../admin/mixins--modes' as modeMixins;
@use '../admin/placeholders' as placeholders;

body {
  background-color: variables.$colour-main;
  @include modeMixins.dark-mode(variables.$colour-dark-mode-main, variables.$colour-dark-mode-white);
  @include modeMixins.high-contrast($background: variables.$colour-high-contrast-main);
}

.wrapper {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  @include placeholders.container;
}
