html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

p {
  margin-bottom: 0;
  margin-top: 0;

  + p {
    margin-top: 1em;
  }
}

address {
  margin-bottom: 1em;
  margin-top: 1em;
}

ul,
ol {
  padding-left: 0;
}

body,
html,
// fieldset,
input {
  margin: 0;
  padding: 0;
}

// cite,
address {
  font-style: normal;
}

img,
// fieldset,
iframe {
  border: 0;
}

// legend {
//   padding: 0;
// }

// textarea,
// select,
input {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

table {
  border-collapse: collapse;
}

// [type="search"] {
//   -webkit-appearance: none;
//   border-radius: $border-radius-default;
//   box-shadow: none;
// }

// textarea,
// [type="tel"],
// [type="url"],
[type="text"],
[type="email"],
[type="submit"] {
  -webkit-appearance: none;
}

::-webkit-search-decoration,
::-webkit-search-cancel-button {
  display: none;
}

button {
  background-image: none;
}

// nav .selected {
//   cursor: default;
// }

textarea {
  overflow-y: auto;
  resize: vertical;
}

svg {
  height: auto;
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

::-moz-focus-inner {
  border: 0;
}
