.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.index-list {
  @include remove-list-styling;
}

.button {
  @include button;
}

.back {
  @include reverse-link-marker;
  display: inline-block;
  font-family: $font--heading;
  margin-bottom: 1em;
  margin-top: 1em;
}
