.visually-hidden {
  @extend %visually-hidden;
}

.index-list {
  @include remove-list-styling;
}

.button {
  @include button;
}

img,
video {

  &.natural-dimensions {
    margin-right: 0;
    margin-left: 0;
    width: auto;
    max-width: 100%;
  }
}
