@use '../admin/variables';
@use '../admin/mixins--general' as generalMixins;
@use '../admin/mixins--typography' as typographyMixins;
@use '../admin/mixins--modes' as  modeMixins;

.footer {
  padding-bottom: 1em;
  margin-top: variables.$section-spacing;

  address {
    margin-bottom: 0;
    margin-top: 0;
  }

  .company-details {
    margin-top: 0;
  }

  .org {
    display: block;
  }

  .links {

    ul {
      margin-top: 0;
    }

    @media (min-width: variables.$xxs) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      column-gap: 1em;

      & > :nth-child(1) { grid-column: 1 / -1; }
    }

    @media (min-width: variables.$m) {
      grid-template-columns: repeat(4, 1fr);

      & > :nth-child(1) { grid-column: 1 / span 2; }
      & > :nth-child(2) { grid-column: 3; }
      & > :nth-child(3) { grid-column: 4; }
    }
  }

  .utility {
    @media (min-width: variables.$xs) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      column-gap: 1em;
    }
  }

  ul {
    @include typographyMixins.remove-list-styling;
  }

  li:has(svg) {
    display: flex;
  }

  svg {
    $width: 1.2em;
    width: $width;
    height: $width;
    margin-right: .5em;
    margin-top: .15em;
  }
}
