@use '../admin/variables';
@use '../admin/mixins--typography' as typographyMixins;
@use '../admin/mixins--general' as generalMixins;

.header {
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: .5em;
  flex-direction: column;

  @media (min-width: variables.$l) {
    flex-direction: row;
    align-items: start;
  }

  nav ul {
    margin-bottom: 0;
    margin-top: 0;
    @include typographyMixins.remove-list-styling;
    @include generalMixins.inline-nav;
  }

  svg {
    display: block;
    color: variables.$colour-light-mode-foreground;
    color: light-dark(
      variables.$colour-light-mode-foreground,
      variables.$colour-dark-mode-foreground
    );

    @media (min-width: variables.$l) {
      margin-top: .1em;
    }

    @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
      color: variables.$colour-dark-mode-high-contrast-foreground;
    }
  }
}
