@use '../admin/variables';
@use '../admin/mixins--general' as generalMixins;

.skip-to-content {
  @include generalMixins.visually-hidden;

  &:focus {
    top: .5em;
    left: .25em;
    overflow: visible;
    clip: initial;
    height: auto;
    width: auto;
    margin: 0;
    background-color: variables.$colour-light-mode-background;
    background-color: light-dark(
      variables.$colour-light-mode-background,
      variables.$colour-dark-mode-background
    );
    box-shadow: 0 0 .4em 0 variables.$colour-light-mode-neutral;
    box-shadow: 0 0 .4em 0 light-dark(
      variables.$colour-light-mode-neutral,
      variables.$colour-dark-mode-background
    );
    outline-offset: 0;
    padding: 0.5em .5em;

    @media screen and (prefers-color-scheme: dark) {
      box-shadow: .2em .2em .4em .1em variables.$colour-dark-mode-background;
    }
    @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
      background-color: variables.$colour-dark-mode-high-contrast-background;
      box-shadow: .2em .2em .4em .1em variables.$colour-dark-mode-high-contrast-background;
    }
  }
}

main:focus {
  outline: none;
}
