@use '../admin/variables';
@use '../admin/mixins--modes' as modeMixins;

.token {

  &.comment {
    font-style: italic;
  }

  &.comment,
  &.prolog,
  &.doctype,
  &.cdata,
  &.url {
    color: variables.$colour-code-grey;
    @include modeMixins.dark-mode($colour: variables.$colour-dark-mode-code-grey);
  }

  &.punctuation {
    color: variables.$colour-code-grey;
    @include modeMixins.dark-mode($colour: variables.$colour-dark-mode-code-grey);
  }

  &.property,
  &.tag,
  &.constant,
  &.symbol,
  &.deleted,
  &.keyword {
    color: variables.$colour-code-magenta;
    @include modeMixins.dark-mode($colour: variables.$colour-dark-mode-code-magenta);
    @include modeMixins.high-contrast($colour: variables.$colour-high-contrast-code-magenta);
  }

  &.boolean,
  &.number {
    color: variables.$colour-code-purple;
    @include modeMixins.dark-mode($colour: variables.$colour-dark-mode-code-purple);
    @include modeMixins.high-contrast($colour: variables.$colour-high-contrast-code-purple);
  }

  &.selector,
  &.attr-name,
  &.string,
  &.char,
  &.builtin,
  &.inserted,
  &.operator,
  &.entity,
  &.url .url,
  .language-css &.string,
  .style &.string,
  &.variable {
    color: variables.$colour-code-cyan;
    @include modeMixins.dark-mode($colour: variables.$colour-dark-mode-code-cyan);
  }

  &.atrule,
  &.attr-value,
  &.function,
  &.regex,
  &.important {
    color: variables.$colour-code-yellow;
    @include modeMixins.dark-mode($colour: variables.$colour-dark-mode-code-yellow);
  }

  &.important,
  &.bold {
    font-weight: bold;
  }

  &.italic {
    font-style: italic;
  }

  &.entity {
    cursor: help;
  }

  &.url .content {
    color: variables.$colour-black;
    @include modeMixins.dark-mode($colour: variables.$colour-dark-mode-white);
  }
}
