---
permalink: feeds/main.json
---
{
  "version": "https://jsonfeed.org/version/1",
  "title": "{{ title }}",
  "home_page_url": "{{ site.url }}",
  "feed_url": "{{ site.url }}/{{ permalink }}",
  "description": "{{ description }}",
  "author": {
    "name": "{{ site.author.name }}",
    "url": "https://mastodon.social/@tempertemper",
    "avatar": "{{ site.url }}/assets/img/martin-underhill-tempertemper--square-512x512.jpg"
  },
  "icon": "{{ site.url }}/assets/img/tempertemper-feed.png",
  "favicon": "{{ site.url }}/assets/img/icons/favicon.png",
  "items": [
  {%- for post in collections.post | reverse %}
    {
      "id": "{{ loop.revindex }}",
      "date_published": "{{ post.date | rssDate }}",
      {%- if post.updated %}"date_modified": "{{ post.updated | rssDate }}",{%- endif %}
      "title": "{{ post.data.title | smart | safe | replace("&nbsp;", " ") }}",
      "summary": "{{ post.data.intro | markdown | safe | striptags }}",
      {%- set postTags = post.data.tags | tagsOnPage %}
      {%- if postTags.length > 0  %}
      "tags": [{% for category in postTags %}"{{ category }}"{% if not loop.last %},{% endif %}{% endfor %}],
      {%- endif %}
      "url": "{{ site.url }}{{ post.url | replace (".html", "") }}",
      {%- set postContent = post.templateContent %}
      {%- set commonContent = '<p>The article <a rel="nofollow" href="' + site.url + post.url | replace (".html", "") + '">' + post.data.title | smart | safe | replace("&nbsp;", " ") + '</a> appeared first on <a rel="nofollow" href="' + site.url + '">www.tempertemper.net</a>.</p>\n' %}
      {%- set content = [postContent, commonContent] %}
      "content_html": {{ content | join | dump | safe }}
    }
    {%- if loop.length >= 2 -%}
      {%- if not loop.last -%}
      ,
      {%- endif -%}
  {%- endif %}
  {%- endfor %}
  ]
}
