label {
  color: $colour-primary;
  @include font-heading-regular;
}

input,
textarea {
  display: block;
  width: 100%;
  border: 3px solid $colour-primary;
  border-radius: $border-radius-default;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  transition: color .3s ease;

  &:focus {
    border-color: black;
  }
}

textarea {
  height: 10em;
}

input[type="submit"] {
  @include button-primary;
  display: block;
}

@media (min-width: $m) {

  form.subscribe {

    div {
      @include layout($wide-layout);
      @include span(last 2 of 4);

      &:first-child {
        @include span(2 of 4);
      }
    }
  }
}