label {
  color: $colour-primary;
  @include font-heading-regular;
}

input,
textarea {
  display: block;
  width: 100%;
  border: 3px solid $colour-primary;
  border-radius: $border-radius-default;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  transition: color .3s ease;

  &:focus {
    border-color: black;
  }
}

input {
  line-height: 1.2;
}

textarea {
  height: 10em;
}

input[type="submit"] {
  @include button-primary;
  display: block;
}