html,
body {
  overflow-x: hidden;
}

::selection {
  background: $colour-primary;
  color: $white;
}

[role="main"],
[role="complementary"] {

  section,
  aside {
    margin-bottom: 3em;
  }
}

.read-more {
  text-align: center;

  a {
    @include link-marker;
    @include font-heading-regular;
    display: inline-block;
    margin-top: 0;
  }
}

img {
  border-radius: $border-radius-default;
}

.back {
  @include reverse-link-marker;
  @include font-heading-regular;
  display: inline-block;
  margin-bottom: 1em;
  margin-top: 1em;
}

.button {
  @include button-primary;
}

pre {
  background-color: $black;
  color: $white;
  padding: 1em;
}

img,
address,
pre,
.map {
  margin-bottom: 1em;
  margin-top: 1em;
}

a img {
  display: inline;
  margin-bottom: 0;
  margin-top: 0;
}

// This selector is in an iframe so I have no control over its formatting
// scss-lint:disable SelectorFormat
.wistia_responsive_padding {
  background-color: $colour-primary-light;
}

ul,
ol {

  .details {
    @include font-heading-regular;
  }
}

small {
  display: block;
  font-size: ms(-1);
}
