@font-face {
  font-family: "Icons";
  src: url("../fonts/icons.eot?v4.3.9");
  src: url("../fonts/icons.eot?#iefix?v4.3.9") format("embedded-opentype"),
       url("../fonts/icons.woff2?v4.3.9") format("woff2"),
       url("../fonts/icons.woff?v4.3.9") format("woff"),
       url("../fonts/icons.ttf?v4.3.9") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@mixin icons {
  font-family: Icons;
  line-height: 1;
}

.icon {
  display: inline-block; // Fix for clickability issue in WebKit
}

[data-icon]:before {
  @include icons;
  content: attr(data-icon);
  speak: none;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
