.paging {
  @include font-heading-regular;
  clear: both;
  margin-top: 4em;
  line-height: 1;

  .page {
    text-align: center;
  }

  .previous,
  .next {
    margin-top: -2em;
  }

  .previous {
    @include reverse-link-marker;
    float: left;
  }

  .next {
    @include link-marker;
    float: right;
  }
}
