html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:link,
:visited {
  text-decoration: none;
}

// Autoprefixer doesn't pick up `text-size-adjust` for some reason, so these have to be left in
// scss-lint:disable VendorPrefix
body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

pre,
code {
  font-size: 100%;
  font-weight: normal;
}

ul,
ol {
  padding-left: 0;
}

pre,
body,
html,
fieldset,
input {
  margin: 0;
  padding: 0;
}

address,
cite {
  font-style: normal;
}

a:focus {
  outline: none;
}

a img,
img,
iframe,
fieldset {
  border: 0;
}

legend {
  padding: 0;
  color: $black;
}

input,
textarea,
select {
  margin: 0;
  padding: 1px;
  font-size: 100%;
  font-family: inherit;
}

select {
  padding: 0;
}

table {
  border-collapse: collapse;
}

// removes default focus property
:focus {
  outline: none;
}

[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
}

[type="search"] {
  -webkit-appearance: none;
  border-radius: $border-radius-default;
  box-shadow: none;
}

[type="text"],
[type="email"],
[type="tel"],
[type="url"],
textarea {
  -webkit-appearance: none;
}

::-webkit-search-decoration,
::-webkit-search-cancel-button {
  display: none;
}

// Cancel out Firefox Mobile's gradient background
button {
  background-image: none;
}

nav .selected {
  cursor: default;
}

textarea {
  overflow-y: auto;
  resize: vertical;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}
