// BREAKPOINTS //

$xs: 25em;
$s: 31em;
$m: 43em;
$l: 57em;
$xl: 72em;


// COLOURS //

// Primary (blue)

$colour-primary: #0097DB; // normal
$colour-primary-lighter: lighten($colour-primary, 5%);
$colour-primary-light: lighten($colour-primary, 53%);
$colour-primary-darker: darken($colour-primary, 5%);
$colour-primary-darkest: darken($colour-primary, 15%);

// Secondary (black)

$colour-secondary-lighter: lighten(black, 60%);
$colour-secondary-light: lighten(black, 95%);

// STYLE

$border-radius-default: 5px;
$divider: 3px solid black;

// FONTS

$font-size: 90%;