<ul>
    {% for item in items %}
        <li{% if selected %} class="selected"{% endif %}{% if ancestor %} class="ancestor"{% endif %}>
            <a href="#">{{ item }}</a>
        </li>
    {% endfor %}
</ul>
