.cats,
.tags,
.years {

  ul {
    padding-left: 0;
  }

  li {
    display: inline;
  }
}

.details {

  .tags {
    display: inline;
    padding-left: 0;
  }
}

.tags {

  a {

    &:before {
      content: '#';
    }
  }
}
