html,
body {
  background-color: $colour-primary;
}

body {
  padding-top: .1em;
  padding-bottom: .1em;
}

.canvas {
  background-color: $white;
  min-height: 100%;
  min-width: 100%;
}

.page-wrapper {
  @extend %container;
}

@media (min-width: $l) {

  [role="main"],
  [role="complementary"] {
    @include layout($wide-layout);
    @include pre(1 of 6);
    width: span(4 of 6);
  }
}

section,
aside,
article {
  margin-bottom: 5em;
  margin-top: 5em;
}

[role="contentinfo"] {
  margin-top: 5em;
}

form {
  margin-bottom: 2em;
  margin-top: 2em;
}

.post-groups {

  @media (min-width: $xs) {
    @include layout($wide-layout);

    .cats {
      @include span(3 of 6);
    }

    .years {
      @include span(last 3 of 6);
    }

    .tags {
      @include clearfix;
      clear: both;
    }
  }
}
