@media (min-width: $l) {

  [role="main"] {
    @include layout($wide-layout);
    @include pre(1 of 6);
    width: span(4 of 6);
  }
}

section,
aside,
article {
  margin-bottom: 1em;
  margin-top: 1em;

  @media (min-width: $m) {
    margin-bottom: 3em;
    margin-top: 3em;
  }
}

[role="contentinfo"] {
  margin-top: 5em;
}

form {
  margin-bottom: 2em;
  margin-top: 2em;
}

.post-groups {

  @media (min-width: $xs) {
    @include layout($wide-layout);

    .cats {
      @include span(3 of 6);
    }

    .years {
      @include span(last 3 of 6);
    }

    .tags {
      @include clearfix;
      clear: both;
    }
  }
}
