@mixin dark-mode($background: null, $color: null) {

  @media screen and (prefers-color-scheme: dark) {

    @if ($background != null and $color != null) {
      background-color: $background;
      color: $color;
    }
    @else if ($background != null and $color == null) {
      background-color: $background;
    }
    @else if ($color != null and $background == null) {
      color: $color;
    }
    @else {
      @content;
    }
  }
}

@mixin clearfix {

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin reverse-link-marker {

  &:hover,
  &:active,
  &:focus {

    &:before {
      text-decoration: none;
    }
  }

  &:before {
    content: '\2039';
    display: inline-block;
    margin-right: .25em;
  }
}

@mixin inline-nav {
  display: inline-block;
  width: auto;

  + li {
    margin-top: 0;
  }

  &:after {
    content: '/';
    display: inline-block;
  }

  &:last-child {

    &:after {
      content: none;
    }
  }

  a {
    display: inline-block;
    padding-left: .1em;
    padding-right: .1em;
  }
}

@mixin highlight-box {
  background-color: $colour-primary-light;
  @include dark-mode($background: $colour-dark-mode-highlight, $color: $colour-dark-mode-white);
  border-radius: $border-radius-default;
  padding: 1em;

  a {
    color: $colour-primary-darker;
    @include dark-mode($color: $colour-dark-mode-primary-lighter);

    &:hover {
      color: $colour-primary-lighter;
      @include dark-mode($color: $colour-dark-mode-primary);
    }

    &:active,
    &:focus {
      color: $colour-primary;
      background-color: $white;
      @include dark-mode($background: $colour-dark-mode-main, $color: $colour-dark-mode-primary);
    }
  }
}

@mixin full-width {

  @media (min-width: $l) {
    @include layout($wide-layout);
    @include pull(1 of 4);
    width: span(6 of 4);
  }
}

@mixin boxout {
  @include highlight-box;
  @include clearfix;

  @media (min-width: $l) {
    @include layout($wide-layout);
    $spacing: gutter();
    margin-left: -$spacing;
    padding-left: $spacing;
    padding-right: $spacing;
    width: 100%+$spacing+$spacing;
  }
}
