@use './variables--general' as generalVariables;
@use './variables--colour' as colourVariables;
@use './variables--layout' as layoutVariables;
@use './mixins--typography' as typographyMixins;
@use './mixins--modes' as modeMixins;

@mixin inline-nav {

  & {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  li + li {
    margin-left: .5em;
  }

  a {
    display: inline-flex;
    min-height: 48px;
    align-items: center;
  }
}

@mixin highlight-box {

  & {
    background-color: colourVariables.$colour-highlight;
    border-radius: generalVariables.$border-radius-default;
    padding: 1em;
  }

  @include modeMixins.dark-mode($background: colourVariables.$colour-dark-mode-highlight);
  @include modeMixins.high-contrast($background: colourVariables.$colour-high-contrast-highlight);

  a {

    &:focus {
      background-color: colourVariables.$colour-highlight;
      @include modeMixins.dark-mode($background: colourVariables.$colour-dark-mode-highlight);
      @include modeMixins.high-contrast($background: colourVariables.$colour-high-contrast-highlight);
    }

    &:focus:not(:focus-visible) {
      background-color: transparent;
      @include modeMixins.dark-mode($background: transparent);
      @include modeMixins.high-contrast($background: transparent);
    }

    &:focus-visible {
      background-color: colourVariables.$colour-highlight;
      @include modeMixins.dark-mode($background: colourVariables.$colour-dark-mode-highlight);
      @include modeMixins.high-contrast($background: colourVariables.$colour-high-contrast-highlight);
    }
  }

  > h2,
  > h3 {
    margin-top: .25em;
  }
}

@mixin overspill {
  margin-left: calc(-1em);
  margin-right: calc(-1em);
}

@mixin overspill-reset {
  margin-left: 0;
  margin-right: 0;
}

@mixin boxout {
  @include highlight-box;

  @media (min-width: layoutVariables.$l) {
    @include overspill;
  }
}

@mixin boxes-in-list {

  ul,
  ol {
    max-width: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-left: 0;

    @media (min-width: layoutVariables.$m) {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    @media (min-width: layoutVariables.$l) {
      @include overspill;
    }
  }

  li {
    flex: 1 1 calc((100% - 1em) / 2);
    min-width: 0;

    @include typographyMixins.remove-list-styling;
    @include highlight-box;

    h2 {
      @include typographyMixins.heading-m;
    }
  }
}

@mixin embedded-media {
  border-radius: generalVariables.$border-radius-default;
  background-color: colourVariables.$colour-highlight;
  display: block;
  box-shadow: 0 0 .25em colourVariables.$colour-grey;
  margin-bottom: 1em;
  margin-top: 1em;
  height: auto;
  width: 100%;
  @include modeMixins.dark-mode($background: colourVariables.$colour-dark-mode-highlight);
  @include modeMixins.high-contrast($background: colourVariables.$colour-high-contrast-highlight);

  @media (min-width: layoutVariables.$l) {
    @include overspill;
  }

  @include modeMixins.dark-mode() {
    box-shadow: 0 0 .25em colourVariables.$colour-black;
  }
}

@mixin divider {
  border-top: 2px solid colourVariables.$colour-primary;
}
