@use './variables' as variables;
@use './mixins--modes' as modeMixins;


@mixin text-link {
  border-radius:variables.$border-radius-small;

  &:link,
  &:visited {
    color: variables.$colour-primary-darker;
    @include modeMixins.dark-mode($colour: variables.$colour-primary);
    @include modeMixins.high-contrast($colour: variables.$colour-dark-mode-primary-light);
  }

  &:hover {
    color: variables.$colour-primary-dark;
    @include modeMixins.dark-mode($colour: variables.$colour-dark-mode-primary-light);
    @include modeMixins.high-contrast($colour: variables.$colour-high-contrast-primary-light);
  }

  &:active {
    color: variables.$colour-black;
    @include modeMixins.dark-mode($colour: variables.$colour-dark-mode-white);
  }

  &:focus {
    background-color: variables.$colour-white;
    outline: 3px solid variables.$colour-black;
    outline-offset: 1px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    @include modeMixins.dark-mode($background: variables.$colour-dark-mode-main) {
      outline: 3px solid variables.$colour-white;
      outline-offset: 1px;
    }
    @include modeMixins.high-contrast($background: variables.$colour-high-contrast-main) {
      outline: 3px solid variables.$colour-white;
      outline-offset: 1px;
    }
  }

  &:focus:not(:focus-visible) {
    background-color: transparent;
    outline: none;
    -webkit-box-decoration-break: slice;
    box-decoration-break: slice;
    @include modeMixins.dark-mode($background: transparent) {
      outline: none;
    }
    @include modeMixins.high-contrast($background: transparent) {
      outline: none;
    }
  }

  &:focus-visible {
    background-color: variables.$colour-white;
    outline: 3px solid variables.$colour-black;
    outline-offset: 1px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    @include modeMixins.dark-mode($background: variables.$colour-dark-mode-main) {
      outline: 3px solid variables.$colour-white;
      outline-offset: 1px;
    }
    @include modeMixins.high-contrast($background: variables.$colour-high-contrast-main) {
      outline: 3px solid variables.$colour-white;
      outline-offset: 1px;
    }
  }
}
