@mixin dark-mode($background: null, $color: null) {

  @media screen and (prefers-color-scheme: dark) {

    @if ($background != null and $color != null) {
      background-color: $background;
      color: $color;
    }
    @else if ($background != null and $color == null) {
      background-color: $background;
    }
    @else if ($color != null and $background == null) {
      color: $color;
    }
    @else {
      @content;
    }
  }
}

@mixin clearfix {

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin reverse-link-marker {

  &:hover,
  &:active,
  &:focus {

    &:before {
      text-decoration: none;
    }
  }

  &:before {
    content: '\2039';
    display: inline-block;
    margin-right: .25em;
  }
}

@mixin inline-nav {
  display: inline-block;
  width: auto;

  + li {
    margin-top: 0;
    margin-left: .5em;
  }

  a {
    display: inline-flex;
    min-height: 48px;
    align-items: center;
  }
}

@mixin highlight-box {
  background-color: $colour-primary-lightest;
  @include dark-mode(
    $background: $colour-dark-mode-highlight,
    $color: $colour-dark-mode-white
  );
  border-radius: $border-radius-default;
  padding: 1em;

  a {
    color: $colour-primary-darker;
    @include dark-mode($color: $colour-dark-mode-primary-lighter);

    &:hover,
    &:active,
    &:focus {
      color: $colour-primary-lighter;
      @include dark-mode($color: $colour-dark-mode-primary);
    }

    &:active,
    &:focus {
      color: $white;
    }
  }
}

@mixin full-width {

  @media (min-width: $l) {
    $gutter: gutter();
    $column: span(1 of 4);
    margin-left: -($gutter * 1.5) + -$column;
    width: span(6 of 6) + span(3 of 6) + ($gutter * 1.263);
  }
}

@mixin boxout {
  @include highlight-box;
  @include clearfix;

  @media (min-width: $l) {
    $spacing: gutter();
    margin-left: -$spacing;
    padding-left: $spacing;
    padding-right: $spacing;
    width: 100% + $spacing + $spacing;
  }
}

@mixin embedded-media {
  border-radius: $border-radius-default;
  background-color: $colour-primary-lightest;
  @include dark-mode($background: $colour-dark-mode-highlight);
  display: block;
  box-shadow: 0 0 .25em lighten($black, 85%);

  @media (min-width: $l) {
    width: calc(100% + 2em);
    margin-left: calc(-1em);
    margin-right: calc(-1em);
  }

  @include dark-mode() {
    box-shadow: 0 0 .25em $colour-dark-mode-black;
  }
}
