@use '../admin/variables';
@use '../admin/mixins--general' as generalMixins;
@use '../admin/mixins--modes' as modeMixins;

@mixin button {
  background-color: colourVariablesvariablescolour-primary;
  border-radius: variables.$border-radius-default;
  border: none;
  border-bottom: solid 3px variables.$colour-primary-dark;
  color: variables.$colour-white;
  display: inline-block; // Older browsers
  display: inline-flex;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  margin-top: 1em;
  padding: .5em 1em; // Older browsers
  padding: calc(.5em + 3px) 1em .5em;
  width: auto;
  @include modeMixins.dark-mode($colour: variables.$colour-dark-mode-main) {
    border-bottom: solid 3px variables.$colour-dark-mode-primary-dark;
  }
  @include modeMixins.high-contrast(variables.$colour-dark-mode-primary-light, variables.$colour-high-contrast-main);

  @media (max-width: variables.$xs) {
    padding: .25em;
  }

  svg {
    margin-right: .3em;
    margin-top: -.3em;
  }

  &:focus {
    outline: 3px solid variables.$colour-black;
    @include modeMixins.dark-mode() {
      outline: 3px solid variables.$colour-white;
    }
  }

  &:focus:not(:focus-visible) {
    outline: none;
    @include modeMixins.dark-mode() {
      outline: none;
    }
  }

  &:focus-visible {
    outline: 3px solid variables.$colour-black;
    @include modeMixins.dark-mode() {
      outline: 3px solid variables.$colour-white;
    }
  }

  &:hover {
    background-color: variables.$colour-primary-dark;
    @include modeMixins.dark-mode($background: variables.$colour-dark-mode-primary-light);
    @include modeMixins.high-contrast($background: variables.$colour-high-contrast-primary-light);
  }

  &:active {
    position: relative;
    top: 3px;
    border-bottom: none;
    margin-bottom: 3px;
    // border-top: solid 2px transparent;
  }
}
