%clearfix {
  @include clearfix;
}

%container {
  max-width: 50em;
  margin-right: auto;
  margin-left: auto;
  padding-left: .5em;
  padding-right: .5em;
}

%visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
