// Breakpoints
$xxs: 15em;
$xs: 25em;
$s: 31em;
$m: 43em;
$l: 60em;
$xl: 85em;

// Other colours
$black: #0B0C0C;
$white: #fff;

// Primary colours
// $colour-primary: #0097db;
$colour-primary: #007CBA;
$colour-primary-lighter: #008DD1;
$colour-primary-light: #E6F7FF;
$colour-primary-darker: #0073AB;

// Dark mode colours
$colour-dark-mode-primary: #00A0F0;
$colour-dark-mode-primary-lighter: #19B3FF;
$colour-dark-mode-primary-darker: #008FD6;
$colour-dark-mode-main: #2C2C2C;
$colour-dark-mode-highlight: #3D3D3D;
$colour-dark-mode-white: #f2f2f2;
$colour-dark-mode-black: #1f1f22;

// General styles
$border-radius-default: 5px;
$section-spacing: 3em;

// Code
$code--font: menlo, monaco, 'Lucida Console', monospace;
