// Breakpoints
$xxs: 15em;
$xs: 25em;
$s: 31em;
$m: 43em;
$l: 60em;
$xl: 85em;

// Light mode colours
$colour-primary: #0097db;
$colour-primary-lighter: #008dd1;
$colour-primary-darker: #0073ab;
$colour-highlight: #ebf8ff;
$colour-black: #0b0c0c;
$colour-white: #fff;

// Dark mode colours
$colour-dark-mode-primary: #00a0f0;
$colour-dark-mode-primary-lighter: #19b3ff;
$colour-dark-mode-primary-darker: #008fd6;
$colour-dark-mode-highlight: #3d3d3d;
$colour-dark-mode-main: #2c2c2c;
$colour-dark-mode-white: #f2f2f2;
$colour-dark-mode-black: #1f1f22;

// Code colours
$colour-code-background: #f2f2f2;
$colour-code-grey: #534f54;
$colour-code-magenta: #d8036e;
$colour-code-purple: #6d5ad8;
$colour-code-cyan: #147685;
$colour-code-yellow: #7c6c04;

// Dark mode code colours
$colour-dark-mode-code-background: #1a1a1c;
$colour-dark-mode-code-grey: #adacaf;
$colour-dark-mode-code-magenta: #ff508c;
$colour-dark-mode-code-purple: #9786e9;
$colour-dark-mode-code-cyan: #00d7e9;
$colour-dark-mode-code-yellow: #ffe648;

// General styles
$border-radius-default: 5px;
$section-spacing: 3em;

// Code
$code--font: menlo, monaco, 'Lucida Console', monospace;
