<perch:if exists="paging">
  <div class="paging">
    <p class="page">Page <perch:blog id="current_page" /> of <perch:blog id="number_of_pages" /></p>
    <perch:if exists="not_first_page">
      <a href="/blog/<perch:if exists="url_cat" />category/<perch:blog id="url_cat" />/</perch:if><perch:if exists="url_tag" />tag/<perch:blog id="url_tag" />/</perch:if><perch:if exists="url_year" />year/<perch:blog id="url_year" />/</perch:if><perch:if exists="url_month" />month/<perch:blog id="url_month" />/</perch:if>page/<perch:blog id="prev_page_number" encode="false" />" class="previous">Previous</a>
    </perch:if>
    <perch:if exists="not_last_page">
      <a href="/blog/<perch:if exists="url_cat" />category/<perch:blog id="url_cat" />/</perch:if><perch:if exists="url_tag" />tag/<perch:blog id="url_tag" />/</perch:if><perch:if exists="url_year" />year/<perch:blog id="url_year" />/</perch:if><perch:if exists="url_month" />month/<perch:blog id="url_month" />/</perch:if>page/<perch:blog id="next_page_number" encode="false" />" class="next">Next</a>
    </perch:if>
  </div>
</perch:if>

