<perch:if exists="paging">
    <div class="paging">
        <p class="page">Page <perch:search id="current_page" /> of <perch:search id="number_of_pages" /></p>
        <perch:if exists="not_first_page">
            <a href="/search/<perch:search id="search_key" />/page/<perch:search id="prev_page_number" encode="false" />" class="previous">Previous</a>
        </perch:if>
        <perch:if exists="not_last_page">
           <a href="/search/<perch:search id="search_key" />/page/<perch:search id="next_page_number" encode="false" />" class="next">Next</a>
        </perch:if>
    </div>
</perch:if>
