<perch:content id="case-study" type="textarea" label="Case study" bucket="projects" order="3" size="xl" editor="markitup" required="true" markdown="true" html="true" imagewidth="740" imagequality="90" imagecrop="true" />

<perch:if exists="challenges">
    <h2>Challenges</h2>
</perch:if>

<perch:content id="challenges" type="textarea" label="Challenges" order="4" size="m" markdown="true" />

<perch:if exists="website">
    <div class="read-more">
        <a href="<perch:content id="website" type="text" />" rel="nofollow" class="go-to">Visit <perch:content id="title" type="text" label="Project title" html="false" order="1" title="true" /> site</a>
    </div>
</perch:if>

<h2>Kind words</h2>

<perch:related id="testimonial" collection="testimonials" label="Testimonial" divider-before="Select testimonial">
    <perch:template path="content/testimonial_feature.html" />
</perch:related>

<perch:content id="excerpt" type="textarea" label="Excerpt" size="s" required="true" html="false" suppress="true" chars="200" help="Max 200 characters" append="…" count="chars" divider-before="Meta" />

<perch:related id="services" collection="Services" label="Services" required="true" display-as="checkboxes" suppress="true">
    <perch:before>
        <section>
            <ul>
    </perch:before>
        <li>
             <a href="/services/<perch:content id="slug" type="slug" />"><perch:content id="title" /></a>
        </li>
    <perch:after>
          </ul>
        </section>
    </perch:after>
</perch:related>

<perch:content id="website" order="2" type="text" label="Website" default="http://" html="false" suppress="true" />
<perch:content id="slug" for="title" type="slug" suppress="true" />

<perch:noresults>
  <h1>Uh oh…</h1>
  <p>Looks like the page you were after has been moved, deleted or doesn’t exist. Or maybe there was a typo in the link you followed. Don’t worry – all is not lost! Just use the navigation or search to find the page you were after.</p>
</perch:noresults>
