<perch:before>
    <section class="teaser">
        <h2>Recent projects</h2>
        <ul class="index-list">
</perch:before>
    <li>
        <h3><a href="/projects/<perch:content id="slug" type="slug" />"><perch:content id="title" type="text" /></a></h3>
        <p><perch:content id="excerpt" type="textarea" striptags="true" /></p>
        <div class="read-more">
            <a href="/projects/<perch:content id="slug" type="slug" />" class="go-to" aria-label="Read more about <perch:content id="title" type="text" />">Read more</a>
        </div>
    </li>
<perch:after>
        </ul>
        <div class="read-more">
            <a href="/projects">View more projects</a>
        </div>
    </section>
</perch:after>
