<perch:related id="services" collection="Services"><!--*
    *--><perch:before>
        <perch:if exists="slug">
            <p class="details">Work included
        <perch:else />
        </perch:if>
    </perch:before><!--*
    *--><perch:if exists="perch_item_first"><perch:else /><perch:if exists="perch_item_last"> and <perch:else />, </perch:if></perch:if><a href="/services/<perch:content id="slug" />"><perch:content id="title" /></a><!--*
    *--><perch:after>
        <perch:if exists="slug">
            </p>
        <perch:else />
        </perch:if>
    </perch:after><!--*
*--></perch:related>
