<perch:before>
  <ul class="index-list">
</perch:before>

    <li>

      <h2><a href="/projects/<perch:content id="slug" type="slug" />"><perch:content id="title" type="text" /></a></h2>

      <perch:categories id="Services" label="Type of work" set="services" required="true" display-as="checkboxes" divider-before="Categories">
        <perch:before>
          <p class="details">Work included
        </perch:before>
          <a href="/services/<perch:category id="catSlug" />"><perch:category id="catTitle" /></a><perch:if exists="perch_item_last"><perch:else />, </perch:if>
        <perch:after>
          </p>
        </perch:after>
      </perch:categories>

      <div class="project-info">

        <p><perch:content id="excerpt" type="textarea" markdown="true" /></p>

      </div>

      <a href="/projects/<perch:content id="slug" type="slug" />" class="go-to">View full case study</a>

    </li>

<perch:after>
  </ul>
  <perch:template path="pagination/services.html" rescope="parent" />
</perch:after>