<perch:before>
  <ul class="index-list">
</perch:before>

    <li>

      <h2><a href="/projects/<perch:content id="slug" type="slug" />"><perch:content id="title" type="text" /></a></h2>
      <perch:template path="content/project_details.html" />

      <p><perch:content id="excerpt" type="textarea" markdown="true" striptags="true" /></p>

      <div class="read-more">
        <a href="/projects/<perch:content id="slug" type="slug" />">View full case study</a>
      </div>

    </li>

<perch:after>
  </ul>
  <perch:template path="pagination/projects.html" rescope="parent" />
</perch:after>
