<perch:content id="citation" type="text" order="1" label="Citation" title="true" html="false" suppress="true" />
<perch:content id="embed" type="textarea" label="Embedded media" html="true" size="xs" />
<blockquote>
    &#8220;<perch:content id="testimonial" type="textarea" markdown="true" order="3" label="Testimonial" html="false" size="m" />&#8221;
    <cite>
    <perch:if exists="website">
        <a href="<perch:content id="website" order="5" type="text" label="Website" default="http://" html="false" />" rel="nofollow">
    </perch:if>
    <perch:content id="citation" type="text" order="1" label="Citation" title="true" html="false" /><perch:if exists="company">, </perch:if>
    <perch:content id="company" type="text" order="2" label="Company" html="false" />
    <perch:if exists="website">
        </a>
    </perch:if>
  </cite>
</blockquote>
<perch:content id="excerpt" order="4" type="textarea" label="Testimonial excerpt" count="chars" append="…" size="xs" help="Recommended length 200 characters" suppress="true" />
<perch:content id="date" type="date" label="Date" format="jS F Y" suppress="true" />
<perch:content id="featured" type="checkbox" suppress="true" label="Feature testimonial" value="featured" />
<perch:content id="slug" for="citation" type="slug" suppress="true" />
<a href="/testimonials" class="back">View more testimonials</a>

<perch:noresults>
    <p>Looks like the page you were after has been moved, deleted or doesn’t exist. Or maybe there was a typo in the link you followed. Don’t worry – all is not lost! Just use the navigation or search to find the page you were after.</p>
</perch:noresults>
