<blockquote>

  &#8220;<perch:content id="testimonial" type="textarea" striptags="true" />&#8221;

  <cite>&mdash;

    <perch:if exists="website">
      <a href="<perch:content id="website" type="text" />" rel="nofollow">
    </perch:if>

    <perch:content id="citation" type="text" /><perch:if exists="company">, </perch:if>
    <perch:content id="company" type="text" />

    <perch:if exists="website">
      </a>
    </perch:if>

  </cite>

</blockquote>

<a href="/testimonials/" class="go-to">View more testimonials</a>