<aside class="details">

  <p>Added <perch:content id="date" type="date" label="Date" format="jS F Y" />, modified <perch:content id="modified" format="jS F Y" /></p>

  <perch:categories id="Work" label="Type of work" set="work" required="true" display-as="checkboxes" divider-before="Meta">
    <perch:before>
      <perch:if exists="catSlug"><p class="cats">Work included <perch:else /></perch:if>
    </perch:before>
      <a href="/work/category/<perch:category id="catSlug" />"><perch:category id="catTitle" /></a><perch:if exists="perch_item_last"><perch:else />, </perch:if>
    <perch:after>
      </p>
    </perch:after>
  </perch:categories>

  <p><a href="<perch:content id="slug" for="title" type="slug" />" class="go-to">Visit <perch:content id="title" type="text" /> site</a></p>

  <p><a href="/work/" class="back">Back to work list</a></p>

</aside>