@mixin button {
  background-color: $colour-primary;
  border-radius: $border-radius-default;
  border: none;
  border-bottom: solid 3px $colour-primary-dark;
  color: $colour-white;
  display: inline-block; // Older browsers
  display: inline-flex;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  margin-top: 1em;
  padding: .5em 1em; // Older browsers
  padding: calc(.5em + 3px) 1em .5em;
  width: auto;
  @include dark-mode($colour: $colour-dark-mode-main) {
    border-bottom: solid 3px $colour-dark-mode-primary-dark;
  }
  @include high-contrast($colour-dark-mode-primary-light, $colour-high-contrast-main);

  @media (max-width: $xs) {
    padding: .25em;
  }

  svg {
    margin-right: .3em;
    margin-top: -.3em;
  }

  &:focus {
    outline: 3px solid $colour-black;
    @include dark-mode() {
      outline: 3px solid $colour-white;
    }
  }

  &:focus:not(:focus-visible) {
    outline: none;
    @include dark-mode() {
      outline: none;
    }
  }

  &:focus-visible {
    outline: 3px solid $colour-black;
    @include dark-mode() {
      outline: 3px solid $colour-white;
    }
  }

  &:hover {
    background-color: $colour-primary-dark;
    @include dark-mode($background: $colour-dark-mode-primary-light);
    @include high-contrast($background: $colour-high-contrast-primary-light);
  }

  &:active {
    position: relative;
    top: 3px;
    border-bottom: none;
    margin-bottom: 3px;
    // border-top: solid 2px transparent;
  }
}
