@mixin button {
  background-color: $colour-primary;
  border: 3px solid $colour-primary;
  border-radius: $border-radius-default;
  color: $colour-white;
  display: inline-block;
  display: inline-flex;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  margin-top: 1em;
  padding: .5em 2em;
  text-align: center;
  width: auto;
  text-decoration: none;
  @include dark-mode($colour-dark-mode-primary, $colour-dark-mode-main) {
    border-color: $colour-dark-mode-primary;
  }
  @include high-contrast($colour-dark-mode-primary-light, $colour-high-contrast-main) {
    border-color: $colour-dark-mode-primary-light;
  }

  @media (max-width: $xs) {
    padding: .25em;
  }

  svg {
    margin-right: .3em;
    margin-top: -.3em;
  }

  &:link,
  &:visited {
    color: $colour-white;
    text-decoration: none;
    @include dark-mode($colour: $colour-dark-mode-main);
    @include high-contrast($colour: $colour-high-contrast-main);
  }

  &:hover {
    border-color: $colour-primary-dark;
    background-color: $colour-primary-dark;
    @include dark-mode($background: $colour-dark-mode-primary-light) {
      border-color: $colour-dark-mode-primary-light;
    }
    @include high-contrast($background: $colour-high-contrast-primary-light) {
      border-color: $colour-high-contrast-primary-light;
    }
  }

  &:active {
    position: relative;
    top: 2px;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px $colour-black;
    background-color: $colour-primary;
    @include dark-mode($background: $colour-dark-mode-primary) {
      box-shadow: 0 0 0 3px $colour-white;
      border-color: $colour-dark-mode-primary;
    }
    @include high-contrast($background: $colour-dark-mode-primary-light) {
      border-color: $colour-dark-mode-primary-light;
    }
  }

  &:focus:not(:focus-visible) {
    box-shadow: none;
    background-color: $colour-primary;
    @include dark-mode($background: $colour-dark-mode-primary) {
      box-shadow: none;
    }
    @include high-contrast($background: $colour-dark-mode-primary-light);
  }

  &:focus-visible {
    box-shadow: 0 0 0 3px $colour-black;
    background-color: $colour-primary;
    @include dark-mode($background: $colour-dark-mode-primary) {
      box-shadow: 0 0 0 3px $colour-white;
      border-color: $colour-dark-mode-primary;
    }
    @include high-contrast($background: $colour-dark-mode-primary-light) {
      border-color: $colour-dark-mode-primary-light;
    }
  }
}
