@mixin dark-mode($background: null, $colour: null) {

  @media screen and (prefers-color-scheme: dark), screen and (prefers-contrast: more) {

    @if ($background != null and $colour != null) {
      background-color: $background;
      color: $colour;
      @content;
    }
    @else if ($background != null and $colour == null) {
      background-color: $background;
      @content;
    }
    @else if ($colour != null and $background == null) {
      color: $colour;
      @content;
    }
    @else {
      @content;
    }
  }
}

@mixin high-contrast($background: null, $colour: null) {

  @media screen and (prefers-contrast: more) {

    @if ($background != null and $colour != null) {
      background-color: $background;
      color: $colour;
      @content;
    }
    @else if ($background != null and $colour == null) {
      background-color: $background;
      @content;
    }
    @else if ($colour != null and $background == null) {
      color: $colour;
      @content;
    }
    @else {
      @content;
    }
  }
}

@mixin inline-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  li + li {
    margin-left: .5em;
  }

  a {
    display: inline-flex;
    min-height: 48px;
    align-items: center;
  }
}

@mixin text-link {
  border-radius: $border-radius-small;
  text-decoration-thickness: .08em;

  &:link,
  &:visited {
    color: $colour-primary;
    @include dark-mode($colour: $colour-dark-mode-primary);
    @include high-contrast($colour: $colour-dark-mode-primary-lighter);
  }

  &:hover {
    color: $colour-primary-darker;
    @include dark-mode($colour: $colour-dark-mode-primary-lighter);
    @include high-contrast($colour: $colour-high-contrast-primary-lighter);
  }

  &:active {
    color: $colour-black;
    @include dark-mode($colour: $colour-dark-mode-white);
  }

  &:focus {
    outline: none;
    background-color: $colour-white;
    box-shadow: 0 0 0 1px $colour-white, 0 0 0 4px $colour-black;
    box-decoration-break: clone;
    @include dark-mode($background: $colour-dark-mode-main) {
      box-shadow: 0 0 0 1px $colour-dark-mode-main, 0 0 0 4px $colour-white;
    }
    @include high-contrast($background: $colour-high-contrast-main) {
      box-shadow: 0 0 0 1px $colour-high-contrast-main, 0 0 0 4px $colour-white;
    }
  }

  &:focus:not(:focus-visible) {
    background-color: transparent;
    box-shadow: none;
    box-decoration-break: slice;
    @include dark-mode($background: transparent) {
      box-shadow: none;
    }
    @include high-contrast($background: transparent) {
      box-shadow: none;
    }
  }

  &:focus-visible {
    background-color: $colour-white;
    box-shadow: 0 0 0 1px $colour-white, 0 0 0 4px $colour-black;
    box-decoration-break: clone;
    @include dark-mode($background: $colour-dark-mode-main) {
      box-shadow: 0 0 0 1px $colour-dark-mode-main, 0 0 0 4px $colour-white;
    }
    @include high-contrast($background: $colour-high-contrast-main) {
      box-shadow: 0 0 0 1px $colour-high-contrast-main, 0 0 0 4px $colour-white;
    }
  }
}

@mixin highlight-box {
  background-color: $colour-highlight;
  @include dark-mode($background: $colour-dark-mode-highlight);
  @include high-contrast($background: $colour-high-contrast-highlight);
  border-radius: $border-radius-default;
  padding: 1em;

  a {

    &:focus {
      background-color: $colour-highlight;
      @include dark-mode($background: $colour-dark-mode-highlight);
      @include high-contrast($background: $colour-high-contrast-highlight);
    }

    &:focus:not(:focus-visible) {
      background-color: transparent;
      @include dark-mode($background: transparent);
      @include high-contrast($background: transparent);
    }

    &:focus-visible {
      background-color: $colour-highlight;
      @include dark-mode($background: $colour-dark-mode-highlight);
      @include high-contrast($background: $colour-high-contrast-highlight);
    }
  }
}

@mixin overspill {
  margin-left: calc(-1em);
  margin-right: calc(-1em);
}

@mixin overspill-reset {
  margin-left: 0;
  margin-right: 0;
}

@mixin boxout {
  @include highlight-box;

  @media (min-width: $l) {
    @include overspill;
  }
}

@mixin embedded-media {
  border-radius: $border-radius-default;
  background-color: $colour-highlight;
  @include dark-mode($background: $colour-dark-mode-highlight);
  @include high-contrast($background: $colour-high-contrast-highlight);
  display: block;
  box-shadow: 0 0 .25em lighten($colour-black, 50%);
  margin-bottom: 1em;
  margin-top: 1em;
  height: auto;
  width: 100%;

  @media (min-width: $l) {
    @include overspill;
  }

  @include dark-mode() {
    box-shadow: 0 0 .25em $colour-black;
  }
}
