$modularscale: (
  base: 1em,
  ratio: $major-third,
  $m: (
    ratio: $golden
  )
);

@mixin heading-style {
  margin-top: 1em;
  margin-bottom: .25em;
  letter-spacing: -.03em;
  font-weight: 700;
  hyphens: auto;

  @media (min-width: $s) {
    hyphens: none;
  }
}

@mixin heading-line-height-large {
  line-height: 1.2;

  @media (min-width: $xs) {
    line-height: 1.1;
  }
}

@mixin font-body {
  font-style: normal;
  line-height: 1.5;

  @include dark-mode() {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@mixin heading-xl {
  font-size: ms(3);
  @include heading-line-height-large;

  @media (max-width: $xxs) {
    font-size: ms(2);
  }

  @media (min-width: $m) {
    @include ms-respond(font-size, 3);
  }
}

@mixin heading-l {
  font-size: ms(2);
  @include heading-line-height-large;

  @media (max-width: $xxs) {
    font-size: ms(1);
  }

  @media (min-width: $m) {
    @include ms-respond(font-size, 2);
  }
}

@mixin heading-m {
  font-size: ms(1);
  @include heading-line-height-large;

  @media (max-width: $xxs) {
    font-size: ms(0);
  }

  @media (min-width: $m) {
    @include ms-respond(font-size, 1);
  }
}

@mixin heading-s {
  font-size: ms(0);
  line-height: 1.4;

  @media (max-width: $xxs) {
    font-size: ms(-1);
  }

  @media (min-width: $m) {
    @include ms-respond(font-size, 0);
  }
}

@mixin remove-list-styling {
  list-style: none;
  padding-left: 0;

  li:before {
    content: "\200B";
    position: absolute;
  }

  ul {
    list-style-type: disc;

    ul {
      padding-left: 1.5em;
    }
  }
}
