[role="contentinfo"] {
  clear: both;
  padding-bottom: 1em;
  text-align: center;
  @include top-divider;
  @include heading-font;

  p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .icon {
    font-size: 4em;
    line-height: 1;

    &:after {
      content: "";
      margin-left: 0;
    }
  }

  .keep-in-touch {

    li {
      display: inline-block;
      margin-left: 1.5em;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  address {
    display: inline;

    span {
      display: inline;
    }
  }

  .copyright {
    clear: both;
    margin-top: 2em;
    text-align: center;
    font-size: 0.833em;

    p {
      display: inline;
    }

    li {
      display: inline;
    }
  }
}

.useful-links {

  li {
    display: inline;
  }
}