[role="contentinfo"] {
  clear: both;
  padding-bottom: 1em;
  text-align: center;
  @include top-divider;
  border-bottom: $divider;
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    border-bottom: $divider;
    bottom: -3px;
    top: 0;
    width: 100%;
  }

  &:before {
    right: 100%;
  }

  &:after {
    left: 100%;
 }

  p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .icon {
    font-size: 4em;
    line-height: 1;

    &:after {
      content: "";
      margin-left: 0;
    }
  }

  .keep-in-touch {

    li {
      display: inline-block;
      margin-left: 1.5em;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  address {
    display: inline;

    span {
      display: inline;
    }
  }

  .copyright {
    clear: both;
    margin-top: 2em;
    text-align: center;
    font-size: 0.833em;
    font-weight: 100;

    p {
      display: inline;
    }

    li {
      display: inline;
    }
  }
}

.useful-links {

  li {
    display: inline;
  }
}