[role="search"] {

  label {
    @include icons;
    color: $colour-primary;
    font-size: 1.25em;
    position: absolute;
    padding: 0.5em 0.75em 0.4em;
    display: block;
    line-height: 1.25;
  }

  input {
    padding-left: 2.75em;
  }
}

[role="banner"] {

  [role="search"] {

    @media (min-width: $s) {
      max-width: 50%;
      margin-right: auto;
      margin-left: auto;
    }

    [type="submit"] {
      display: none;
    }
  }
}