.ie8 {

  body {
    width: 500px;
    font-size: 1.2em;
  }

  .logo {
    width: 230px;
    height: 79px;
    background-image: url('/assets/img/tempertemper-web-design-logo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .footer [href="https://twitter.com/tempertemper"] {

    &:before {
      content: 'Twitter:';
    }
  }
}

.ie9 {

  .teaser {

    li {
      float: left;
    }
  }
}
