<perch:before>
<ul class="hfeed">
</perch:before>

  <li class="hentry">

    <h2>
      <a href="/blog/<perch:blog id="postSlug" />" class="entry-title"><perch:blog id="postTitle" /></a>
    </h2>

    <p>Posted <span class="entry-published date"><perch:blog id="postDateTime" format="jS F Y" /></span> in
      <perch:categories id="categories" set="blog">
        <a href="/blog/category/<perch:category id="catSlug" />"><perch:category id="catTitle" /></a><perch:if exists="perch_item_last"><perch:else />, </perch:if>
      </perch:categories>
    </p>
    <p class="description entry-summary"><perch:blog id="excerpt" type="textarea" encode="false" /></p>

    <a href="/blog/<perch:blog id="postSlug" />" class="go-to">Read article</a>

  </li>

<perch:after>
</ul>
<perch:template path="pagination/blog.html" rescope="parent" />

</perch:after>