label {
  color: $colour-primary;
}

input,
textarea {
  display: block;
  width: 100%;
  border: 3px solid $colour-primary;
  border-radius: $border-radius-default;
  padding: 0.8em 1em;
  margin-bottom: 1em;
  transition: all .3s ease;

  &:focus {
    border-color: black;
  }
}

textarea {
  height: 10em;
}

input[type="submit"] {
  @include button;
}

[role="main"],
[role="complementary"] {

  [type="submit"] {

    &:focus {
      color: white;
    }
  }
}
