html,
body {
  overflow-x: hidden;
}

::selection {
  background: $colour-primary; // Safari
  color: white;
}

::-moz-selection {
  background: $colour-primary; // Firefox
  color: white;
}

[role="main"],
[role="complementary"] {

  section,
  aside {
    margin-bottom: 3em;
  }
}

.go-to {
  @include link-marker;
  clear: both;
  display: inline-block;
  @include heading-font;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: $border-radius-default;
}

.back {
  @include reverse-link-marker;
  @include heading-font;
}

.button {
  @include button;
}

pre {
  padding: 1em;
  background-color: black;
  color: white;
}

img,
address,
pre,
.map {
  margin-top: 1em;
  margin-bottom: 1em;
}

a img {
  margin-top: 0;
  margin-bottom: 0;
  display: inline;
}

[role="complementary"] aside {
  @include top-divider;
}

.wistia_embed,
.wistia_embed > div {
  width: 100% !important;
}

ul,
ol {

  .details {
    @include heading-font;
  }
}
