@font-face {
  font-family: "Icons";
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
       url('../fonts/icons.woff') format('woff'),
       url('../fonts/icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin icons {
  font-family: Icons;
  line-height: 1;
}

.icon {
  display: inline-block; // Fix for clickability issue in WebKit
}

[data-icon]:before {
  @include icons;
  content: attr(data-icon);
  speak: none;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
