@mixin clearfix {

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin link-marker {

  &:hover,
  &:active,
  &:focus {

    &:after {
      text-decoration: none;
    }
  }

  &:after {
    content: "\00a0\203A";
    display: inline-block;
  }
}

@mixin reverse-link-marker {

  &:hover,
  &:active,
  &:focus {

    &:before {
      text-decoration: none;
    }
  }

  &:before {
    content: "\2039";
    margin-right: 0.25em;
    display: inline-block;
  }
}

@mixin link-marker-reset {

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }

  &:after,
  &:before {
    position: absolute;
  }
}

@mixin button {
  text-align: center;
  display: inline-block;
  width: auto;
  border-radius: $border-radius-default;
  padding: 0.5em 2em;
  border-style: solid;
  border-width: 3px;
  margin-top: 1em;
  margin-bottom: 1em;
  border-color: $colour-primary;
  background-color: transparent;
  transition: all .3s ease;
  @include font-heading-regular;
  font-size: ms(1);

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    border-color: #000;
  }
}

@mixin button-primary {
  @include button;
  background-color: $colour-primary;
  color: #fff;

  &:link,
  &:visited {
    color: #fff;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: #000;
  }
}

@mixin button-secondary {
  @include button;
}

@mixin top-divider {
  margin-top: 4em;
  border-top: $divider;
}