.paging {
  clear: both;
  margin-top: 4em;
  line-height: 1;
  @include heading-font;

  .page {
    text-align: center;
    font-weight: bold;
  }

  .previous,
  .next {
    margin-top: -2em;
  }

  .previous {
    float: left;
    @include reverse-link-marker;
  }

  .next {
    float: right;
    @include link-marker;
  }
}
