.social {

  li {
    position: relative;
  }

  h2 {
    position: relative;
    padding-left: 2em;

    a {

      &:before {
        position: absolute;
        left: 0;
        top: -0.25em;
        line-height: 1;
        font-size: 1.5em;
        @include icons;
        display: inline-block;
      }
    }
  }

  .linkedin {

    h2 a:before {
      content: "\0069";
      color: $colour-linkedin;
    }
  }

  .twitter {

    h2 a:before {
      content: "\0074";
      color: $colour-twitter;
    }
  }

  .facebook {

    h2 a:before {
      content: "\0066";
      color: $colour-facebook;
    }
  }

  .mailing-list {

    h2 a:before {
      content: "\007D";
      color: $colour-primary;
    }
  }
}