---
layout: base.html
---

<h1>
    {%- if heading %}
        {{- heading | smart | safe }}
    {%- elif category %}
        {{- category | smart | safe }}
    {%- elif year %}
        Blog posts from {{ year }}
    {%- else %}
        {{- title | smart | safe }}
    {%- endif %}
</h1>
{%- if updated %}
    <p class="post-details">Last updated <span itemprop="dateModified" content="{{ updated | isoDate }}">{{ updated | date }}</span></p>
{% endif %}
{%- set isAbout = page.url == "/about.html" -%}
{%- if isAbout -%}
    <article data-pagefind-body>
{%- endif %}
{%- if pagination and pagination.pageNumber > 0 and not year %}
    <p>This is page {{ pagination.pageNumber + 1 }} of {{ pagination.hrefs.length }}.</p>
{%- elif year %}
    {%- set yearList = collections.post | filterByYear(year | int) %}
    {%- set currentYear = "" | getCurrentYear %}
    <p>There {% if (year | int) == (currentYear | int) %}have been{% else %}were{% endif %} {{ yearList | length }} posts in {{ year }}.</p>
{%- elif intro and not hideIntro %}
    {{- intro | markdown | safe }}
{%- endif -%}{{ content | safe }}
{%- if isAbout -%}
    </article>
{%- endif %}
