---
layout: base.html
---

<article>
    <h1>
        {%- if heading %}
            {{- heading | smart | safe }}
        {%- elif category %}
            {{- category | smart | safe }}
        {%- else %}
            {{- title | smart | safe }}
        {%- endif %}
    </h1>
    {%- if intro and not hideIntro %}
        {{- intro | markdown | safe }}
    {%- endif %}
    {{- content | safe }}
</article>

<section aria-labelledby="expertise" class="teaser">
    <h2 id="expertise">How I can help</h2>
    <p>Whether you need help building accessibility into your team, support delivering a digital service, or a new website built from scratch, I can help.</p>
    <div class="highlight-boxes">
        <ul>
        {%- for service in collections.service %}
            <li>
                <h2>
                    <a href="{{ service.url  | replace(".html", "") }}">
                        {{- service.data.title -}}
                    </a>
                </h2>
                {{ service.data.intro | smart | safe }}
            </li>
        {%- endfor %}
        </ul>
    </div>
</section>

<section aria-labelledby="writing" class="teaser">
    <h2 id="writing">Writing</h2>
    <p>I write a <em>lot</em>! You can dive straight to <a href="/blog/">my blog here</a>, but here are a couple of hand-picked articles to get you started:</p>
    <ul class="index-list" reversed>
        {%- set posts = collections.post | reverse %}
        {%- for post in posts %}
            {%- if post.data.featured === true %}
                {%- include "post-in-list.html" -%}
            {%- endif %}
        {%- endfor %}
    </ul>
</section>
