---
layout: base.html
---

<article>
    <h1>{{ title | smart | safe }}</h1>
    {{ content | safe }}
    {%- if sponsor and sponsor.display %}
        <h2>Brought to you by <a rel="sponsored" href="{{ sponsor.url }}">{{ sponsor.name }}</a></h2>
        <p>{{ sponsor.message }}</p>
        <a rel="sponsored" href="{{ sponsor.url }}" tabindex="-1" aria-hidden="true">
            <img height="256" width="256" class="thumbnail" src="/assets/img/sponsors/{{ sponsor.logo }}" alt="" loading="lazy" decoding="async" />
        </a>
    {%- endif %}
</article>

{%- set previous = collections.newsletter | getPreviousCollectionItem(page) %}
{%- set next = collections.newsletter | getNextCollectionItem(page) %}
<nav class="pagination" aria-label="pagination">
    <p>I've written <a href="/newsletter/archive">{{ collections.newsletter.length }} newsletters</a>. Go to:</p>
    {%- if next %}
        <a href="{{ next.url | replace('.html', '') }}">
            <span aria-hidden="true">←</span>
            {{ next.data.title | stripEmojis | smart | safe }}
        </a>
    {%- endif %}
    {%- if previous %}
        <a href="{{ previous.url | replace('.html', '') }}">
            {{ previous.data.title | stripEmojis | smart | safe }}
            <span aria-hidden="true">→</span>
        </a>
    {%- endif %}
</nav>

{% include "call-to-action.html" %}
