

<ul class="index-list">
        <li><h2>
    <a href="#">Jane Doe</a>
</h2>
<blockquote>
    &#8220;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos dolor alias accusamus blanditiis sunt maiores, expedita facilis placeat natus, nesciunt architecto, voluptates quidem itaque explicabo, assumenda necessitatibus quod nobis ut.&#8221;
</blockquote>
<div class="read-more">
    <a href="#" aria-label="View full testimonial from Jane Doe">View full testimonial</a>
</div>

</li>
        <li><h2>
    <a href="#">Dr. Makebelieve</a>
</h2>
<blockquote>
    &#8220;Quos dolor alias accusamus blanditiis sunt maiores, expedita facilis placeat natus, nesciunt architecto, voluptates quidem itaque explicabo, assumenda necessitatibus quod nobis ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit.&#8221;
</blockquote>
<div class="read-more">
    <a href="#" aria-label="View full testimonial from Dr. Makebelieve">View full testimonial</a>
</div>

</li>
        <li><h2>
    <a href="#">Mr. Pretend</a>
</h2>
<blockquote>
    &#8220;Cras ornare posuere nisl, eu viverra enim dapibus vel. Morbi egestas, arcu non sollicitudin pellentesque, nibh lorem tristique sapien, nec facilisis mi nulla et nisi.&#8221;
</blockquote>
<div class="read-more">
    <a href="#" aria-label="View full testimonial from Mr. Pretend">View full testimonial</a>
</div>

</li>
        <li><h2>
    <a href="#">John Doe</a>
</h2>
<blockquote>
    &#8220;Maecenas est magna, imperdiet in dui in, tempor elementum massa. Fusce sit amet tortor mauris. Ut libero magna, efficitur at ante eu, dictum dictum dolor.&#8221;
</blockquote>
<div class="read-more">
    <a href="#" aria-label="View full testimonial from John Doe">View full testimonial</a>
</div>

</li>
        <li><h2>
    <a href="#">Ms. Example</a>
</h2>
<blockquote>
    &#8220;Ut quis turpis rutrum, blandit metus et, accumsan velit. Etiam lacus risus, mollis quis finibus vel, sagittis a justo. Quos dolor alias accusamus blanditiis sunt maiores.&#8221;
</blockquote>
<div class="read-more">
    <a href="#" aria-label="View full testimonial from Ms. Example">View full testimonial</a>
</div>

</li>
</ul>

