<meta property="og:site_name" content="<perch:pages id="sitename" type="hidden" />" />
<meta property="og:url" content="<perch:pages id="url" type="hidden" />" />
<meta property="og:title" content="<perch:pages id="title" type="hidden" />" />
<meta property="og:description" content="<perch:pages id="description" type="textarea" />" />
<meta property="og:image" content="<perch:pages id="domain" type="hidden" /><perch:pages id="sharing_image" type="hidden" />" />
<meta property="og:type" content="<perch:pages id="type" type="hidden" />" />
<meta property="article:author" content="<perch:pages id="author" type="hidden" />" />