<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="<perch:pages id="twittername" type="hidden" />" />
<meta name="twitter:creator" content="<perch:pages id="twittername" type="hidden" />" />
<meta name="twitter:title" content="<perch:pages id="title" type="hidden" />" />
<meta name="twitter:description" content="<perch:pages id="description" type="textarea" />" />
<meta name="twitter:url" content="<perch:pages id="url" type="hidden" />" />
<meta property="twitter:image" content="<perch:pages id="domain" type="hidden" /><perch:pages id="sharing_image" type="hidden" />" />