<!DOCTYPE html>
<html style="padding-top: 0 !important; padding-bottom: 0 !important; background-color: white;">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width" />
        <title>tempertemper</title>
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/icons/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/icons/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/icons/apple-touch-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="167x167" href="/assets/img/icons/apple-touch-icon-167x167.png" />
        <link rel="n -touch-icon" sizes="180x180" href="/assets/img/icons/apple-touch-icon-180x180.png" />
        <link rel="icon" href="/assets/img/icons/favicon.png">
        <!--[if IE]><link rel="shortcut icon" href="/assets/img/icons/favicon.ico"><![endif]-->
        <link rel="mask-icon" href="/assets/img/icons/evaluagent.svg" color="black">
        <meta name="theme-color" content="#0097DB">
        <script>
            {% include 'html5shiv.min.js' %}
            {% include 'responsive-nav.min.js' %}
            var root = document.getElementsByTagName('html')[0];
            root.className += ' scripts ';
        </script>
        <style>
            @media screen and (max-width: 60em) {
                .scripts .nav-collapse {
                  display: none;
                }
            }
        </style>
        <link media="all" rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body>
        {{{ yield }}}
    </body>
</html>
