body {
  line-height: 1.5;
  color: black;
  @include font-regular;
  @include rms(0);
}

blockquote {
  background-color: $colour-primary-light;
  padding: 1em;
  border-radius: $border-radius-default;
  margin-right: 0;
  margin-left: 0;

  p {
    display: inline;
  }
}

cite {
  text-align: right;
  display: block;
  margin-top: 1em;
}

strong {
  @include font-bold;

  em {
    @include font-bold-italic;
  }
}

em {
  @include font-regular-italic;

  strong {
    @include font-bold-italic;
  }
}

ul,
ol {

  @media (max-width: $m) {
    padding-left: 1.5em;
  }
}

code {
  font-family: menlo, monaco, "Lucida Console", monospace;
}

@mixin remove-list-styling {
  list-style: none;
  padding-left: 0;
}

.portfolio-teaser,
.search [role="main"] {

  & > ul,
  & > ol {
    @include remove-list-styling;
  }
}

.portfolio-list,
.hfeed,
.social,
.downloads-list,
.comments,
.search-results,
.testimonial-list,
[role="contentinfo"] ul {
  @include remove-list-styling;
}