body {
  color: black;
  font-size: ms(0);
  @include font-body;

  @media (min-width: $s) {
    font-size: ms(1);
  }

  @media (min-width: $m) {
    font-size: ms(2);
  }
}

blockquote {
  background-color: $colour-primary-light;
  padding: 1em;
  border-radius: $border-radius-default;
  margin-right: 0;
  margin-left: 0;

  p {
    display: inline;
  }
}

cite {
  text-align: right;
  display: block;
  margin-top: 1em;
  @include font-heading-regular;
}

strong {
  font-weight: bold;

  em {
    font-style: italic;
  }
}

em {
  font-style: italic;

  strong {
    font-weight: bold;
  }
}

ul,
ol {

  @media (max-width: $l) {
    padding-left: 1.5em;
  }
}

code {
  font-family: menlo, monaco, "Lucida Console", monospace;
  font-size: 0.8em;
}

.portfolio-teaser,
.search [role="main"] {

  & > ul,
  & > ol {
    @include remove-list-styling;
  }
}

.portfolio-list,
.hfeed,
.social,
.downloads-list,
.comments,
.search-results,
.testimonial-list,
[role="contentinfo"] ul {
  @include remove-list-styling;
}