h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.414em 0 0.5em;
  line-height: 1.1;
  text-rendering: optimizeLegibility;
  @include font-light;
}

h1 {
  @include rms(4);
}

h2 {
  @include rms(3);
}

h3 {
  @include rms(2);
  @include font-regular;
}

h4 {
  @include rms(1);
  @include font-regular;
}

h5 {
  @include rms(0);
  @include font-regular;
}

h6 {
  @include rms(-1);
  @include font-bold;
}

[role="complementary"],
section,
article,
aside,
nav {

  h1 {
    @include rms(3);
  }

  h2 {
    @include rms(2);
  }

  h3 {
    @include rms(1);
    @include font-light;
  }

  h4 {
    @include rms(0);
    @include font-regular;
  }

  h5 {
    @include rms(-1);
    @include font-bold;
  }

  h6 {
    @include rms(-2);
    @include font-bold;
  }
}