h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.414em 0 0.5em;
  line-height: 1;
  text-rendering: optimizeLegibility;
  font-weight: 100;
}

h1 {
  @include rms(4);
}

h2 {
  @include rms(3);
}

h3 {
  @include rms(2);
  font-weight: 700;
}

h4 {
  @include rms(1);
  font-weight: 700;
}

h5 {
  @include rms(0);
  font-weight: 700;
}

h6 {
  @include rms(-1);
  font-weight: 700;
}

[role="complementary"],
section,
article,
aside,
nav {

  h1 {
    @include rms(3);
  }

  h2 {
    @include rms(2);
  }

  h3 {
    @include rms(1);
    font-weight: 100;
  }

  h4 {
    @include rms(0);
    font-weight: 300;
  }

  h5 {
    @include rms(-1);
    font-weight: 700;
  }

  h6 {
    @include rms(-2);
    font-weight: 700;
  }
}