@font-face {
  font-family: 'FS Me Light';
  src: url('../fonts/fs-me-light.woff') format('woff'),
       url('../fonts/fs-me-light.ttf') format('truetype');
}

@font-face {
  font-family: 'FS Me Light Italic';
  src: url('../fonts/fs-me-light-italic.woff') format('woff'),
       url('../fonts/fs-me-light-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'FS Me Regular';
  src: url('../fonts/fs-me-regular.woff') format('woff'),
       url('../fonts/fs-me-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FS Me Regular Italic';
  src: url('../fonts/fs-me-regular-italic.woff') format('woff'),
       url('../fonts/fs-me-regular-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'FS Me Bold';
  src: url('../fonts/fs-me-bold.woff') format('woff'),
       url('../fonts/fs-me-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'FS Me Bold Italic';
  src: url('../fonts/fs-me-bold-italic.woff') format('woff'),
       url('../fonts/fs-me-bold-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'FS Me Heavy';
  src: url('../fonts/fs-me-heavy.woff') format('woff'),
       url('../fonts/fs-me-heavy.ttf') format('truetype');
}

@font-face {
  font-family: 'FS Me Heavy Italic';
  src: url('../fonts/fs-me-heavy-italic.woff') format('woff'),
       url('../fonts/fs-me-heavy-italic.ttf') format('truetype');
}
