// FS Me Light
@font-face {
  font-family: "FS Me";
  src: url('../fonts/fs-me-light.eot');
  src: url('../fonts/fs-me-light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/fs-me-light.woff2') format('woff2'),
       url('../fonts/fs-me-light.woff') format('woff'),
       url('../fonts/fs-me-light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

// FS Me Regular
@font-face {
  font-family: "FS Me";
  src: url('../fonts/fs-me-regular.eot');
  src: url('../fonts/fs-me-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/fs-me-regular.woff2') format('woff2'),
       url('../fonts/fs-me-regular.woff') format('woff'),
       url('../fonts/fs-me-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// FS Me Regular Italic
@font-face {
  font-family: "FS Me";
  src: url('../fonts/fs-me-regular-italic.eot');
  src: url('../fonts/fs-me-regular-italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/fs-me-regular-italic.woff2') format('woff2'),
       url('../fonts/fs-me-regular-italic.woff') format('woff'),
       url('../fonts/fs-me-regular-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

// FS Me Bold
@font-face {
  font-family: "FS Me";
  src: url('../fonts/fs-me-bold.eot');
  src: url('../fonts/fs-me-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/fs-me-bold.woff2') format('woff2'),
       url('../fonts/fs-me-bold.woff') format('woff'),
       url('../fonts/fs-me-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
