@mixin rms($n) {
  font-size: ms($n, 1em, $minor-third);

  @media screen and (min-width: $s) {
    font-size: ms($n, 1.1em, $major-third);
  }

  @media screen and (min-width: $m) {
    font-size: ms($n, 1.2em, $major-third);
  }

  @media screen and (min-width: $l) {
    font-size: ms($n, 1.3em, $major-third);
  }
}

@mixin remove-list-styling {
  list-style: none;
  padding-left: 0;

  ul {
    list-style-type: disc;
  }
}
