$ms-base: $font-size;
$ms-ratio: $major-third;

@mixin heading-font {
  font-family: "FS Me", sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin heading-style {
  @include heading-font;
  margin: 1.414em 0 0em;
  line-height: 1.05;
  font-weight: 200;
}

@mixin body-font {
  font-family: Georgia, serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}

// HEADINGS

@mixin heading-xl {
  font-size: ms(4);

  @media (min-width: $m) {
    font-size: ms(6);
  }
}

@mixin heading-l {
  font-size: ms(3);

  @media (min-width: $m) {
    font-size: ms(5);
  }
}

@mixin heading-m {
  font-size: ms(2);

  @media (min-width: $m) {
    font-size: ms(4);
  }
}

@mixin heading-s {
  font-weight: bold;
  font-size: ms(1);

  @media (min-width: $m) {
    font-weight: 300;
    font-size: ms(3);
  }
}

@mixin heading-xs {
  font-weight: 200;
  font-size: ms(1);

  @media (min-width: $m) {
    font-size: ms(2);
  }
}

@mixin heading-xxs {
  font-weight: bold;
  font-size: ms(0);

  @media (min-width: $m) {
    font-size: ms(1);
  }
}

// GENERAL

@mixin remove-list-styling {
  list-style: none;
  padding-left: 0;

  ul {
    list-style-type: disc;
  }
}
