body {
  @include container(60em);
  padding-left: .5em;
  padding-right: .5em;
}

@media (min-width: $l) {

  [role="main"],
  [role="complementary"] {
    @include layout($wide-layout);
    @include pre(1 of 6);
    width: span(4 of 6);
  }
}

section,
aside,
article {
  margin-top: 5em;
  margin-bottom: 5em;
}

[role="contentinfo"] {
  margin-top: 5em;
}

form {
  margin-top: 2em;
  margin-bottom: 2em;
}

.post-groups {

  @media (min-width: $xs) {
    @include layout($wide-layout);

    .cats {
      @include span(3 of 6);
    }

    .years {
      @include span(last 3 of 6);
    }

    .tags {
      @include clearfix;
      clear: both;
    }
  }
}
