@use '../../admin/variables' as variables;
@use '../../admin/mixins--typography' as typographyMixins;

html {
  font-family: 'FS Me Web', sans-serif;
  color: variables.$colour-black;
  font-size: 120%;
  font-feature-settings: "liga";
  font-synthesis-weight: none;
  @include typographyMixins.font-body;

  @media (max-width: variables.$xxs) {
    font-size: 100%;
    line-height: 1.2;
  }

  @media (min-width: variables.$m) {
    font-size: 150%;
  }

  @media (min-width: variables.$xl) {
    font-size: 180%;
  }
}

p,
ul,
ol,
blockquote {
  max-width: 30em;
}
