@use '../../admin/variables' as variables;

::selection {
  background-color: variables.$colour-light-mode-text-highlight-background;
  background-color: light-dark(
    variables.$colour-light-mode-text-highlight-background,
    variables.$colour-dark-mode-text-highlight-background
  );
  color: variables.$colour-light-mode-text-highlight-foreground;
  color: light-dark(
    variables.$colour-light-mode-text-highlight-foreground,
    variables.$colour-dark-mode-text-highlight-foreground
  );
  @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
    background-color: variables.$colour-dark-mode-high-contrast-text-highlight-background;
    color: variables.$colour-dark-mode-high-contrast-text-highlight-foreground;
  }
}

blockquote {
  border-left: .15em solid variables.$colour-light-mode-accent;
  border-left-color: light-dark(
    variables.$colour-light-mode-accent,
    variables.$colour-dark-mode-accent
  );
  margin-left: 0;
  margin-right: 0;
  padding: .25em 0 .25em .85em;

  @media (min-width: variables.$l) {
    margin-left: -1em;

    blockquote {
      margin-left: 0;
    }
  }

  @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
    border-left-color: variables.$colour-dark-mode-high-contrast-accent;
  }

  ul,
  ol {
    padding-left: 1em;
  }

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  img:last-child {
    margin-bottom: .5em;
  }
}

ul,
ol {

  @media (max-width: variables.$l) {
    padding-left: 1.5em;
  }

  ul {
    padding-left: 1em;
  }

  ol {
    padding-left: 1.25em;
  }

  ul {
    list-style-type: disc;
  }
}

li {

  &::marker {
    color: variables.$colour-light-mode-accent;
    color: light-dark(
      variables.$colour-light-mode-accent,
      variables.$colour-dark-mode-accent
    );
    @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
      color: variables.$colour-dark-mode-high-contrast-accent;
    }
  }

  ul &::marker {
    font-size: 1.5em;
    line-height: 1;
  }

  ul ol &::marker {
    font-size: 1em;
  }
}

dt {
  font-weight: 700;

  kbd {
    font-weight: 400;
  }
}

small {
  display: block;
  font-size: 100%;
  font-style: italic;
}

mark {
  background-color: variables.$colour-light-mode-text-highlight-background;
  background-color: light-dark(
    variables.$colour-light-mode-text-highlight-background,
    variables.$colour-dark-mode-text-highlight-background
  );
  color: variables.$colour-light-mode-text-highlight-foreground;
  color: light-dark(
    variables.$colour-light-mode-text-highlight-foreground,
    variables.$colour-dark-mode-text-highlight-foreground
  );
  @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
    background-color: variables.$colour-dark-mode-high-contrast-text-highlight-background;
    color: variables.$colour-dark-mode-high-contrast-text-highlight-foreground;
  }
}
