@use '../admin/variables';
@use '../admin/mixins--general' as generalMixins;
@use '../admin/mixins--modes' as modeMixins;

@mixin button {
  background-color: variables.$colour-primary;
  border-radius: variables.$border-radius-default;
  box-shadow: 0 3px 0 variables.$colour-primary-dark;
  color: variables.$colour-white;
  font-weight: 700;
  margin-top: 1em;
  padding: calc(.5em + 3px) 1em .5em;
  width: auto;
  @include modeMixins.dark-mode($colour: variables.$colour-dark-mode-main) {
    box-shadow: 0 3px 0 variables.$colour-dark-mode-primary-dark;
  }
  @include modeMixins.high-contrast(variables.$colour-dark-mode-primary-light, variables.$colour-high-contrast-main);

  @media (max-width: variables.$xs) {
    padding: .25em;
  }

  &:focus {
    outline: 3px solid variables.$colour-black;
    @include modeMixins.dark-mode() {
      outline: 3px solid variables.$colour-white;
    }
  }

  &:focus:not(:focus-visible) {
    outline: none;
    @include modeMixins.dark-mode() {
      outline: none;
    }
  }

  &:focus-visible {
    outline: 3px solid variables.$colour-black;
    @include modeMixins.dark-mode() {
      outline: 3px solid variables.$colour-white;
    }
  }

  &:hover {
    background-color: variables.$colour-primary-dark;
    box-shadow: 0 3px 0 variables.$colour-dark-mode-primary-dark;
    @include modeMixins.dark-mode($background: variables.$colour-dark-mode-primary-light);
    @include modeMixins.high-contrast($background: variables.$colour-high-contrast-primary-light);
  }

  &:active {
    position: relative;
    top: 3px;
    box-shadow: none;
  }
}
