@use './variables';

@mixin scroll-container {

  &:focus {
    outline: 3px solid currentColor;
    outline-offset: 1px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 3px solid currentColor;
    outline-color: light-dark(
      currentColor,
      variables.$colour-dark-mode-foreground
    );
    outline-offset: 1px;

    @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
      outline-color: variables.$colour-dark-mode-high-contrast-focus;
    }
  }
}
