@use '../admin/variables';

@mixin button {
  background-color: variables.$colour-primary;
  border-radius: variables.$border-radius-default;
  box-shadow: 0 3px 0 variables.$colour-primary-dark;
  box-shadow: 0 3px 0 light-dark(
    variables.$colour-primary-dark,
    variables.$colour-dark-mode-primary-dark
  );
  color: variables.$colour-white;
  color: light-dark(
    variables.$colour-white,
    variables.$colour-dark-mode-main
  );
  font-weight: 700;
  margin-top: 1em;
  padding: calc(.5em + 3px) 1em .5em;
  width: auto;
  @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
    background-color: variables.$colour-dark-mode-primary-light;
    color: variables.$colour-dark-mode-high-contrast-main;
    box-shadow: 0 3px 0 variables.$colour-dark-mode-primary-dark;
  }

  @media (max-width: variables.$xs) {
    padding: .25em;
  }

  &:focus {
    outline: 3px solid variables.$colour-black;
    outline-color: light-dark(
      variables.$colour-black,
      variables.$colour-white
    );
    @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
      outline-color: variables.$colour-white;
    }
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 3px solid variables.$colour-black;
    outline-color: light-dark(
      variables.$colour-black,
      variables.$colour-white
    );
    @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
      outline-color: variables.$colour-white;
    }
  }

  &:hover {
    background-color: variables.$colour-primary-dark;
    background-color: light-dark(
      variables.$colour-primary-dark,
      variables.$colour-dark-mode-primary-light
    );
    box-shadow: 0 3px 0 variables.$colour-dark-mode-primary-dark;
    @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
      background-color: variables.$colour-dark-mode-high-contrast-primary-light;
    }
  }

  &:active {
    position: relative;
    top: 3px;
    box-shadow: none;
  }
}
