@use './variables' as variables;
@use './mixins--modes' as modeMixins;

@mixin heading-style {

  & {
    margin-top: 1em;
    margin-bottom: .25em;
    letter-spacing: -.03em;
    font-weight: 700;
    hyphens: none;
  }
}

@mixin heading-line-height-large {

  & {
    line-height: 1.1;

    @media (min-width: variables.$m) {
      line-height: 1.025;
    }
  }
}

@mixin font-body {

  & {
    font-style: normal;
    line-height: 1.5;
  }

  @include modeMixins.dark-mode() {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@mixin heading-xl {

  & {
    font-size: variables.$major-third-3;
    hyphens: manual;
  }

  @include heading-line-height-large;

  @media (max-width: variables.$xxs) {
    font-size: variables.$major-third-2;
  }

  @media (max-width: variables.$xs) {
    hyphens: auto;
  }

  @media (min-width: variables.$m) {
    font-size: variables.$golden-3;
  }
}

@mixin heading-l {

  & {
    font-size: variables.$major-third-2;
  }

  @include heading-line-height-large;

  @media (max-width: variables.$xxs) {
    font-size: variables.$major-third-1;
  }

  @media (max-width: variables.$xs) {
    hyphens: auto;
  }

  @media (min-width: variables.$m) {
    font-size: variables.$golden-2;
  }
}

@mixin heading-m {

  & {
    font-size: variables.$major-third-1;
  }

  @include heading-line-height-large;

  @media (max-width: variables.$xxs) {
    font-size: 1em;
  }

  @media (min-width: variables.$m) {
    font-size: variables.$golden-1;
  }
}

@mixin heading-s {

  & {
    font-size: 1em;
    line-height: 1.4;
  }

  @media (max-width: variables.$xxs) {
    font-size: variables.$major-third-minus-1;
  }

  @media (min-width: variables.$m) {
    font-size: 1em;
  }
}

@mixin remove-list-styling {

  & {
    list-style: none;
    padding-left: 0;
  }

  li::before {
    content: "\200B";
    position: absolute;
  }

  ul {
    list-style-type: disc;

    ul {
      padding-left: 1.5em;
    }
  }
}
