@use '../admin/variables';

@mixin button {
  background-color: variables.$colour-light-mode-accent;
  border-radius: variables.$border-radius-default;
  box-shadow: 0 3px 0 variables.$colour-light-mode-accent-shadow;
  box-shadow: 0 3px 0 light-dark(
    variables.$colour-light-mode-accent-shadow,
    variables.$colour-dark-mode-accent-shadow
  );
  color: variables.$colour-light-mode-accent-foreground;
  color: light-dark(
    variables.$colour-light-mode-accent-foreground,
    variables.$colour-dark-mode-accent-foreground
  );
  font-weight: 700;
  margin-top: 1em;
  padding: calc(.5em + 3px) 1em .5em;
  width: auto;
  @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
    background-color: variables.$colour-dark-mode-high-contrast-accent;
    color: variables.$colour-dark-mode-high-contrast-accent-foreground;
    box-shadow: 0 3px 0 variables.$colour-dark-mode-high-contrast-accent-shadow;
  }

  @media (max-width: variables.$xs) {
    padding: .25em;
  }

  &:focus {
    outline: 3px solid variables.$colour-light-mode-focus;
    outline-color: light-dark(
      variables.$colour-light-mode-focus,
      variables.$colour-dark-mode-focus
    );
    @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
      outline-color: variables.$colour-dark-mode-high-contrast-focus;
    }
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 3px solid variables.$colour-light-mode-focus;
    outline-color: light-dark(
      variables.$colour-light-mode-focus,
      variables.$colour-dark-mode-focus
    );
    @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
      outline-color: variables.$colour-dark-mode-high-contrast-focus;
    }
  }

  &:hover {
    background-color: variables.$colour-light-mode-accent-strong;
    background-color: light-dark(
      variables.$colour-light-mode-accent-strong,
      variables.$colour-dark-mode-accent-strong
    );
    box-shadow: 0 3px 0 variables.$colour-dark-mode-accent-shadow;
    @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
      background-color: variables.$colour-dark-mode-high-contrast-accent-strong;
    }
  }

  &:active {
    position: relative;
    top: 3px;
    box-shadow: none;
  }
}
