@use './variables' as variables;


@mixin text-interaction {
  border-radius:variables.$border-radius-small;

  &:hover {
    color: variables.$colour-primary-dark;
    color: light-dark(
      variables.$colour-primary-dark,
      variables.$colour-dark-mode-primary-light
    );
    @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
      color: variables.$colour-high-contrast-primary-light;
    }
  }

  &:active {
    color: variables.$colour-black;
    color: light-dark(
      variables.$colour-black,
      variables.$colour-dark-mode-white
    );
    @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
      color: variables.$colour-dark-mode-white;
    }
  }

  &:focus {
    outline: 3px solid variables.$colour-black;
    outline-color: light-dark(
      variables.$colour-black,
      variables.$colour-white
    );
    outline-offset: 1px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
      outline-color: variables.$colour-white;
    }
  }

  &:focus:not(:focus-visible) {
    outline: none;
    -webkit-box-decoration-break: slice;
    box-decoration-break: slice;
  }

  &:focus-visible {
    outline: 3px solid variables.$colour-black;
    outline-color: light-dark(
      variables.$colour-black,
      variables.$colour-white
    );
    outline-offset: 1px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
      outline-color: variables.$colour-white;
    }
  }
}

@mixin text-link {

  &:link,
  &:visited {
    color: variables.$colour-primary-darker;
    color: light-dark(
      variables.$colour-primary-darker,
      variables.$colour-primary
    );
    @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
      color: variables.$colour-dark-mode-primary-light;
    }
  }

  @include text-interaction;
}
