@use './variables' as variables;


@mixin text-interaction {
  border-radius:variables.$border-radius-small;

  &:hover {
    color: variables.$colour-light-mode-accent-strong;
    color: light-dark(
      variables.$colour-light-mode-accent-strong,
      variables.$colour-dark-mode-accent-strong
    );
    @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
      color: variables.$colour-dark-mode-high-contrast-accent-strong;
    }
  }

  &:active {
    color: variables.$colour-light-mode-foreground;
    color: light-dark(
      variables.$colour-light-mode-foreground,
      variables.$colour-dark-mode-foreground
    );
    @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
      color: variables.$colour-dark-mode-high-contrast-foreground;
    }
  }

  &:focus {
    outline: 3px solid variables.$colour-light-mode-foreground;
    outline-color: light-dark(
      variables.$colour-light-mode-foreground,
      variables.$colour-dark-mode-foreground
    );
    outline-offset: 1px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
      outline-color: variables.$colour-dark-mode-high-contrast-focus;
    }
  }

  &:focus:not(:focus-visible) {
    outline: none;
    -webkit-box-decoration-break: slice;
    box-decoration-break: slice;
  }

  &:focus-visible {
    outline: 3px solid variables.$colour-light-mode-foreground;
    outline-color: light-dark(
      variables.$colour-light-mode-foreground,
      variables.$colour-dark-mode-foreground
    );
    outline-offset: 1px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
      outline-color: variables.$colour-dark-mode-high-contrast-focus;
    }
  }
}

@mixin text-link {

  &:link,
  &:visited {
    color: variables.$colour-light-mode-accent-text;
    color: light-dark(
      variables.$colour-light-mode-accent-text,
      variables.$colour-dark-mode-accent-text
    );
    @media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
      color: variables.$colour-dark-mode-high-contrast-accent-text;
    }
  }

  @include text-interaction;
}
