@use './variables' as variables;
@use './mixins--typography' as typographyMixins;
@use './mixins--modes' as modeMixins;

@mixin container {
  max-width: 40em;
  margin-right: auto;
  margin-left: auto;
  padding-left: .5em;
  padding-right: .5em;

  @media (min-width: variables.$m) {
    padding-left: 1em;
    padding-right: 1em;
  }

  @media (min-width: variables.$l) {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@mixin inline-nav {

  & {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  li + li {
    margin-left: .5em;
  }
}

@mixin highlight-box {

  & {
    background-color: variables.$colour-highlight;
    border-radius: variables.$border-radius-default;
    padding: 1em;
  }

  @include modeMixins.dark-mode($background: variables.$colour-dark-mode-highlight);
  @include modeMixins.high-contrast($background: variables.$colour-high-contrast-highlight);

  a {

    &:focus {
      background-color: variables.$colour-highlight;
      @include modeMixins.dark-mode($background: variables.$colour-dark-mode-highlight);
      @include modeMixins.high-contrast($background: variables.$colour-high-contrast-highlight);
    }

    &:focus:not(:focus-visible) {
      background-color: transparent;
      @include modeMixins.dark-mode($background: transparent);
      @include modeMixins.high-contrast($background: transparent);
    }

    &:focus-visible {
      background-color: variables.$colour-highlight;
      @include modeMixins.dark-mode($background: variables.$colour-dark-mode-highlight);
      @include modeMixins.high-contrast($background: variables.$colour-high-contrast-highlight);
    }
  }

  > h2,
  > h3 {
    margin-top: .25em;
  }
}

@mixin overspill {
  margin-left: calc(-1em);
  margin-right: calc(-1em);
}

@mixin overspill-reset {
  margin-left: 0;
  margin-right: 0;
}

@mixin boxout {
  @include highlight-box;

  @media (min-width: variables.$l) {
    @include overspill;
  }
}

@mixin boxes-in-list {

  ul,
  ol {
    max-width: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-left: 0;

    @media (min-width: variables.$m) {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    @media (min-width: variables.$l) {
      @include overspill;
    }
  }

  li {
    flex: 1 1 calc((100% - 1em) / 2);
    min-width: 0;

    @include typographyMixins.remove-list-styling;
    @include highlight-box;

    h2 {
      @include typographyMixins.heading-m;
    }
  }
}

@mixin embedded-media {
  border-radius: variables.$border-radius-default;
  background-color: variables.$colour-highlight;
  display: block;
  box-shadow: 0 0 .25em variables.$colour-grey;
  margin-bottom: 1em;
  margin-top: 1em;
  height: auto;
  width: 100%;
  @include modeMixins.dark-mode($background: variables.$colour-dark-mode-highlight);
  @include modeMixins.high-contrast($background: variables.$colour-high-contrast-highlight);

  @media (min-width: variables.$l) {
    @include overspill;
  }

  @include modeMixins.dark-mode() {
    box-shadow: 0 0 .25em variables.$colour-black;
  }
}

@mixin divider {
  border-top: 2px solid variables.$colour-primary;
}
