nav {
  font-family: $font--heading;

  .selected a,
  .ancestor a {

    &:link,
    &:visited {
      color: $colour-primary-darkest;
    }

    &:hover,
    &:active,
    &:focus {
      color: $black;
    }
  }
}

[role="navigation"] {
  width: 100%;

  ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: .75em;
    padding-left: 0;
    padding-top: .75em;
    text-align: center;

    @media screen and (min-width: $l) {
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  a {
    display: block;
    padding-bottom: .25em;
    padding-top: .25em;
  }
}

.nav-collapse {

  ul {
    display: block;
    list-style: none;
    margin: 0;
    width: 100%;
  }

  li {
    display: block;
    width: 100%;
  }

  .js & {
    clip: rect(0 0 0 0);
    display: block;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    zoom: 1;
  }

  &.opened {
    max-height: 9999px;
    overflow: hidden;
    position: relative;
  }
}

.disable-pointer-events {
  pointer-events: none;
}

.nav-toggle {
  border: 3px solid $colour-primary;
  border-radius: $border-radius-default;
  cursor: pointer;
  padding: .4em;
  -webkit-tap-highlight-color: $black;
  -webkit-touch-callout: none;
  user-select: none;

  svg {
    height: 100%;
    width: 100%;
  }

  path {
    color: $colour-primary;
    transition: all 284ms ease;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: $black;

    path {
      fill: $black;
    }
  }

  &.active {

    .top {
      transform: rotate(45deg) translate(8px, -5px);
    }

    .middle {
      opacity: 0;
    }

    .bottom {
      transform: rotate(-45deg) translate(-18px, -6px);
    }
  }

  button {
    $svg-height: 2em;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: block;
    height: $svg-height;
    outline: none;
    padding: 0;
    width: $svg-height;

    @media screen and (min-width: $s) {
      height: $svg-height * 1.4;
      width: $svg-height * 1.4;
    }
  }

  @media screen and (min-width: $l) {
    display: none;
  }
}

@media screen and (min-width: $l) {

  .js {

    .nav-collapse {
      position: relative;

      &.closed {
        max-height: none;
      }
    }
  }

  [role="navigation"] {
    float: right;
    position: relative;
    width: auto;

    ul {
      float: left;
      margin-top: .2em;
      padding-bottom: .3em;
      width: auto;

      @media (min-width: $l) {
        padding-right: 3em;
      }
    }

    li {
      @include inline-nav;
    }
  }
}
