---
title: Articles by Martin Underhill
heading: Blog
intro: |
    If you’re interested in design and front-end dev, you’ll enjoy this blog. If you’re a website owner looking for tips, check out the [Resources](/resources). Categories are [listed elsewhere](/categories).
description: A blog for designers and front-end web developers. Covering topics such as accessibility, the web, Git and design from interesting companies such as Apple.
layout: default
noCta: true
listing: true
---

<ol class="hfeed index-list" reversed>
    {% for post in collections.post | reverse %}
        {% include "post-in-list.html" %}
    {% endfor %}
</ol>
