---
pagination:
  data: collections
  size: 1
  alias: category
  filter:
    - all
    - resource
    - testimonial
    - post
    - Accessibility
    - Admin
    - Backup
    - Brand
    - Content
    - Email
    - Markdown
    - Marketing
    - Meta-data
    - Performance
    - Search
    - Security
    - Social-media
    - Speed
    - Updates
layout: layouts/base
permalink: /blog/category/{{ category | lower | replace(' ', '-') }}.html
---

<ol class="hfeed index-list">
    {% set categoryList = collections[ category ] %}
    {% for post in categoryList | reverse %}
        {% include "post-in-list.html" %}
    {% endfor %}
</ol>
