---
pagination:
  data: collections
  size: 1
  alias: category
  filter:
    - all
    - resource
    - testimonial
    - post
layout: base
permalink: /category/{{ category | slug | safe }}.html
---

<p>Articles and resources in the {{ category }} category. A <a href="/categories">full list of categories</a> is also available.</p>

<ol class="hfeed index-list">
    {% set categoryList = collections[ category ] %}
    {% for post in categoryList | reverse %}
        {% include "post-in-list.html" %}
    {% endfor %}
</ol>
