---
title: Thoughts on web design and front-end development
intro: |
    I’m Martin, an interaction designer, front-end developer and co-founder of [Frontend NE](https://2019.frontendne.co.uk). I write and speak about the web, accessibility, user-centred design and front-end development.
layout: base
home: true
---

<section class="teaser">
    <h2>From the blog</h2>
    <ol class="index-list">
        {% set mostRecentPost = collections.post[collections.post.length - 1] %}
        {% set secondMostRecentPost = collections.post[collections.post.length - 2] %}
        {% set post = mostRecentPost %}
        {% include "post-in-list.html" %}
        {% set post = secondMostRecentPost %}
        {% include "post-in-list.html" %}
    </ol>
    <div class="read-more">
        <a href="/blog">View more posts</a>
    </div>
</section>
